<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	<div class="bsp-row">

		<div class="bsp-column-full">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>
		
	</div>
</div>
