<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	<div class="bsp-row">

		<div class="bsp-column-full">
			{{#with main}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>
		
	</div>
</div>