<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

	{{#with aboveColumns}}
		{{#each components}}
			{{render this}}
		{{/each}}
	{{/with}}

	<div class="bsp-row">

		<div class="bsp-column-aside">
			{{#with aside}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>

		<div class="bsp-column-main">
			{{#with main}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>

	</div>
</div>
