<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

    {{#each aboveColumns}}
        {{render this}}
    {{/each}}

	<div class="bsp-row">

		<div class="bsp-column-half">
            {{#each first}}
                {{render this}}
            {{/each}}
		</div>

		<div class="bsp-column-half">
            {{#each second}}
                {{render this}}
            {{/each}}
		</div>
		
	</div>
</div>
