<div class="bsp-container">

	{{#with aboveColumns}}
		{{#each components}}
			{{render this}}
		{{/each}}
	{{/with}}

	<div class="bsp-row">

		<div class="bsp-column-half">
			{{#with main}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>

		<div class="bsp-column-half">
			{{#with aside}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>
		
	</div>
</div>