<div class="bsp-container{{#if modifierClass}} {{modifierClass}}{{/if}}">

    {{#each aboveColumns}}
        {{render this}}
    {{/each}}

	<div class="bsp-row">

		<div class="bsp-column-aside">
            {{#each aside}}
                {{render this}}
            {{/each}}
		</div>

		<div class="bsp-column-main">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>

	</div>
</div>
