.Main {
    display: flex;
    flex-flow: column;

    > * {
        margin: 0 0 1rem 0;
    }

    &-breadcrumbs {
        &:extend(.Main-breadcrumbs all);

        order: 10000;
    }

    &-slug {
        &:extend(.Main-slug all);

        font-size: .5rem;
        font-weight: bold;
        order: 20000;
    }

    &-headline {
        &:extend(.Main-headline all);

        font-size: 2rem;
        order: 30000;
    }

    &-subHeadline {
        &:extend(.Main-subHeadline all);

        order: 40000;
    }

    &-byline {
        &:extend(.Main-byline all);

        order: 50000;
    }

    &-tags {
        &:extend(.Main-tags all);

        order: 60000;
    }

    &-socialSharing {
        &:extend(.Main-socialSharing all);

        order: 70000;
    }

    &-comments {
        &:extend(.Main-comments all);

        order: 80000;
    }

    &-relatedContent {
        &:extend(.Main-relatedContent all);

        order: 90000;
    }
}