@import "icon.vars";

@color-twitter: #00aced;
@color-facebook: #3b5998;
@color-linkedin: #007bb5;
@color-pinterest: #cb2027;
@color-instagram: #5b2e07;
@color-tumblr: #3a4a61;
@color-email: #000;
@color-reddit: #000;

@font-face {
    font-family: 'ic-iconfont';
    src:    url('ic-iconfont.eot?5c8lnx');
    src:    url('ic-iconfont.eot?5c8lnx#iefix') format('embedded-opentype'),
        url('ic-iconfont.ttf?5c8lnx') format('truetype'),
        url('ic-iconfont.woff?5c8lnx') format('woff'),
        url('ic-iconfont.svg?5c8lnx#ic-iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class~="share-link"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ic-iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 ic-iconfont; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-secondary {
    .icon();
    font-size: 30px;
    height: 30px;
    width: 30px;
}

/*
@media @mq-md {
    .icon-secondary {
        font-size: 42px;
        height: 42px;
        width: 42px;
    }
}
*/

.icon-lock:before {
    content: @icon-lock;
}
.icon-picture:before {
    content: @icon-picture;
}
.icon-play-button:before {
    content: @icon-play-button;
}
.icon-angle-down:before {
    content: @fa-var-angle-down;
}
.icon-angle-down-after:after {
    content: @fa-var-angle-down;
}
.icon-angle-left:before {
    content: @fa-var-angle-left;
}
.icon-angle-right:before {
    content: @fa-var-angle-right;
}
.icon-angle-up:before {
    content: @fa-var-angle-up;
}
.icon-angle-up-after:after {
    content: @fa-var-angle-up;
}
.icon-bars:before {
    content: @fa-var-bars;
}
.icon-caret-down:before {
    content: @fa-var-caret-down;
}
.icon-close:before {
    content: @fa-var-close;
}
.icon-comment:before {
    content: @fa-var-comment;
}
.icon-external-link:before {
    content: @fa-var-external-link;
}
.icon-facebook {
    color: @color-facebook;
    &:before {
        content: @fa-var-facebook;
    }
}
.icon-google {
    &:before {
        content: @fa-var-google;
    }
}
.icon-google-plus {
    &:before {
        content: @fa-var-google-plus;
    }
}
.icon-info-circle:before {
    content: @fa-var-info-circle;
}
.icon-instagram {
    color: @color-instagram;
    &:before {
        content: @fa-var-instagram;
    }
}
.icon-linkedin {
    color: @color-linkedin;
    &:before {
        content: @fa-var-linkedin;
    }
}
.icon-pinterest {
    color: @color-pinterest;
    &:before {
        content: @fa-var-pinterest;
    }
}
.icon-retweet:before {
    content: @fa-var-retweet;
}
.icon-search:before {
    content: @fa-var-search;
}
.icon-flag:before {
    content: @fa-var-flag;
}
.icon-share:before {
    content: @fa-var-share;
}
.icon-star:before {
    content: @fa-var-star;
}
.icon-th-large:before {
    content: @fa-var-th-large;
}
.icon-thumbs-up:before {
    content: @fa-var-thumbs-up;
}
.icon-thumbs-down:before {
    content: @fa-var-thumbs-down;
}
.icon-tumblr {
    color: @color-tumblr;
    &:before {
        content: @fa-var-tumblr;
    }
}
.icon-twitter {
    color: @color-twitter;
    &:before {
        content: @fa-var-twitter;
    }
}

.share-link.icon-secondary-email:before {
    content: @icon-email;
}
.share-link.icon-secondary-facebook {
    color: @color-facebook;
    &:before {content: @icon-facebook;}
}
.share-link.icon-secondary-pinterest {
    color: @color-pinterest;
    &:before {content: @icon-pinterest;}
}
.share-link.icon-secondary-reddit {
    color: @color-reddit;
    &:before {content: @icon-reddit;}
}
.share-link.icon-secondary-tumblr {
    color: @color-tumblr;
    &:before {content: @icon-tumblr;}
}
.share-link.icon-secondary-twitter {
    color: @color-twitter;
    &:before {content: @icon-twitter;}
}
.share-link.icon-secondary-linkedin {
    color: @color-linkedin;
    &:before {content: @icon-linkedin;}
}
