.article-wrapper {

}

.article {
    border-top: @border-style-1;
    padding: @space-triple 0 @space;

    &:first-of-type {
        border-top: none;
        margin-top: -@space-triple;
    }

    .share-links {
        margin-bottom: @space;
    }

    // when we have a component inside of an article, remove the padding.
    // We let natural margins of p tags and others in the contentdo the spacing instead
    .component {
        padding: 0;
    }

}

.article-content {
    &:extend(.clearfix all);

    p {
        margin: 0 0 @space-double 0;
    }
}

.article-enhancement {
    margin: @space 0;

    // on xsmall, there is only center alignment
    &.align-left, &.align-right, &.align-center {
        margin: @space auto;
        text-align: center;
    }

    .img-with-meta {
        margin: 0 auto;
    }

    .related-link {
        display: block;
        font-size: @ts-1;
        font-weight: @font-weight-bold;
        margin: @space-double 0;
    }

}

.article-lead {
    img {
        width: 100%;
    }

    margin-bottom: @space-double;
}

.article-title {
    &:extend(.page-title all);
}

.article-subtitle {
    &:extend(.section-title all);
}

.article-list {
    &:extend(.list all);
}

@media @mq-sm {
    .article-enhancement {

        &.align-left {
            float: left;
            margin: 0 @space-double @space 0;
            max-width: 50%;
        }

        &.align-right {
            float: right;
            margin: 0 0 @space @space-double;
            max-width: 50%;
        }

        &.align-center {
            margin: 0 auto;
        }

        &.align-full {
            width: 100%;
        }

    }
}
