.bsp-video-player-title {
    &:extend(.ts-header-2 all);
    margin: @space 0;
}

.bsp-video-player-description {
    margin: @space-double 0 @space;
}

.bsp-video-player {
    .bsp-tags {
        margin: @space 0 0 0;
    }
}

.bsp-video-player-sharing {
    margin: @space 0;
}

.bsp-video-player-native {
    width: 100%;
}
// builds an assumed 16x9 video wrapper so we can do auto height iframes
.bsp-video-player-iframe-wrapper, .bsp-video-player-object-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.bsp-video-player-iframe-wrapper iframe, .bsp-video-player-object-wrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
