.bsp-paginate {
	text-align: center;
	text-transform: uppercase;
	font-size: @ts-2;
	
	ul > li {
		display: inline-block;

		&:first-child {
			margin-right: @space;
		}

		&:last-child {
			margin-left: @space;
		}
	}
}

.bsp-paginate-page {
	border: 1px solid @gray-light-1;
	width: @space-quad;
}
