.bsp-site-footer {
    background: @brand-dark;
    padding: @space-quad 0;
    min-height: 25px;
    color: @white;
    width: 100%;

    .bsp-container {
       padding-left: @space-double;
    }

	.bsp-component-title, .bsp-list-heading {
        font-size: @ts-2;
        padding: 0;
        color: @white;
	}

    .bsp-list-heading {
        color: @brand-primary;
        margin: 0 0 @space 0;
    }

 	.bsp-share-links {
        margin-bottom: @space;
 		margin-left: 0;
 		
 		a {
 			color: @white;
 		}
 	}

    form {
        .input-container { 
            float: left;
            white-space: nowrap;

            .input-content {
                display: inline-block;   
            }

            .bsp-form-message {
                width: 0px;
            }
        }
     
        input[type=email] {
            padding: @space;
            background-color: @white;
            color: @black; 
            border: none;   
        }

        input[type=submit] {
            position: relative;
            left: -4px;
            background-color: @brand-primary;
            text-transform: uppercase;
            padding: @space @space-double;
            height: @space-quad;
            border: none; 
        }
    }    
}

@media @mq-sm {
    .bsp-site-footer {
        .bsp-container {
            padding-left: @space-half;
        }
    }
}
