.bsp-blockquote {
    font-size: @ts-1;
    line-height: 1.75;
    margin-left: 0;
    padding: @space-and-half @space-double 0;
}

.bsp-blockquote-author {
    color: @gray-light-3;
    display: block;
    padding-top: @space;

    &:before {
        content: "-";
        display: inline;
    }
}

.bsp-blockquote-content {
    color: @brand-accent;

    &:before, &:after {
        display: inline-block;
        font-size: @ts-3;
        font-weight: @font-weight-bold;
        line-height: 1;
        vertical-align: top;
    }

    &:before {
        content: "“";
    }

    &:after {
        content: "”";
    }
}
