.bsp-tabber {

}
.bsp-tabber-nav-container {
	display: flex;
	ms-display: flex;

	justify-content: space-between;
	ms-justify-content: space-between;
}
.bsp-tabber-nav {
	background: @brand-primary;
	color: @white;
	display: block; 
	padding: @space-quarter 0;
	text-align: center;
	width: 100%;

	&.active {
		background: @brand-secondary;
		color: @brand-primary;
	}
}

.bsp-tabber-tab-heading {
	font-weight: @font-weight-bold;
}