.bsp-page-title-wrapper {
    background-color: @gray-dark-2;
    border-bottom-width: 0;
    margin: 0;
}
.bsp-page-title {
    color: @white;
    font-family: @font-family-base;
    font-size: @ts-3;
    font-weight: @font-weight-extra-light;
    text-align: center;
    padding: @space-and-half 0;
}
