.bsp-dropdown {
    display: table;
    margin: 0;
    width: 100%;

    > li {
        display: table-cell;
        text-align: center;

        a {
            display: block;
            padding: @space;
            .transition(color .5s ease);
        }
    }

}
