/** 
 * bsp table css
 */


.bsp-table {
	td, th {
		padding: @space;
	}
}

.full-width-left-aligned {
	width: 100%;		

	td, th {
		text-align: left;
	}
}

.full-width-center-aligned {
	width: 100%;

	td, th {
		text-align: center;
	}
}

.full-width-right-aligned {
	width: 100%;

	td, th {
		text-align: right;
	}
}

