.bsp-large-promo {

    .bsp-component-title {
        background: transparent;
        color: @text-color;
        display: block;
        text-align: center;
        font-size: @ts-3;
        font-family: @font-family-base;
        font-weight: @font-weight-extra-light;
        border-bottom: @border-style-5;

        a {
            color: @text-color;
            display: block;
            padding-bottom: @space;
        }

        .bsp-sub-title {
            display: block;
            .type-scale(0, @lh: 1.4);
            padding-bottom: @space;
        }
    }

    .bsp-list-promo-section-image {
        position: relative;
    }

    .bsp-overlay {
        .bsp-overlay-promo();
    }

}
