/**
 * bsp table css
 */

// import all of the sample themes for styleguide
@import (reference) "bsp-table-themes";

// should I pull these into a separate file ??
@bsp-table-heading-font: @font-family-base;
@bsp-table-body-font: @font-family-base;
@bsp-table-background-color-1: @gray-light-1;
@bsp-table-background-color-2: @white;
@bsp-cell-padding: @space;

.bsp-table-wrapper {
	// removing this for now. I think bsp-component should provide the spacing and not the table wrapper itself
	// margin-bottom: @space-triple;
}

.bsp-table {
	td, th {
		padding: @space;
	}

	th {
		font-family: @bsp-table-heading-font;
	}

	tbody {
		font-family: @bsp-table-body-font;
	}

	.asc, .desc {
    	&:after {
    		.icon();
			color: @brand-primary;
		    display: inline-block;
		    height: 15px;
		    line-height: 14px;
		    width: 15px;
		    vertical-align: top;
    	}
    }

    .asc {
    	&:after {
    		content: @fa-var-sort-asc;
    		padding-top: 5px;
    	}
    }

    .desc {
    	&:after {
    		content: @fa-var-sort-desc;
    	}
    }

	// added additional theming here for styleguide purposes only
	&:extend(.bsp-table-themes all);
}

// The following can be added to the table element individually or
// can be used as mixins to create a table theme
.left-aligned {
	td, th {
		text-align: left;
	}
}

.center-aligned {
	td, th {
		text-align: center;
	}
}

.right-aligned {
	td, th {
		text-align: right;
	}
}

.top-aligned {
	td, th {
		vertical-align: top;
	}
}

.middle-aligned {
	td, th {
		vertical-align: middle;
	}
}

.bottom-aligned {
	td, th {
		vertical-align: bottom;
	}
}

.full-width {
	width: 100%;
}

.fixed-col-width {
	table-layout: fixed;
}

.horizontal-stripes {
	tbody {
		tr:nth-child(even) {
			background-color: @bsp-table-background-color-2;
		}
		tr:nth-child(odd) {
			background-color: @bsp-table-background-color-1;
		}
	}
}

.vertical-stripes {
	td:nth-child(even), th:nth-child(even) {
		background-color: @bsp-table-background-color-2;
	}
	td:nth-child(odd), th:nth-child(odd) {
		background-color: @bsp-table-background-color-1;
	}
}

.vertical-stripes-body {
	td:nth-child(even) {
		background-color: @bsp-table-background-color-2;
	}
	td:nth-child(odd) {
		background-color: @bsp-table-background-color-1;
	}
}


// we are using these styles to create pretty responsive tables
// we display the data-label as a heading and create display block tall tables
// we also override any striping, as it's potentially ugly, and force our own
// that works really well with this display type
@media @mq-only-xs {
    .bsp-table {
        width: 100%;

        thead {
            display: none;
        }

        td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
        }

        td, tr {
            background: none !important;
            display: block;
            text-align: right !important;
            width: 100% !important;
        }

        tr:nth-child(odd) {
            background-color: @bsp-table-background-color-1 !important;
        }

        td {
            &:last-of-type {
                margin-bottom: @space;
            }
        }
    }
}


