.bsp-site-footer-simple {
    background: @footer-simple-background;
    padding: @footer-simple-padding-top @footer-simple-padding-sides @footer-simple-padding-bottom @footer-simple-padding-sides;
    min-height: 25px;
    color: @white;
    text-align: center;

	.bsp-component-title {
        &:extend(.ts-header-1);

        color: @white;
        padding: 0;
	}

    //remove extra padding on components inside the footer
    .bsp-component {
        padding: 0;
    }

    .bsp-list-heading {
        &:extend(.ts-header-2);

        color: @brand-primary;
    }

    .bsp-list {
        .bsp-list-inline;
        padding-bottom: @space-double;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            font-size: @ts-0;
            font-weight: @font-weight-bold;
            padding: 0 @space-triple;
            text-transform: uppercase;
        }

    }

 	.bsp-share-links {
        padding-bottom: @space-double;
 		a {
            background: @social-icons-monochrome-color;
            &:before {
                color: @brand-secondary;
            }
 		}
 	}

    .bsp-share-links-title {
        display: block;
        font-size: @ts-2;
        margin: 0 0 @space 0;
    }

    form {
        .input-container {
            white-space: nowrap;

            .input-content {
                display: inline-block;
            }

            .bsp-form-message {
                width: 0px;
            }

            input {
                padding: @space;
                border: none;
            }

            input[type=email] {
                color: @black;
            }

            input[type=submit] {
                background-color: @brand-primary;
                text-transform: uppercase;
                position: relative;
                left: -4px;
            }
        }
    }
    .bsp-site-copyright {
        margin-top: 0;
    }
}

