

// wrapper allows us to create the fixed position look/feel
.bsp-site-header-simple-wrapper {
    background: @header-simple-background;
    height: @header-simple-height;
    left: 0;
    position: @header-simple-positioning;
    top: 0;
    width: 100%;
    z-index: @z-index-header;
}

// This is our simple header.
// Contains a linked logo, a list of nav/site links, and a search bar
.bsp-site-header-simple {
    &:extend(.clearfix all);
    background: @header-simple-background;
    display: flex;
    align-items: center;
    height: @header-simple-height;
    padding: 0 @space;
    width: 100%;

    @media @mq-lg {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: @screen-lg-min;
    }
}

// mobile menu
.bsp-site-menu-simple, .bsp-site-search-simple-wrapper {
    position: absolute;
    left: 0;
    background-color: @header-simple-background;
    height: 0;
    overflow: hidden;
    width: 100%;

    .transition(height .15s linear);
    z-index: @z-index-menu;
}

.bsp-site-menu-simple {
    background: @header-simple-mobile-menu-background;
    top: @header-simple-height;
    &.toggle-in {
        height: @header-simple-menu-height;
    }
}

.bsp-site-search-simple-wrapper {
    top: @header-simple-height + @header-simple-menu-height;
    &.toggle-in {
        height: @header-simple-mobile-search-height;
    }
}

.bsp-site-search-simple-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.bsp-site-search-simple {
    width: 95%;
}

.bsp-site-search-simple-form {
    position: relative;

    .bsp-form-message {
        padding: 0;
    }

    .bsp-form-input {
        margin: 0;
    }

    .bsp-site-search-submit {
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        height: 100%;
    }

    .icon-search {
        color: @header-simple-box-icon-color;
    }
}

.site-item-simple {
    font-size: @ts-2;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: @space-and-half;

    &:not(:last-child) {
        border-bottom: 1px solid @white;
    }
}

// hide the nav menu by default
// it should only show on non-mobile
.bsp-nav-menu-simple {
    display: none;

    a {
        color: @header-simple-link-color;
    }
}

.nav-item-simple {
    font-weight: @font-weight-light;
    font-size: @ts-2;
}

// mobile logo layout
.bsp-site-logo-simple {
    width: 80%;
    img {
        width: 215px;
    }
}

// mobile display trigger
.bsp-site-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%
}

.bsp-site-menu-trigger-simple {
    &:extend(.ts-2);

    margin: 0;
    padding: 0 @space-double;
    position: relative;

    a {
        color: @header-simple-burger-menu-color;
        height: @header-simple-height;
        line-height: @header-simple-height;

        .icon {
            line-height: @header-simple-height;
        }
    }

    &.toggle-in {
        i {
            &::before {
                content: "X";
            }
        }
    }
}

.bsp-search-results-input {
    background: @header-simple-box-background;
    height: @header-simple-area-height;
}

// additional styles for non mobile view
@media @header-mobile-breakpoint {

    // hide mobile display trigger
    .bsp-site-menu-trigger-simple {
        display: none;
    }

    // nav menu: non-mobile only
    .bsp-nav-menu-simple {
        display: flex;
        justify-content: center;
        align-items: center;
        width: @header-simple-menu-width;
    }

    .nav-item-simple {
        display: inline-block;
        padding: 0 @space;
        text-transform: uppercase;
    }

    // logo
    .bsp-site-logo-simple {
        align-items: center;
        display: flex;
        height: 100%;
        width: 20%;
        padding-left: @space-triple;

        img {
            widtth: @header-simple-logo-width;
        }

    }

    .bsp-site-menu-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%
    }

    .bsp-site-search-simple-wrapper{
        position: relative;
        justify-content: flex-start;
        height: @header-simple-height;
        top: 0;
    }

    .bsp-site-search-simple {
        width: 100%;
    }
}

