/** 
 * The standard list promo is a list of items. It scales up to the size of it's container and accepts any number of items. 
 *
 * These items can have images, titles, links, and descriptions with 3 options for image alignment: top, left, or overlayed
 * There is the option of having hard coded item heights if design chooses to, to allow for vertical centering of items
 */


.bsp-list-promo {
	text-transform: @list-promo-text-transform;
}


.bsp-list-promo-list {

	li {
		&:extend(.clearfix all);

		border-top: @border-style-5;
		position: relative;

		// first item has no border or padding, and default has no image, so it's scooted up with negative margin to the title
		&:first-child {
			border-top: none;
			margin-top: -@space;
			padding-top: 0;
		}

		// if there is an image vs text, there is a space to set it apart from the item before it
		&.image-align-overlay, &.image-align-top, &.image-align-left, &.image-align-right {
			padding-top: @space;
		}

		// except when it's the first item, no extra space
		&.image-align-overlay:first-child, &.image-align-top:first-child, &.image-align-left:first-child, &.image-align-right:first-child {
			margin-top: 0;
			padding-top: 0;
		}

		// when we have an overlay, or left image alignment, it cannot use the natural margins of the text items underneath 
		// to space themselves away from the next element so we need to add a bottom margin for that spacing
		&.image-align-overlay, &.image-align-left, &.image-align-right {
			margin-bottom: @space;
		}
		
	}

	// if we are a horizontal list, we are in a list AND row at the same time
	// in that case, we have no borders, no margin and no padding anywhere
	&.bsp-row {

		li {
			border-top: none;
			margin-top: 0;
			padding-top: 0;
		}

	}
	
}



.bsp-list-promo-image {

	.image-align-left & {
		float: left;
	}

	.image-align-right & {
		float: right;
	}

	img {
		width: 100%;
	}
}



.bsp-list-promo-text {
	padding: 0 @space;

	// when we are overlayed, provide the background and positioning/padding
	.image-align-overlay & {
		background: rgba(0,0,0,0.5);
		bottom: 0;
		color: @white;
		left: 0;
		position: absolute;
		right: 0;
	}

	// when we are overlayed inside of a horizontal layout, we need to margin ourselves
	.bsp-list-promo-list.bsp-row .image-align-overlay & {
		margin: 0 @grid-gutter-width/2;
	}

	// when the image is aligned left, we position the text to the right
	.image-align-left & {
		margin-top: -@space;
		float: right;
	}

	.image-align-right & {
		margin-top: -@space;
		float: left;
	}

}


.bsp-list-promo-title {
	&:extend(.ts-1);

	margin: @space 0;

	a {
		color: @text-color;

		// since the image overlay is dark, this needs to be white not text-color
		.image-align-overlay & {
			color: @white;
		}
	}
}



.bsp-list-promo-link {
	margin: @space 0;

	a {
		display: block;
	}
}



.bsp-list-promo-desc {
	margin: @space 0;
	text-transform: none;
}


