.bsp-video-asset {
    background: @bsp-video-player-background-color;
}

.bsp-video-player-component {
    background: @bsp-video-player-background-color;
    width: 100%;

    .bsp-component-content {
        margin: 0 auto;
        max-width: @screen-lg-min;
        padding: @space-double;

        @media @mq-lg {
            padding: @space-quad 0;
        }
    }
}

.bsp-primary-tag {

    @media @mq-md {
        padding-bottom: @space;
    }

    a {
        .bsp-tag(@bsp-video-player-tag-background);
        font-size: @bsp-video-player-text-size;
        font-weight: @font-weight-light;
        border: @border-style-10;
        color: @bsp-video-player-tag-text-color;
    }
}

.bsp-video-player-title {
    &:extend(.ts-header-2 all);
    font-weight: @font-weight-extra-light;
    color: @bsp-video-player-text-color;
    margin: @space 0;
}

.bsp-video-player-description {
    color: @bsp-video-player-text-color;
    font-weight: @font-weight-extra-light;
    margin: @space-double 0;
}

.bsp-video-player {
    color: @bsp-video-player-share-text-color;
    .bsp-tags {
        margin: @space 0 0 0;
    }
}

.bsp-video-player-sharing {
    color: @bsp-video-player-share-text-color;
    font-weight: @font-weight-bold;
    margin: @space 0;
    text-transform: uppercase;

    a {
        background: @bsp-video-player-share-background;
    }
}

.bsp-video-player-native {
    width: 100%;
}

// builds an assumed 16x9 video wrapper so we can do auto height iframes
.bsp-video-player-iframe-wrapper, .bsp-video-player-object-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.bsp-video-player-iframe-wrapper iframe, .bsp-video-player-object-wrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bsp-video-left {

    .bsp-video-player-iframe-wrapper, .bsp-video-player-object-wrapper {
        width: 100%;
        @media @mq-md {
            float: left;
            margin-right: @space-triple;
            width: 75%;
        }
    }

}
