body.bsp-gallery-fullscreen {

    background: @bsp-carousel-gallery-fullscreen-background;

    .bsp-site {
        background: inherit;
    }
}

.bsp-carousel-gallery-container {
    color: @bsp-carousel-gallery-fullscreen-body;
}

.bsp-carousel-gallery-header {
    &:extend(.ts-header-2 all);
    margin: @space-double 0;
}

.bsp-carousel-gallery {
    margin-bottom: @space;
    position: relative;

    // gives the overlay look to the 2nd carousel
    // it's hidden by default on xs and sm screens and comes into play md and up by default
    // it has a max-height to give it a smooth look/feel when coming in
    .bsp-carousel-nav {
        background: rgba(0, 0, 0, 0.7);
        bottom: 0;
        max-height: 0;
        height: auto;
        position: absolute;
        overflow: hidden;
        .transition(max-height 0.5s);
        width: 100%;

        .thumbs-visible & {
            max-height: 250px;
        }

        // TODO: Move these to bsp-carousel or at least to base a regular bsp-carousel-nav thing
        // we have smaller arrows for the thumbs than default
        .slick-prev,
        .slick-next {

            height: 20px;
            width: 20px;
            margin-top: -10px;

            &:before {
                font-size: 20px;
            }
        }

        // current thumb gets a pretty accent border
        .current {
            &:after {
                border-top: 4px solid @brand-accent;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.bsp-carousel-gallery-slide {
    position: relative;

    // make sure that image fits the slide as much as possible
    img {
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
}

.bsp-carousel-gallery-nav-slide {
    padding: @space-double;
    position: relative;

    // make sure that thumb fits the container as much as possible
    img {
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
}

// the caption wrapper gets a bottom placement on the slide along with the same max-height transition as the nav carousel
.bsp-carousel-gallery-slide-caption-wrapper {
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;

    .transition(max-height 0.5s);

    .captions-visible & {
        max-height: 150px;
    }
}

.bsp-carousel-gallery-slide-caption {
    &:extend(.ts-neg-1);

    background: rgba(0, 0, 0, 0.5);
    height: auto;
    padding: @space;
}

// elements at the bottom of the footer
.bsp-carousel-gallery-thumbs, .bsp-carousel-gallery-count-wrapper, .bsp-carousel-gallery-caption-trigger {
    display: inline-block;
    float: left;
    margin: @space-half @space-double @space-half 0;
    padding: 0 @space;
}

// we don't want to show the thumbs icon until a bigger screen size
.bsp-carousel-gallery-thumbs {
    .icon {
        display: none;
    }
}

.bsp-carousel-gallery-footer {
    &:extend(.clearfix all);
}

// Used to create show and hide text for the caption trigger.
.bsp-carousel-gallery-caption-trigger {
    cursor: pointer;

    span.captions-visible {
        display: none;
    }

    .captions-visible & {
         span.captions-visible {
            display: inline-block;
        }
        span.captions-hidden {
            display: none;
        }
    }
}

.bsp-carousel-gallery-sharing {
    clear: both;
    margin: @space-half 0;
    padding: 0 @space;

    .bsp-share-link {
        background-color: @bsp-carousel-gallery-fullscreen-body;
        color: @bsp-carousel-gallery-fullscreen-background;

        &:hover {
            color: @bsp-carousel-gallery-fullscreen-background;
        }
    }
}

.bsp-carousel-gallery-tags {
    clear: both;
    margin: @space-half 0;
    padding: 0 @space;
}


@media @mq-md {

    .bsp-carousel-gallery-thumbs {
        cursor: pointer;

        .icon {
            color: @white;
            display: inline-block;
            margin-right: @space-half;
        }
    }

    .bsp-carousel-gallery-caption-trigger {

        .icon {
            margin-right: @space-half;
        }

    }

    .bsp-carousel-gallery-sharing {
        clear: none;
        float: right;
    }

}







// full screen gallery gets a custom media query
@media only screen and (min-width: 1400px) {

    body.bsp-gallery-fullscreen {
        .bsp-container {
            width: 80%;
            max-width: 1600px;
        }
    }

}
