// TODO: This should be renamed to bsp-gallery-module

// this component needs the optional CTA to have its own margin
.bsp-gallery-module-component {
	.bsp-component-cta {
		margin-top: @space;
	}
}

.gallery-module {
	margin-bottom: 40px; // custom spacing to allow pretty spacing with dots

	// set this up to support portrait and landscape images. The portrait ones will center themselves horizontally
	img {
		height: auto;
		margin: 0 auto;
		width: auto;
	}

}
// these are styles for the hoziontal layout gallery which has 5 slides across
.gallery-module-horizontal {
	margin-bottom: 0;

	.slick-list {
		margin: 0 -@space;
	}
	.bsp-carousel-slide {
		padding: 0 @space;
		width: 50%;
	}

}


// targeted to only take bsp-carousel-slides inside the nav portion of the gallery-nav module
// this lets us reuse the renderer for thumbs for the text nav and just write css overrides
.gallery-module-nav {
	// we have a 40px bottom margin for the slide nav text to fit
	.bsp-carousel-stage {
		.slick-track {
			margin-bottom: 40px;
		}
	}

	.bsp-carousel-nav {
		background-color: @gallery-nav-background-color;

		.bsp-carousel-slide {	
			
			color: @white;
			cursor: pointer;
			text-align: center;		
		}
	}
}

// all carousel module navs (thumbs, nav, etc) get a pretty border at the top
.bsp-carousel-nav {

	.bsp-carousel-slide {
		position: relative;

		&.current {

			&:after {
				content:'';
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				border-top: 5px solid @gallery-current-slide-color;
			}
		}
	}
}

// this is use for mobile instead of the thumb nav, as xs and sm resolutions, we get rid of the thumb nav
// as it's too small to make sense
.bsp-carousel-slide-nav-text {
	background-color: @gallery-nav-background-color;
	color: @white;
	height: 40px;
	padding: @space;
	position: absolute;
	bottom: -40px;
	width: 100%;
}

// for medium and up, we kill the margin and also hide the nav text, as by default the
// thumbs gallery at that point drops in the thumbnav

@media @mq-sm {

	.gallery-module-horizontal-slides {

		.bsp-carousel-slide {
			width: 20%;
		}

	}

}


@media @mq-md {

	.gallery-module {
		margin-bottom: 0;

		&.carousel-dots {
			margin-bottom: 40px;
		}
	}

	.gallery-module-nav {
		.bsp-carousel-stage {
			.slick-track {
				margin-bottom: 0px;
			}
		}
	}

	.bsp-carousel-slide-nav-text  {
		display: none;
	}

}