.bsp-super-promo {

    &.bsp-component, .bsp-component {
        padding-bottom: 0;
        padding-top: 0;
    }

    .gallery-module {
        margin-bottom: 0;
    }

    .slick-slide {
        height: auto;
    }

    .bsp-component-content {
        background-color: @gray-dark-2;
        color: @white;
        overflow: visible;
        text-align: center;
        width: auto;

        a {
            color: #fff;
        }
    }

    .bsp-list-promo-section-image {
        @media @mq-sm {
            margin-bottom: @space-triple;
        }
    }

    .bsp-list-promo-section-title {
        a {
            .bsp-tag;
            background: transparent;
            font-family: @font-family-base;
            font-size: @ts-neg-1;
            color: @white;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: @border-style-10;
        }
    }

    .bsp-list-promo-section-text-below {
        margin: 0 auto;
        max-width: @screen-lg-min;
        padding: 0 @space-double @space @space-double;

        @media @mq-sm {
            padding-bottom: @space-triple;
        }

        .bsp-list-promo-title {
            font-size: @ts-3;
            font-weight: @font-weight-extra-light;
            line-height: 1.2;
            padding-left: 0;
            padding-right: 0;

            @media @mq-sm {
                font-size: @ts-4;
                line-height: @line-height-headings;
            }

        }

        .bsp-list-promo-desc {
            font-size: @ts-0;
        }
    }


    .bsp-list-promo-section-bullets {
        margin-top: -@space-double;
        padding-bottom: @space-double;
        font-family: @font-family-base;
        text-transform: uppercase;

        @media @mq-sm {
            margin-top: -@space-quad;
            padding-bottom: @space-triple;
        }

        ul {

        }
        li {
            display: inline-block;
            width: 100%;

            @media @mq-sm {
                line-height: 1.4;
                vertical-align: top;
                width: 33%;
            }

            a {
                color: @brand-primary;
                &::after {
                    .fa-icon();
                    content: @fa-var-angle-right;
                    padding-left: 5px;
                }
            }
        }

    }


    @media (max-width: @screen-md-min) {
        .slick-next, .slick-prev {
            /**
             * booooooooooooooooooooooooooooooooooooooooooooooo !important
             * has to be done because the JS adds an inline style
             */
            display: none !important;
        }
    }

    @media @mq-md {
        .slick-dots {
            /**
             * booooooooooooooooooooooooooooooooooooooooooooooo !important
             * has to be done because the JS adds an inline style
             */
            display: none !important;
        }
    }
}
