.bsp-pagination {
	text-align: center;
	text-transform: uppercase;
	font-size: @ts-1;

	ul > li {
		display: inline-block;

		&:first-child {
			margin-right: @space;
		}

		&:last-child {
			margin-left: @space;
		}
	}

	.icon {
		color: @link-color;
	}
}

.bsp-pagination-page {
	border: 1px solid @gray-light-1;
	width: @space-quad;

    &.current {
        background: @brand-secondary;
    }
}
