.bsp-medium-promo {

    padding-left: @space;
    padding-right: @space;

    // Commenting this out for now, mocks don't have any medium
    // promos with a component title/description
    // .bsp-component-title {
    //     border-bottom: @border-style-5;
    //     padding: 0 0 @space-and-half 0;
    //     margin-bottom: @space-triple;
    //     .type-scale(3, @lh: 1);
    //     font-weight: @font-weight-light;
    //     text-align: center;

    //     .bsp-sub-title {
    //         .type-scale(0, @lh: 1.4);
    //         font-family: @font-family-base;
    //     }
    // }

    .bsp-list-promo-title {

        a {
            .bsp-tag(@white);
            font-family: @font-family-base;
            font-weight: @font-weight-light;
            font-size: @ts-neg-1;
            border: @border-style-8;

            &:hover {
                border: 1px solid @tag-hover-color; // maintaing same outside dimentions
                color: @white;
                background: @tag-hover-color;
            }
        }
    }

    .bsp-list-promo-section-image {
        position: relative;
    }

    .bsp-overlay {
        .bsp-overlay-promo();
    }

    .bsp-list-promo-desc {
        display: block;
        font-size: @ts-2;
        font-family: @font-family-base;
        font-weight: @font-weight-extra-light;
    }
}



