@bsp-embedded-gallery-grid-height: 410px;
@bsp-embedded-gallery-grid-height-mobile: 175px;
@bsp-embedded-gallery-height: 495px;

.bsp-gallery-grid-show {
    -m-transition: opacity .5s ease-in .5s;
    -webkit-transition: opacity .5s ease-in .5s;
    transition: opacity .5s ease-in .5s;
    opacity: 100;
}
.bsp-gallery-grid-hidden {
    -m-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0;
    pointer-events: none;
}

.bsp-gallery-grid-embedded {

    border-bottom: @border-style-5;
    border-top: @border-style-5;
    clear: both;
    height: auto;
    margin: 0 auto @space-double auto;
    position: relative;
    padding-bottom: @space-double;

    &.showing-grid {
        .bsp-gallery-grid-gallery-caption {
            display: block;
            font-weight: @font-weight-light;
            padding-bottom: @space;
            text-align: center;
            margin: 0 auto;
            // max-width: @bsp-gallery-grid-embedded-width-sm;
        }

        .bsp-component-content {
            height: @bsp-embedded-gallery-grid-height-mobile;

            @media @mq-sm {
                height: @bsp-embedded-gallery-grid-height;
            }
        }
    }

    .bsp-component-title {
        background: transparent;
        color: @text-color;
        font-family: @font-family-base;
        font-size: @ts-1;
        text-align: center;
        padding: @space-double 0;
    }

    .bsp-gallery-grid {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img {
            width: 100%;
        }

        a {
            display: block;
            position: relative;

            &:after {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,0.7);
                content: "VIEW GALLERY";
                font-family: @font-family-base;
                position: absolute;
                left: 0;
                opacity: 0;
                height: 100%;
                top: 0;
                width: 100%;
            }

            &:hover {
                &:after {
                    transition: opacity 1s;
                    opacity: 1;
                }
            }
        }

    }


    .bsp-component {
        padding-top: 0;
    }

    .bsp-component-content {
        position: relative;
    }

    .gallery-module {
        margin-bottom: 0;
    }

    .bsp-column-third {
        //keep formatting for mobile
        float: left;
        width: 33.333%;
        padding-left: 2px;
        padding-right: 2px;
    }

    // add padding below the first image of the first and
    // third column
    .bsp-row {
        .bsp-column-third:nth-child(odd) {
            a:first-child {
                padding-bottom: 2px;
            }
        }
    }

}

.bsp-gallery-grid-gallery {

    .bsp-component-title {
        background: inherit;
        padding: @space-double 0 0 0;
        font-size: @ts-2;
    }
    .bsp-component-content {
        width: 100%;
    }
    .bsp-image-promo-links {
        background: inherit;
        display: block;
        padding-bottom: @space;
        position: relative;

        li {
            display: block;
            text-align: left;
            text-transform: none;
            width: auto;

            a {
                color: @brand-accent;
                display: inline;
                font-size: @ts-neg-1;
                padding: @space 0 0 0;
            }
        }
    }

    .bsp-list-promo-image {
        background: @gray-dark-3;
        height: @bsp-embedded-gallery-height;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            height: auto;
            width: auto;
            max-width: 100%;
        }
    }

    ul.bsp-list-promo-list {
        list-style-type: none;
        padding-left: 0;
    }

    .bsp-list-promo-section-text {
        text-align: center;
    }

    ul {
        margin-bottom: 0;
    }
}

// override for something coming in from base
.bsp-component-title+.bsp-component-content {
    .bsp-list-promo-list {
        margin-top: 0;
    }
}

.bsp-gallery-grid-gallery-caption {
    display: none;
}
