.bsp-article-lead-image-first {
     &:extend(.bsp-article);

     padding-top: 0;

     ul {
        list-style-type: disc;
        margin-bottom: @space-double;
        padding-left: @space * 3;
     }

     b, strong {
        font-family: @font-family-base;
     }

     h2, h3 {
        font-weight: @font-weight-light;
        margin-bottom: 0;
     }

    h4 {
        margin-bottom: 0;
    }


     p {
        font-weight: @font-weight-base;
        margin-top: 0;
     }

     .bsp-share-links-wrapper {
        display: inline-block;
        margin-top: @space-double;
        margin-bottom: @space-double;
    }

    .bsp-share-links {
        margin-bottom: 0;
    }

    .bsp-share-links-title {
        font-size: @ts-neg-2;
        font-weight: @font-weight-bold;
        text-transform: uppercase;
    }

    .bsp-share-link {
        background: @brand-accent;
    }

    .icon-facebook:before,
    .icon-twitter:before,
    .icon-pinterest:before,
    .icon-linkedin:before {
        color: @white;
    }

     .bsp-article-lead-img {
        margin-bottom: @space * 4;

        img {
            height: auto;
            width: 100%;
        }

        .bsp-iframe {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .bsp-component {
            padding-top: 0;
         }
     }

     .bsp-article-header {
        .clearfix();
        max-width: 800px;
        margin: 0 auto;
     }



     .bsp-article-title {
        color: @text-color;
        float: left;
        font-family: @font-family-base;
        font-weight: @font-weight-extra-light;
        font-size: @ts-4;
        margin: 0;
        padding-left: @space;
        padding-top: 0;
        text-transform: none;
        text-align: left;
     }

     .bsp-article-title-image ~ .bsp-article-title {
        width: ~"calc(100% - 75px)";
     }

     .bsp-article-title-image {
        max-width: 75px;
        margin: 0 auto;
        padding: 7px 10px 0 0;
    }

     .bsp-article-subtitle {
        .clearfix();
        font-family: @font-family-base;
        font-size: @ts-neg-1;
        font-weight: @font-weight-light;
        padding-left: @space;
        width: 100%;
        h3 {
            .bsp-tag(@tag-background: transparent);
            border: @border-style-7;
        }
     }

     .bsp-share-wrapper {
        border-bottom: @border-style-1;
        margin-bottom: @space-triple;
        padding: @space-triple 0 @space 0;
     }

     .bsp-share-title {
        font-size: @ts-1;
        font-weight: @font-weight-bold;
        text-transform: uppercase;
        vertical-align: super;
     }

     .bsp-meta-data {
        color: @gray-light-2;
        font-family: @font-family-base;
        font-size: @ts-0;
        font-weight: @font-weight-light;
        padding-bottom: @space-half;

        a {
            color: @gray-light-2;
        }
    }

    .bsp-meta-author, .bsp-meta-date {
        text-transform: none;
    }

     .bsp-article-content,
     .bsp-share-links-wrapper,
     .bsp-meta-data,
     .bsp-tags,
     .bsp-component-cta {
        margin-left: @space;
        margin-right: @space;
     }

     .bsp-component-cta {
        padding: @space*4 0 @space*10 0;

        a {
            background: transparent;
            color: @brand-primary;
            font-size: @ts-neg-1;
            font-weight: @font-weight-bold;
            text-align: left;
            text-transform: uppercase;

            &:after {
                content: ">";
                display: inline;
            }
        }
    }

    @media @mq-sm {

        .bsp-article-title {
            text-align: left;
        }

        .bsp-article-title-image {
            float: left;
        }

        .bsp-share-links-wrapper {
            display: block;
            margin: @space-double auto @space-triple auto;
            max-width: 800px;
        }

        .bsp-meta-data {
            max-width: 800px;
            margin: 0 auto;
        }


        .bsp-article-content {
            border-top: @border-style-5;
            margin: 0 auto;
            max-width: 800px;
            padding-top: @space-triple;
        }

        .bsp-component-cta {
            margin: 0 auto;
            max-width: 800px;
        }

    }

    @media @mq-md {
        .bsp-article-title {
            padding-left: 0;
        }
        .bsp-article-title-image {
            margin-left: 0;
        }
        .bsp-article-subtitle {
            padding-left: 0;
        }
        .bsp-share-links {
            padding-left: 0;
        }
    }
}
