.bsp-next-content {
    margin:  auto;
    text-align: center;
    a {
        border: @border-style-8;
        color: @text-color;
        display: inline-block;
        font-family: @font-family-base;
        font-weight: @font-weight-bold;
        margin: @space-double auto @space-quad auto;
        padding: @space-double 8rem;
        text-transform: uppercase;
    }
}
