.bsp-gallery-embedded {

    .bsp-gallery-grid {
        width: 100%;
        height: auto;

        a {
            display: block;
            margin-bottom: 5px;
        }

        img {
            width: 100%;
        }
    }

}
