/** 
 * bsp table css
 */


@bsp-table-stripe-color: #eee;
@bsp-cell-padding: @space;

.bsp-table-wrapper {
	margin-bottom: @space-triple;
}

.bsp-table {	
	td, th {
		padding: @space;
	}
	// theme 1
	&.theme-1 {
		.left-aligned();
		.full-width();
		.horizontal-stripes();
		td, th {
			&.col-3, &.col-4 {
				text-align: center;
			}
			&.col-5 {
				text-align: right;
			}			
		}
		th {
			text-transform: uppercase;
		}
	}

	&.theme-grid {
		width: 50%;
		.center-aligned();
		.middle-aligned();
		.fixed-col-width();
	}
}

// The following can be added to the table element individually or
// can be used as mixins to create a table theme

.left-aligned {
	td, th {
		text-align: left;		
	}
}

.center-aligned {
	td, th {
		text-align: center;
	}
}

.right-aligned {
	td, th {
		text-align: right;
	}
}

.top-aligned {
	td, th {
		vertical-align: top;		
	}
}

.middle-aligned {
	td, th {
		vertical-align: middle;
	}
}

.bottom-aligned {
	td, th {
		vertical-align: bottom;
	}
}

.full-width {
	width: 100%;
}

.fixed-col-width {
	table-layout: fixed;
}

.horizontal-stripes {
	tbody {
		tr:nth-child(odd) {
			background-color: @bsp-table-stripe-color;
		}
	}
}

.vertical-stripes {
	td:nth-child(odd), th:nth-child(odd) {
		background-color: @bsp-table-stripe-color;
	}
}




