.bsp-iframe {
    border-bottom: @border-style-5;
    border-top: @border-style-5;
    margin-bottom: @space-double;
    padding-top: @space-double;

    .align-center {
        .center-block();
        
        iframe {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .align-stretch {
        .stretch-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
.bsp-iframe-hide-mobile {
    display: none;
}
.bsp-iframe-stage {
    background: @black;
    overflow: hidden;
    padding: @space-double 0;
}

@media @mq-sm {
    .bsp-iframe-hide-mobile {
        display: block;
    }
}