// Tags are elemental as they can be used in any bigger

.bsp-tags {
	padding: 0 0 @space;
}

.bsp-tag-list {
	&:extend(.bsp-list-inline all);

	li {
		text-transform: uppercase;
	}

	a {
		background: @brand-secondary;
		display: block;
		padding: @space-quarter @space-half;
		margin: 0 @space @space 0;
	}
}