.bsp-small-promo {

    padding-left: @space;
    padding-right: @space;

    .bsp-column-third {
        padding: 0 @space-three-quarter @space-triple @space-three-quarter;
    }

    .bsp-component-title {
        background: none;
        border-bottom: @border-style-7;
        font-family: @font-family-base;
        font-size: @ts-3;
        font-weight: @font-weight-extra-light;
        margin-bottom: @space-triple;
        padding-bottom: @space;
        text-align: center;

        a {
            color: @text-color;
        }
    }

    .bsp-list-promo-section-image {
        padding-bottom: @space-double;
    }

    .bsp-list-promo-title {
        .type-scale(2, @lh:@line-height-headings);
        font-family: @font-family-base;
        font-weight: @font-weight-extra-light;
        margin-bottom: @space-double;
    }

    .bsp-list-promo-desc {
        .type-scale(0, @lh: 1.4);
        font-family: @font-family-base;
        font-weight: @font-weight-extra-light;
        margin: 0;
        padding-bottom: @space;

        @media @mq-sm {
            padding-bottom: 0;
        }
    }

    .bsp-component-cta {
        .type-scale(-1, @font-weight-bold);
        border-top: @border-style-7;
        font-family: @font-family-base;
        text-transform: uppercase;
        margin-top: @space-double;

        a {
            background: transparent;
            color: @brand-primary;
            text-align: center;

            &:hover {
                color: @black;
            }

            &::after {
                .fa-icon();
                content: @fa-var-angle-right;
                padding-left: 5px;
            }
        }

        @media @mq-sm {
            border-top: none;
        }

    }


   //  @media @mq-lg {
   //      .bsp-component-title, .bsp-component-content, .bsp-component-cta {
   //          margin-left: auto;
   //          margin-right: auto;
   //          width: @screen-lg-min;
   //      }


   //  }

   //  @media @mq-only-md {
   //      .bsp-component-title, .bsp-component-content, .bsp-component-cta {
   //          margin-left: auto;
   //          margin-right: auto;
   //          width: @screen-md-min;
   //      }
   // }

}
