// This is a standard image promo. The image promo has an image with overlayed links

// each image has a top and bottom margin
.bsp-image-promo-image {
	margin: @space 0;
	position: relative;

	// which we remove for the first one, so it can snug up to the top of the component
	// container. If there is no title, it sits at the top. With a title, the title provides the spacing from the top
	&:first-child {
		margin-top: 0;
	}

	img {
		height: auto;
		width: 100%;
	}

	// when we have a rollover, create that behavior
	&.with-rollover {

		.bsp-image-promo-rollover {
			display: none;
		}

		.bsp-image-promo-rollover-text {
			display: none;
		}

		&:hover {
			> a {
				display: none;
			}

			.bsp-image-promo-rollover {
				display: block;
			}

			.bsp-image-promo-rollover-text {
				display: block;
				height: 100%;
				text-align: center;
				position: absolute;
				top: 0;
				width: 100%;

				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

	}
}

// table and table cell allows for pretty justified alignment
.bsp-image-promo-links {
	background: rgba(0,0,0,0.5);
	display: table;
	position: absolute;
	bottom: 0;
	width: 100%;

	li {
		border-left: @border-style-6;
		display: none;
		text-align: center;
		text-transform: uppercase;
		width: 33%; // for tables width is essentially min-width

		&:first-child {
			border-left: none;
			display: table-cell;
		}

		a {	
			color: @white;
			display: block;
			padding: @space-half; 
		}
	}
}

@media @mq-sm {

	.bsp-image-promo-links {
		li {
			display: table-cell;
		}
	}
	
}
