.bsp-medium-promo {

    padding-left: @space;
    padding-right: @space;

    // Commenting this out for now, mocks don't have any medium
    // promos with a component title/description
    // .bsp-component-title {
    //     border-bottom: @border-style-5;
    //     padding: 0 0 @space-and-half 0;
    //     margin-bottom: @space-triple;
    //     .type-scale(3, @lh: 1);
    //     font-weight: @font-weight-light;
    //     text-align: center;

    //     .bsp-sub-title {
    //         .type-scale(0, @lh: 1.4);
    //         font-family: @font-family-base;
    //     }
    // }

    .bsp-list-promo-title {

        a {
            .bsp-tag(@white);
            font-family: @font-family-base;
            font-weight: @font-weight-light;
            font-size: @ts-neg-1;
            border: @border-style-8;

            &:hover {
                color: @white;
                background: @red;
            }
        }
    }

    .bsp-list-promo-section-image {
        position: relative;
    }

    .bsp-overlay {
        .bsp-overlay-promo();
    }

    .bsp-list-promo-desc {
        display: block;
        font-size: @ts-2;
        font-family: @font-family-base;
        font-weight: @font-weight-light;
    }
}

.bsp-overlay-promo () {

    background: rgba(0, 0, 0, 0);

    .type-scale(-1, @lh: 1.3);
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: @space-triple;
    position: absolute;
    top: 0;
    width: 100%;

    .overlay-desc {
        color: @white;
        margin: 0 0 @space-quarter 0;
    }

    .overlay-cta-text {
        color: @brand-accent;
    }

    &:hover {
        opacity: 1;
        transition: opacity 1s;
    }

    .overlay-desc, .overlay-cta-text {
        display: none;
    }

    @media @mq-sm {
        background: rgba(0,0,0, 0.7);

        .overlay-desc, .overlay-cta-text {
            display: block;
        }
    }

}


