.bsp-search-results {

}

.bsp-search-results-heading {
	&:extend(.ts-header-2);
	margin: 0 0 @space-and-half 0;
}


.bsp-search-results-form {
    &:extend(.clearfix all);
	position: relative;
}

.bsp-search-results-text {
    position: relative;

    .bsp-form-message {
        padding: 0;
    }
}

.bsp-search-results-input {
	background-color: @gray-light-1;
	border: none;
	padding: @space;
	width: 100%;
}

.bsp-search-results-submit {
	background: none;
    border: none;
    color: @text-color;
    font-size: @ts-2;
    right: 0;
    position: absolute;
    top: 0;
}

.bsp-search-results-sort {
	display: inline-block;
    margin: 0 0 @space 0;
	width: 100%;

	select {
		background-color: @gray-light-1;
		border:none;
		border-radius: 0px;
		margin-left: @space;
	}
}

.bsp-search-results-filter {
    clear: both;
}

.bsp-search-results-filters {
	display: flex;
	ms-display: flex;

	justify-content: space-between;
	ms-justify-content: space-between;

	.bsp-form-input-checkbox {
		display: inline-block;
	}
}

.bsp-search-results-content {
	padding-top: @space-and-half;
}

@media @mq-sm {

    .bsp-search-results-text {
        float: left;
        position: relative;
        width: 72%;
    }

	.bsp-search-results-sort {
        margin: @space 0 0 0;
		text-align: right;
		width: 27%;
	}
}

@media @mq-lg {

    .bsp-search-results-text {
        width: 77%;
    }

	.bsp-search-results-sort {
		width: 22%;
	}
}

