// padding vs margin allows for cleaner separation between components, especially if things inside of them use margins

.component {
	padding-bottom: @bsp-component-bottom-padding;
	position: relative;
}

.component-title {
	&:extend(.ts-0);

	background: @bsp-component-title-bg;
	color: @bsp-component-title-color;
	padding: @space-quarter @space;
	margin: 0 0 @space 0;
}

.component-content {
	overflow: hidden; // making sure things do not go outside of components
}

.component-cta {

	a {
		background: @bsp-component-cta-bg;
		display: block;
		color: @bsp-component-cta-color;
		padding: @space-quarter 0;
		text-align: center;
	}

	&.component-cta-top-right {
		position: absolute;
		top: 0;
		right: 0;

		a {
			background: none;
			color: @bsp-component-title-color;
			padding-right: @space;
		}
	}

	&.component-cta-bottom-right {
		display: inline-block;
		float: right;

		a {
			background: none;
			color: @bsp-component-title-color;
			padding-right: @space;
		}
	}

	&.component-cta-bottom-left {
		display: inline-block;
		float: left;

		a {
			background: none;
			color: @bsp-component-title-color;
			padding-right: @space;
		}
	}
}

// if the content has hard item heights, there is no margin on the cta, it will screw up the hardcoded item heights
.component-content.hard-item-heights + .component-cta {
	margin-top: 0;
}
