// This is a standard image promo. The image promo has an image with overlayed links

// this makes sure that we get proper spacing for our columns and items, but we don't double the spacing at the bottom
.bsp-image-promo {

	.bsp-row {
		margin-bottom: -@space;
	}

	.bsp-column-half, .bsp-column-third {
		margin-bottom: @space;
	}
}

.bsp-image-promo-image {
	margin-top: @space;
	position: relative;

	&:first-child {
		margin-top: 0;
	}

	img {
		height: auto;
		width: 100%;
	}
}

// table and table cell allows for pretty justified alignment
.bsp-image-promo-links {
	background: rgba(0,0,0,0.5);
	display: table;
	position: absolute;
	bottom: 0;
	width: 100%;

	li {
		border-left: @border-style-6;
		display: table-cell;
		text-align: center;
		text-transform: uppercase;
		width: 33%; // for tables width is essentially min-width

		&:first-child {
			border-left: none;
		}

		a {	
			color: @white;
			display: block;
			padding: @space-half; 
		}
	}
}
