// We should move these styles into bsp-carousel instead of having them in base. These should be part of the normal "dots" theme
// I just have them here so we can refine quickly and easily before moving

// default carousel should have 0 px of bottom margin. Overriding slick's default here
.slick-slider {
	margin-bottom: 0px;

	// if we have the carousel dots theme, we need allow the space for dots
	&.carousel-dots {
		margin-bottom: 30px;
	}
}

.slick-dots {
    bottom: -30px;
}

.bsp-carousel {
	&.nav-hide {
        .slick-prev, .slick-next {
            display: none !important;
        }
    }
    .slick-prev, .slick-next {
        // on mobile we will hide the arrows (design deemed this so)
        display: none !important;

        &.slick-disabled {
            opacity: 0.4;
            &:before {
                opacity: 0.4;
            }
        }

    }

}

.bsp-carousel-slide {
	// prevents the fouc until carousel inits
	display: none;

	&:first-of-type {
		display: block;
	}

	.slick-initialized & {
		display: block;
	}

	// by default slide images are 100% of their container.
	// Can't think of a use case where this isn't true, but we can always adjust if need be
	img {
		height: auto;
		width: 100%;
	}
}

// prevents the fouc until carousel inits and hides the nav on phones
.bsp-carousel-nav {
	display: none;
}


@media @mq-md {

    // when we are in a gallery, we definitely want to show the prev and next
    // this is an ovveride to the base carousel styles, which hide the arrows
    // on a stage+nav carousel
    .bsp-carousel-gallery {
        .bsp-carousel-stage {
            .slick-prev, .slick-next {
                display: inline-block !important;
            }
        }
    }

    .bsp-carousel {
        .slick-prev, .slick-next {
            // on medium and up, we will show previous and next
            display: inline-block !important;
        }

    }

    // on a stage carousel, we want to make sure there are never dots, even if enabled
	.bsp-carousel-stage.carousel-dots {
		margin-bottom: 0;

		.slick-dots {
			display: none;
		}
	}

    // for anything past medium, we want the thumbs, anything before, no thumbs
	.bsp-carousel-nav {

		&.slick-initialized {
			display: block;
		}
	}

}
