.site-footer-simple {
    background: @footer-background;
    padding: @space-double;
    min-height: 25px;
    color: @white;
    text-align: center;

	.component-title {
        &:extend(.ts-header-1);

        color: @white;
        padding: 0;
	}

 	.share-links {
        margin: 0 0 @space-double 0;

 		a {
            background: @social-icons-monochrome-color;
            &:before {
                color: @brand-secondary;
            }
 		}
 	}

    // even if it's there in the JSON, remove it
    .share-links-title {
        display: none
    }

}

