// Tags are elemental as they can be used in any bigger

.tags {
	padding: 0 0 @space;
}

.tag-list-title {
    float: left;
    line-height: 1;
    margin: @space-half @space-half @space-half 0;
    padding: @space-quarter @space-half @space-quarter 0;
}

.tag-list {
	&:extend(.list-inline all);
    display: inline;
}

.tag {
	background: @brand-secondary;
    color: @white;
	display: inline-block;
	line-height: 1;
	padding: @space-quarter @space-half;
	margin: @space-half;
	text-transform: uppercase;
}
