<div class="ListPromoItem">
    {{#with image}}
        <div class="ListPromoItem-image">{{this}}</div>
    {{/with}}

    {{#with content}}
        <div class="ListPromoItem-content">{{this}}</div>
    {{/with}}
</div>
