.Promo {
    display: flex;
    flex-flow: column;

    > * {
        margin: 1rem 0 0 0;
    }

    > *:first-child {
        margin: 0;
    }

    &-title {
        &:extend(.Promo-title all);

        order: 10000;
    }

    &-cta {
        &:extend(.Promo-cta all);

        order: 20000;
    }
}