body.theme-green {
    background: #79af20
}

body.theme-green .grid-container {
    background: #fff
}

body.theme-green .layout-secondary-color {
    background: #79af20
}

body.theme-green .layout-secondary-color .grid-container {
    background: #eee
}

body.theme-green .layout-inverse-color {
    background: #79af20
}

body.theme-green .layout-inverse-color .grid-container {
    background: #333
}

body.theme-green .page-title-component {
    background: #79af20;
    border: none
}

body.theme-green .page-title-component .grid-container {
    background: #79af20
}

body.theme-green .tag,
body.theme-green .component-cta.load-more a {
    border-color: #79af20;
    color: #79af20
}

body.theme-green .tag:hover,
body.theme-green .component-cta.load-more a:hover {
    background: #79af20 !important;
    border-color: #79af20 !important;
    color: #fff !important
}

body.theme-green .component-inverse-color .tag,
body.theme-green .component-inverse-color .component-cta.load-more a {
    background: #79af20 !important;
    border-color: #79af20 !important;
    color: #fff !important
}

body.theme-green .article-title,
body.theme-green .section-title,
body.theme-green .component-title,
body.theme-green .article-head .article-subtitle,
body.theme-green .photofall-head .article-subtitle {
    color: #79af20 !important
}
