{{#defineBlock "CommentingShowMoreButton"}}
    {{#defaultBlockBody}}
        <div class="{{blockName}}">
            <button type="button" {{#if ajaxTarget}}data-ajax-target="{{ajaxTarget}}"{{/if}} class="{{blockName}}-button">{{body}}</button>
        </div>
    {{/defaultBlockBody}}
{{/defineBlock}}
