<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-component-combo</title>
		<script src="/_head.js"></script>
	</head>
	<body class="styleguide-page">

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

		<div class="bsp-site">

			<div class="bsp-container">
				<p>The bsp-component-group component is used when we need to have a site specific group of components that acts as a single component. What that means is that they will all be related to the same data source. </p>

				<p>As an example, you might want a group of image promos. You want the first one to be a large single image, and then you want 2 image promos next to each. Rather than trying to create an image promo "option" for that group/combination, you would use this component and then use your JSON to specify what components you want in what order</p>
			</div>

			<div class="bsp-container">
				<div class="bsp-row">
					<div class="bsp-column-full">

						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "3-image-promos.json" }'></div>

					</div>
				</div>
			</div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>

	</div>

	</body>
</html>