<blockquote class="component">
    <span class="blockquote-content" style="{{#if contentColor}}color: {{contentColor}}{{/if}}">{{content}}</span>
    {{#if author}}<span class="blockquote-author" style="{{#if authorColor}}color: {{authorColor}}{{/if}}">{{author}}</span>{{/if}}
</blockquote>
