<div class="bsp-component">
	<div class="bsp-paginate">
		<ul>
			{{#with navigate}}
				<li class="bsp-paginate-navigate">
					{{#with previous}}
						{{> (lookup . '_template') }}
					{{/with}}
				</li>
			{{/with}}
			{{#each listItems}}
				<li class="bsp-paginate-page">
				{{#with link}}
					{{> (lookup . '_template') }}
				{{/with}}
				</li>
			{{/each}}
			{{#with navigate}}
				<li class="bsp-paginate-navigate">
					{{#with next}}
						{{> (lookup . '_template') }}
					{{/with}}
				</li>
			{{/with}}
		</ul>
	</div>
</div>