<div class="bsp-component bsp-tabber-promo-component{{#if modifierClass}} {{modifierClass}}{{/if}}">

	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	{{#if tabs}}
		<div class="bsp-tabber-wrapper" data-bsp-tabber{{#with jsOptions }} data-bsp-tabber-options='{{> common/options this }}'{{/with}}>
		{{#each tabs}}{{this}}{{/each}}
		</div>
	{{/if}}

	{{#with cta}}
        {{render this}}
	{{/with}}

</div>
