<footer class="bsp-site-footer-simple">

	<div class="bsp-container">
		<div class="bsp-row">

		{{#if socialLinks}}
		<div class="component">

			{{#if socialTitle}}<h5 class="component-title">{{socialTitle}}</h5>{{/if}}

			<div class="component-content">

				<ul class="bsp-share-links">
					{{#each socialLinks}}
						<li class="bsp-{{icon}}-share">{{render this cssClass="bsp-share-link"}}</li>
					{{/each}}
				</ul>

			</div>

		</div>
		{{/if}}

		<div class="bsp-site-copyright">
			{{disclaimer}}
		</div>

		</div>

	</div>
</footer>
