<blockquote class="bsp-component bsp-blockquote">
    <span class="bsp-blockquote-content" style="{{#if contentColor}}color: {{contentColor}}{{/if}}">{{content}}</span>
    {{#if author}}<span class="bsp-blockquote-author" style="{{#if authorColor}}color: {{authorColor}}{{/if}}">{{author}}</span>{{/if}}
</blockquote>
