<div class="bsp-page-title-wrapper"{{#if style}} style="{{style}}"{{/if}}>
	<div class="bsp-container">
		<div class="bsp-row">
			<div class="bsp-column-full">
                {{#with pageTitle}}
                    <h1 class="bsp-page-title"{{#if style}} style="{{style}}"{{/if}}>{{render this}}</h1>
                {{/with}}
			</div>
		</div>
	</div>
</div>
