<header class="bsp-site-header-simple-wrapper">

	<div class="bsp-site-header-simple">
		<div class="bsp-site-logo-simple">
			{{#with siteLogo.link}}
				{{render this imgClass="bsp-site-logo-img"}}
			{{/with}}
		</div>

		{{#with navLinks}}
 			<nav class="bsp-nav-menu-simple">
				<ul class="bsp-nav-menu-items-simple">
					{{#each this}}
						<li class="nav-item-simple">{{render this }}</li>
					{{/each}}
				</ul>
			</nav>
		{{/with}}

        <div class="bsp-site-menu-toggle" data-bsp-toggle-item>
            <div class="bsp-site-menu-trigger-simple toggle-trigger">
                <a href="#"><i class="icon icon-bars"><span class="sr-only">toggle menu</span></i></a>
            </div>
            {{#with navLinks}}
                <nav class="bsp-site-menu-simple toggle-item">
                    <ul class="bsp-site-menu-items-simple">
                        {{#each this}}
                            <li class="site-item-simple">{{render this }}</li>
                        {{/each}}
                    </ul>
                </nav>
            {{/with}}
            {{#if  searchForm}}
                <div class="bsp-site-search-simple-wrapper toggle-item">
                    <div class="bsp-site-search-simple">
                        <form class="bsp-site-search-simple-form" {{#with searchForm.attributes}}{{> common/attributes this}}{{/with}}>
                            {{#with searchForm.searchInput}}
                                {{render this}}
                            {{/with}}

                            <button class="bsp-site-search-submit" type="submit"><i class="icon icon-search"><span class="sr-only">Go</span></i></button>
                        </form>
                    </div>
                </div>
            {{/if}}
        </div>

	</div>

</header>
