<div class="bsp-component">
	<div class="bsp-form-search ">
	
		<div class="bsp-form-search-bar">
				{{#with search-bar}}
				<div class="search-bar">
					{{> (lookup . '_template') }}
				</div>
				
				{{/with}}
					
				{{#with select}}
				<div class="select">
					{{> (lookup . '_template') }}
				</div>
				{{/with}}
					
				{{#with search-button}}
				<div class="button">
					{{> (lookup . '_template') }}
				</div>
				
				{{/with}}
		</div>

	
		<div class="bsp-form-search-list">
			{{#with checkbox}}
			<ul>
				{{#each listItems}}
					{{#with link}}
						<li>{{> (lookup . '_template') }}</li>
					{{/with}}
				{{/each}}
			</ul>
			{{/with}}
		</div>
	</div>
</div>
