<div class="bsp-search-results-filter">
    {{#with heading}}
        {{render this}}
    {{/with}}

    <div class="bsp-search-results-filters">
        {{#each checkboxes}}
            {{render this}}
        {{/each}}
    </div>
</div>
