<header class="bsp-site-header-wrapper">

	<div class="bsp-site-header">

		<div class="bsp-site-logo-wrapper">
			<h1 class="bsp-site-logo">
				{{#with siteLogo.link}}
					{{> common/link imgClass="bsp-site-logo-img"}}
				{{/with}}
			</h1>
		</div>	

		{{#with navLinks}}
 			<nav class="bsp-site-menu" data-bsp-toggle-item>
				<ul class="bsp-site-menu-simple-list">
					{{#each this}}
						<li class="nav-link">{{> common/link }}</li>
					{{/each}}
				</ul>
			</nav>
		{{/with}}

	</div>

</header>