{{#if attributes.id}}
	<div data-bsp-form-message="#{{attributes.id}}"
		{{#if errorMessages}}
		data-bsp-form-message-options='{
			"messages": {{render errorMessages}}
		}'
		{{/if}}
	></div>
{{/if}}