{{!-- Forms do not seem like they can be/should be generic, so this contains an example --}}
<style>
.error {
	color: red;
}
h2 {
	border-bottom: 1px #000 solid;
}
label {
	display: block;
	margin-top: 10px;
}
.buttons {
	margin-top: 20px;
}
</style>
<form action="" method="GET" data-bsp-form>

<h2>inputs</h2>

<p>Skipping types: button, file, hidden, image</p>
<p>Desktop: Need to test in various IE versions</p>
<p>Mobile: Need to test Android (Browser and Chrome) and iOS Safari</p>

<h3>type: checkbox</h3>
<p>Desktop: works consistently in all browsers</p>
{{> common/input inputs.checkbox1 }}

<h3>type: color</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.color1 }}

<h3>type: date</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.date1 }}

<h3>type: datetime</h3>
<p>Desktop: not supported in any major browsers now, acts like a textfield</p>
{{> common/input inputs.datetime1 }}

<h3>type: datetime-local</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.datetimelocal1 }}

<h3>type: email</h3>
<p>Desktop: works consistently in Chrome/Firefox/Safari, IE tbd</p>
{{> common/input inputs.email1 }}

<h3>type: month</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.month1 }}

<h3>type: number</h3>
<p>Desktop: native controls in Chrome/Firefox/Safari, IE tbd</p>
{{> common/input inputs.number1 }}

<h3>type: password</h3>
<p>(with custom bsp-form-constraint-matches constraint)</p>

{{> common/input inputs.password1 }}
{{> common/input inputs.password2 }}

<h3>type: radio</h3>
<p>to be implemented</p>

<h3>type: range</h3>
<p>to be implemented</p>

<h3>type: search</h3>
<p>Desktop: works consistently in Chrome/Firefox/Safari, IE tbd</p>
{{> common/input inputs.search1 }}

<h3>type: tel</h3>
<p>Desktop: works consistently in Chrome/Firefox/Safari, IE tbd</p>
{{> common/input inputs.tel1 }}

<h3>type: text</h3>
<p>Desktop: works consistently in Chrome/Firefox/Safari, IE tbd</p>
{{> common/input inputs.textfield1 }}

<h3>type: time</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.time1 }}

<h3>type: url</h3>
<p>Desktop: works in Chrome/Firefox/Safari, but validation patterns are inconsistent. IE tbd.</p>
{{> common/input inputs.url1 }}

<h3>type: week</h3>
<p>Desktop: native control in Chrome, acts like text field in Firefox/Safari, IE tbd</p>
{{> common/input inputs.week1 }}

<h2>others</h2>

<h3>select</h3>
{{> common/select dropdowns.dropdown1 }}

<h3>textarea</h3>
{{> common/textarea textareas.textarea1 }}

<div class="buttons">
{{> common/input inputs.submit }}
{{> common/input inputs.reset }}
</div>

</form>