<div class="bsp-component">
	{{#if galleryTitle}}
		<h3 class="bsp-component-title">{{galleryTitle}}</h1>
	{{/if}}
	
	<div class="gallery-module bsp-carousel" data-bsp-carousel data-bsp-carousel-options='{ "theme" : "carousel-dots", "themeConfig" : { "arrows" : true } }'>
		{{#gallerySlides}}
			<div class="bsp-carousel-slide"><img alt="" src="{{slideImage}}" /></div>
		{{/gallerySlides}}
	</div>
</div>