<div class="bsp-component">
	<div class="bsp-img-promo">
		<div class="bsp-img-promo-image">
			<img src="{{imgSrc}}" alt="{{imgAlt}}" />
		</div>
		<div class="bsp-img-promo-text">
			{{#if title}}
				<div class="bsp-img-promo-title">{{title}}</div>
			{{/if}}
			{{#if description}}
				<div class="bsp-img-promo-desc">{{description}}</div>
			{{/if}}
		</div>
	</div>
</div>