<div class="bsp-page-title-wrapper">
	<div class="bsp-container">
		<div class="bsp-row">
			<div class="bsp-column-full">
				<h1 class="bsp-page-title">{{pageTitle}}</h1>
			</div>
		</div>
	</div>
</div>