._Block() {
    margin: 1rem 0 0 0;
}

._TextLarge() {
    font-size: 2em;
    line-height: 1.3;
}

._TextSmall() {
    font-size: .8em;
}

@_demo: false;

& when (@_demo) {
    @import (inline) 'node_modules/normalize.css/normalize.css';

    html {
        font-size: 27px;
    }

    body {
        background: white;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        margin: 1rem;
    }

    p {
        ._Block;
    }
}
