// overrides can go here

.bsp-styleguide-header {
	.bsp-site-logo {

		.bsp-scrolling & {
	   		left: 2rem;
	    }	
	}

	.bsp-extra-menu {
	   margin-right: -125px;

	   .bsp-scrolling & {
	   		right: 2rem;
	   }
	}
}

.bsp-styleguide-header {

	// hiding search in the styleguide for now until hbs is fixed
	.bsp-site-search-trigger {
		display: none;
	}

}

.bsp-form-input-button-container {
	padding-top: 2em;
	text-align: center;
}