body {
    font-family: 'Helvetica Neue', sans-serif;
}

.sg-menu {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 280px;
    word-break: break-all;
}

.sg-menu li {
    margin-bottom: 10px;
}

.sg-content {
    bottom: 0;
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
}

.sg-content iframe {
    border: none;
    height: 100%;
    width: 100%;
}
