{{#defineBlock "Enhancement"}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}" {{#with alignment}} data-alignment="{{this}}"{{/with}}{{extraAttributes}}>
            {{#defineBlockBody}}
                {{content}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
