.Enhancement {

    &[data-alignment='left'] {
        &:extend(.Enhancement[data-alignment='left'] all);
    }

    &[data-alignment='right'] {
        &:extend(.Enhancement[data-alignment='right'] all);
    }

    & when (@_demo) {
        margin: 2rem;

        &[data-alignment='left'] {
            float: left;
            margin-left: 0;
        }

        &[data-alignment='right'] {
            float: right;
            margin-right: 0;
        }
    }
}
