.Image {
    &-image {
        &:extend(.Image-image all);
    }

    & when (@_demo) {
        position: relative;

        &-image {
            display: block;
        }
    }
}

._Image--size-fluid() {
    width: 100%;

    &-image {
        width: 100%;
        height: auto;
    }
}

._Image--size-auto() {
    width: auto;

    &-image {
        width: auto;
    }
}
