.PageFooter {
    &-logo {
        &:extend(.PageFooter-logo all);
    }

    &-navigation {
        &:extend(.PageFooter-navigation all);
    }

    &-copyright {
        &:extend(.PageFooter-copyright all);
    }

    &-promo {
        &:extend(.PageFooter-promo all);
    }

    &-socialLinks {
        &:extend(.PageFooter-socialLinks all);
    }

    & when (@_demo) {
        background-color: #e1e1e1;
        margin: 1rem -1rem -1rem;
        padding: 1rem;

        &-logo {
            float: left;
            width: 50%;
        }

        &-promo {
            float: right;
            width: 50%;
        }

        &-navigation {
            clear: both;
        }

        &-socialLinks {
            ._Block;
        }
    }
}
