.PageHeader {

    &-logo {
        &:extend(.PageHeader-logo all);
    }

    &-navigation {
        &:extend(.PageHeader-navigation all);
    }

    &-search {
        &:extend(.PageHeader-search all);
    }

    & when (@_demo) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -1rem -1rem 1rem;
        padding: 1rem;
        background-color: #e1e1e1;

        &-logo {

        }
    }
}
