// Playbill has custom media queries and site widths. Documentation is in the base equilavent of this file

// @screen-xs-min:         	480px;
// @screen-sm-min:         	768px;

@screen-md-min:         	1020px;
@screen-lg-min:         	1265px;

@grid-gutter-width:     	15px;

// @container-tablet:      	(720px + @grid-gutter-width);

@container-desktop:     	(990px + @grid-gutter-width);
@container-large-desktop: 	(1250px + @grid-gutter-width);