/* This file will house individual elements which don't really need their own files */
.bsp-loading-icon {

    &:after {
        background: url('../images/bsp-ajax-loader.gif') 50% 15% no-repeat;
        content: '';
        display: block;
        height: 300px;
        width: 100%;
    }

}
