.bsp-section {

    @media @mq-md {
        .bsp-component-content, .bsp-component-title {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media @mq-lg {
        .bsp-component-content, .bsp-component-title {
             width: @screen-lg-min;
        }
    }

    @media @mq-only-md {
        .bsp-component-content, .bsp-component-title {
             width: @screen-md-min;
        }
    }

    .bsp-image-promo-image {
        margin-bottom: 0;
    }

}
