// bsp-site-wrapper is around the entire site includeing header, site, and footer
.bsp-site-wrapper {}

/// bsp-site is just around the site other than the header and footer, mostly used for fixed position offset
.bsp-site {
	background: @white;
	padding-top: @header-below-padding;
	position: relative;

	& when (@header-positioning = fixed) {
    	top: @header-tophat-height + @header-height; 
    }
}

// This will be our grid. We start out by creating our site container, which will determine the overall centered site width
.bsp-container {
    .container();
}

.bsp-row {
	.make-row();
}

// With the below columns, we should be able to create most every layout necessary. 
// We can always make more, but because we can make subgrids in columns, we can do a lot with just these

.bsp-column-full {
	// no styles, this is full on every breakpoint
	.make-xs-column(12);
}

.bsp-column-main {
	.make-sm-column(7);
	.make-md-column(8);
}

.bsp-column-aside {
	.make-sm-column(5);
	.make-md-column(4);
}

.bsp-column-half {
	.make-sm-column(6);
}

.bsp-column-third {
	.make-sm-column(4);
}