// bsp-site-wrapper is around the entire site includeing header, site, and footer
.bsp-site-wrapper {}

/// bsp-site is just around the site other than the header and footer
.bsp-site {
	background: @white;
	padding-top: @site-top-and-bottom-space;
	position: relative;
}

// fixed positioning offset if applicable
body {
	& when (@header-positioning = fixed) {
    	padding-top: @header-tophat-height + (@header-height);
    }
}

// This will be our grid. We start out by creating our site container, which will determine the overall centered site width
.bsp-container {
    .container();
}

.bsp-row {
	.make-row();
}

// With the below columns, we should be able to create most every layout necessary. 
// We can always make more, but because we can make subgrids in columns, we can do a lot with just these
//
// If we need custom widths for a particular component, we can just use the mixin classes to create something
// custom for that one component. But if they will be reused throughout a site, we should create reusable classes

.bsp-column-full {
	// no styles, this is full on every breakpoint
	.make-xs-column(12);
}

.bsp-column-main {
	.make-sm-column(7);
	.make-md-column(8);
}

.bsp-column-aside {
	.make-sm-column(5);
	.make-md-column(4);
}

.bsp-column-half {
	.make-sm-column(6);
}

.bsp-column-two-thirds {
	.make-sm-column(8);
}

.bsp-column-third {
	.make-sm-column(4);
}

.bsp-column-fourth {
	.make-sm-column(3);
}


// The below styles create a fixed column to the left or to the right, depending on your markup. The column-fixed-wrap is there so that 
// the fixed column knows where to place itself to the left and right. It has to get a hardcoded width, because that is how fixed
// positioning works

.bsp-column-scrolling {
	.make-md-column(9);
}

.bsp-column-fixed-wrap {
	.make-md-column(3);
}

.bsp-column-fixed {
	.transition(height .15s linear);

	background: @white;
	border-top: @border-style-2;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	&.toggle-in {
		height: 50%;
		overflow-y: auto;

		@media @mq-only-sm {
			height: 25%;
		}
	}

	// components inside of fixed columns lose their padding
	.bsp-component {
		padding: 0;
	}
}

body.bsp-column-fixed-toggle-in {
	overflow: hidden;
	background: rgb(0,0,0,0.5);	
}

.bsp-trigger-fixed-column {

	a {
		&:extend(.bsp-btn);
		position: absolute;
		top: @space-three-quarter;
		right: @space-three-quarter;
	}

	.toggle-trigger-link-out {
		display: block;
	}

	.toggle-trigger-link-in {
		display: none;
	}

	&.toggle-in {

		.toggle-trigger-link-out {
			display: none;
		}

		.toggle-trigger-link-in {
			display: block;
		}

	}


}

@media @mq-md {

	body {
		& when (@header-positioning = fixed) {
	    	padding-top: @header-tophat-height + @header-height-before-scroll;
	    }
	}

	body.bsp-scrolling, body.bsp-fullscreen {
		& when (@header-positioning = fixed) {
			// adding extra 25px for smoother scrolling user experience
	    	padding-top: @header-tophat-height + @header-height + 25px;
	    }
	}

	// styles to create a fixed column that will be stuck on the screen
	.bsp-column-fixed {
		border-top: none;
		bottom: auto;
		display: block;
		left: auto;
		margin-top: @site-top-and-bottom-space;
		top: (@header-height * 2) + @header-tophat-height;
		width: 240px; // custom width for our site grid

		.bsp-scrolling &, .bsp-fullscreen & {
			top: @header-height + @header-tophat-height;
		}
	}

	// since column is on the screen, we no longer need the toggle
	.bsp-trigger-fixed-column {
		display: none;
	}
}

@media @mq-lg {
	
	// up th width to match, has to stay hardcoded as it's fixed positioning
	.bsp-column-fixed {
		width: 317px;
	}
	
}