// padding vs margin allows for cleaner separation between components, especially if things inside of them use margins

.bsp-component-wrapper {
	padding-bottom: @space-double;
}

.bsp-component-wrapper-title {
	&:extend(.ts-1);

	margin: 0 0 @space 0;
}

.bsp-component {
	padding-bottom: @space-double;
}