// padding vs margin allows for cleaner separation between components, especially if things inside of them use margins

.bsp-component {
	padding-bottom: @space-double;
}

.bsp-component-title {
	&:extend(.ts-0);

	background: @brand-dark;
	color: @brand-primary;
	padding: @space-quarter @space;
	margin: 0 0 @space 0;
}

.bsp-component-content {
	// no styles yet
}

.bsp-component-cta {

	margin-top: @space;

	a {
		background: @brand-primary;
		display: block;
		color: @brand-dark;
		padding: @space-quarter 0;
		text-align: center;
	}
	
}

// if the content has hard item heights, there is no margin on the cta, it will screw up the hardcoded item heights
.bsp-component-content.hard-item-heights + .bsp-component-cta {
	margin-top: 0;
}


// styles to create a fixed component that will be stuck on the screen
// need media query for styling, as fixed never occurs on xsmall screen size anyways
// the width of this component is hardcoded in grid.less, so that widths can be set in one less file
@media @mq-sm {

	// fixed position, properly spaced from the header
	.bsp-component-fixed {
		margin-top: @header-below-padding;
		position: fixed;
		top: @header-height + @header-tophat-height;
	}

}
