<blockquote class="component">
    <span class="blockquote-content" style="{{#if displayOptions.contentColor}}color: {{displayOptions.contentColor}}{{/if}}">{{content}}</span>
    {{#if author}}<span class="blockquote-author" style="{{#if displayOptions.authorColor}}color: {{displayOptions.authorColor}}{{/if}}">{{author}}</span>{{/if}}
</blockquote>
