.Commenting {

    &-title {
        &:extend(.Commenting-title all);
    }

    &-body {
        &:extend(.Commenting-body all);

        &[data-comments-hidden="false"] {
            height: auto;
            overflow: visible;
        }

        &[data-comments-hidden="true"] {
            height: 0;
            overflow: hidden;
        }
    }

    &-actions {
        &:extend(.Commenting-actions all);
    }
}
