.Main {
    > * {
        margin: 0 0 1em 0;
    }

    &-breadcrumbs {
        &:extend(.Main-breadcrumbs all);
    }

    &-preHeadline {
        &:extend(.Main-preHeadline all);

        font-size: .8rem;
        font-weight: bold;
    }

    &-headline {
        &:extend(.Main-headline all);

        font-size: 2rem;
    }

    &-subHeadline {
        &:extend(.Main-subHeadline all);
    }

    &-byline {
        &:extend(.Main-byline all);
    }

    &-tags {
        &:extend(.Main-tags all);
    }

    &-socialSharing {
        &:extend(.Main-socialSharing all);
    }

    &-comments {
        &:extend(.Main-comments all);
    }

    &-relatedContent {
        &:extend(.Main-relatedContent all);
    }
}