.CommentEntry {

    &-user {
        &:extend(.CommentEntry-user all);
    }

    &-userName {
        &:extend(.CommentEntry-userName all);
    }

    &-logoutButton {
        &:extend(.CommentEntry-logoutButton all);
    }

    &-form {
        &:extend(.CommentEntry-form all);
    }

    &-input {
        &:extend(.CommentEntry-input all);
    }

    &-errorMessages {
        &:extend(.CommentEntry-errorMessages all);
    }

    &-errorMessageServer {
        &:extend(.CommentEntry-errorMessageServer all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-errorMessageTooLong {
        &:extend(.CommentEntry-errorMessageTooLong all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-errorMessageBlank {
        &:extend(.CommentEntry-errorMessageBlank all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-submit {
        &:extend(.CommentEntry-submit all);
        &-button {
            &:extend(.CommentEntry-submit-button all);
        }
    }

    &-actions {
        &:extend(.CommentEntry-actions all);
    }

    & when (@_demo) {
        &-auth {
            font-size: 12px;
            display: flex;
        }

        &-userName {
            font-weight: bold;
        }

        &-userImage {
            width: 40px;
            float: left;
        }

        &-input{
            &-textarea {
                padding: 5px;
                width: 100%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
                border-color: #b2b2b2;
                font-size: 14px;
                min-height: 75px;
            }
        }

        &-inputCharacterCount {
            text-align: right;
            font-size: 12px ;
            color: #b2b2b2;
        }

        &-logoutForm {
            display: inline-block;
            vertical-align: bottom;
        }

        &-logoutButton {
            font-size: 14px;
            background: 0 0;
            border: none;
            padding: 0;
            line-height: normal;
            display: block;
        }

        &-input  {
            padding-top: 10px;
            clear: both;
        }

        &-user {
            float: left;
        }


        &-actions {
            margin-top: 10px;
            text-align: right;
        }
    }
}
