.CommentEntry {

    &-user {
        &:extend(.CommentEntry-user all);
    }

    &-userName {
        &:extend(.CommentEntry-userName all);
    }

    &-logoutButton {
        &:extend(.CommentEntry-logoutButton all);
    }

    &-form {
        &:extend(.CommentEntry-form all);
    }

    &-input {
        &:extend(.CommentEntry-input all);
    }

    &-errorMessages {
        &:extend(.CommentEntry-errorMessages all);
    }

    &-errorMessageServer {
        &:extend(.CommentEntry-errorMessageServer all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-errorMessageTooLong {
        &:extend(.CommentEntry-errorMessageTooLong all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-errorMessageBlank {
        &:extend(.CommentEntry-errorMessageBlank all);
        display: none;
        &[data-visible] {
            display: block;
        }
    }

    &-submit {
        &:extend(.CommentEntry-submit all);
        &-button {
            &:extend(.CommentEntry-submit-button all);
        }
    }

    &-actions {
        &:extend(.CommentEntry-actions all);
    }

}
