<!DOCTYPE html>
<html class="Page" itemscope itemtype="http://schema.org/WebPage"{{extraAttributes}}>
    <head>
        {{head}}
    </head>
    <body class="Page-body">
        {{body}}
    </body>
</html>
