@import (reference) 'main.less';

.sg-border-example.style-1 {
  border: @border-style-1;
}

.sg-border-example.style-2 {
  border: @border-style-2;
}

.sg-border-example.style-3 {
  border: @border-style-3;
}

.sg-border-example.style-4 {
  border: @border-style-4;
}

.sg-border-example.style-5 {
  border: @border-style-5;
}

.sg-border-example.style-6 {
  border: @border-style-6;
}

.sg-border-example.style-7 {
  border: @border-style-7;
}

.sg-border-example.style-8 {
  border: @border-style-8;
}
