// Stylesheet theme to show sample styling for the gallery
// In the styleguide, select "Gallery" from the dropdown in the upper right of the page.

@import "../base/Reset.less";

/**
* Bowered CSS.
* ----------------------------------------------------------------------------
* This is for plugins that we bowered in that have their own CSS
* ----------------------------------------------------------------------------
*/
@import (inline) "../bsp-carousel.css";
@import (inline) "../bsp-modal.css";

// Blank styles to set up LESS extend inheritance
@import "../base/gallery/Gallery.less";
@import "../base/gallery/GalleryIntro.less";
@import "../base/gallery/GallerySlide.less";

// Sample styles for Gallery

.GallerySample() {
    @screen-xs-min:             320px;
    @screen-sm-min:             568px;
    @screen-md-min:             768px;
    @screen-lg-min:             1024px;
    @screen-xl-min:             1440px;
    @screen-xxl-min:            1920px;

    @_screen-xs-max:            (@screen-sm-min - 1);
    @_screen-sm-max:            (@screen-md-min - 1);
    @_screen-md-max:            (@screen-lg-min - 1);
    @_screen-lg-max:            (@screen-xl-min - 1);
    @_screen-xl-max:            (@screen-xxl-min - 1);

    @mq-xs:                     ~"only screen and (min-width: @{screen-xs-min})";
    @mq-xs-landscape:           ~"@{mq-xs} and (orientation: landscape)";
    @mq-sm:                     ~"only screen and (min-width: @{screen-sm-min})";
    @mq-md:                     ~"only screen and (min-width: @{screen-md-min})";
    @mq-lg:                     ~"only screen and (min-width: @{screen-lg-min})";
    @mq-xl:                     ~"only screen and (min-width: @{screen-xl-min})";
    @mq-xxl:                    ~"only screen and (min-width: @{screen-xxl-min})";

    @mq-only-xs:                ~"only screen and (max-width: @{_screen-xs-max})";
    @mq-only-sm:                ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{_screen-sm-max})";
    @mq-only-md:                ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{_screen-md-max})";
    @mq-only-lg:                ~"only screen and (min-width: @{screen-lg-min})";
    @mq-only-xl:                ~"only screen and (min-width: @{screen-xl-min})";
    @mq-only-xxl:               ~"only screen and (min-width: @{screen-xxl-min})";

    // Gallery colors
    @gallery-color-bg: black;
    @gallery-color-fg: white;
    @gallery-color-slide-border: white;
    @gallery-color-button-bg: white;
    @gallery-color-button-fg: black;
    @gallery-color-intro-bg: white;
    @gallery-color-intro-fg: black;
    @gallery-color-slide-info-bg: #1b1b1b;
    @gallery-color-slide-info-fg: white;
    @gallery-color-modal-controls-bg: #3c3c3c;
    @gallery-color-modal-controls-fg: white;

    // Mixin to clear floats
    .clearfix() {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    // Mixin to clear absolute position
    .clearpos() {
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
    }

    // Mobile first styles
    // Starting with @mq-xs (320px)

    .Gallery {

      background-color: @gallery-color-bg;
      color: @gallery-color-fg;
      button {
        background-color: @gallery-color-button-bg;
        color: @gallery-color-button-fg;;
      }

      &[data-gallery-singleton] {
        // If the gallery is in singleton mode
      }

      &-intro {
        // Gallery-background images to be positioned absolutely
        position: relative;

        // Set a minimum height but allow it to expand if the GalleryIntro content goes long
        min-height: 540px;

        // Center the GalleryIntro block
        display: flex;
        align-items: center;
        justify-content: center;

        // The intro box that sits above the background images
        .GalleryIntro {
          z-index: 1; // Needs a z-index so it will sit on top of Gallery-background
          width: 240px - (20px * 2);
          padding: 30px 20px;
          margin: 1em 0; // in case the intro gets larger than the
          background-color: @gallery-color-intro-bg;
          color: @gallery-color-intro-fg;
        }

        &-background {

          &[data-gallery-intro-background="single"] {
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              object-fit: cover;
            }
          }

          &[data-gallery-intro-background="montage"] {

            img {
              position: absolute;
              object-fit: cover;

              // Image grid:
              //
              // 111 2
              // 111 3
              // 4 777
              // 5 777
              // 6 777

              &:nth-child(1) {
                top: 0;
                left: 0;
                width:65%; // let width expand
                height:40%;
              }
              &:nth-child(2) {
                top: 0;
                right: 0;
                width: 32%;
                height: 19%;
              }
              &:nth-child(3) {
                top: 21%;
                right:0;
                width: 32%;
                height: 19%;
              }
              &:nth-child(4) {
                width: 32%;
                height: 18%;
                left: 0;
                top: 42%;
              }
              &:nth-child(5) {
                width: 32%;
                height: 18%;
                left: 0;
                top: 62%;
              }
              &:nth-child(6) {
                width: 32%;
                height: 18%;
                left: 0;
                bottom: 0;
              }
              &:nth-child(7) {
                width: 65%;
                height: 58%;
                right: 0;
                bottom: 0;
              }

              // Hide anything past seven images
              &:nth-child(n+8) {
                display:none;
              }
            }
          }
        }
      }

      &-controls {

        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 20px;

        &-count {
        }

        &-buttons {
          // Hide control buttons for small screens
          display:none;
        }
      }

      // Slides are cloned into List and Tiles views, so hide the original slides
      // unless we're in "singleton" mode. In that case there are not list or tiles views.
      &-slides {
        display: none;
      }

      .GallerySlide {

        &-media {
          position:relative;
          cursor: pointer;

          &:hover {
            .GallerySlide-mediaControlsZoom {
              display: block;
            }
          }
        }

        &-mediaControlsZoom {
          // Hide by default, show on :hover
          display: none;
          position: absolute;
          right: 26px;
          top: 26px;
        }
      }

      /* List View */
      &-slides[data-gallery-view="list"] {

        display:block;

        .GallerySlide {

          border-top: 1px solid @gallery-color-slide-border;
          padding-top: 10px;
          padding-bottom: 10px;

          .clearfix;

          &-media {
            width:100%;
          }
          &-mediaContent {
            img {
              display:block;
              width:100%;
              height: auto;
            }
          }
          &-info {
            margin: 10px 20px;
          }
        }
      }

      /* Singleton view */
      &[data-gallery-singleton] &-slides {

        display: block;

        .GallerySlide {

          padding-top: 0;
          padding-bottom: 10px;

          .clearfix;

          &-media {
            width:100%;
          }
          &-mediaContent {
            img {
              display:block;
              width:100%;
              height: auto;
            }
          }
          &-info {
            margin: 10px 20px;
          }
        }
      }

      /* Tile view */
      &-slides[data-gallery-view="tiles"] {
        // No tiles until window is wide enough
        display: none;
      }
    }

    // Gallery modal used for zoomed view
    .modal-theme-gallery {
      .vex-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      // Hide the default close button for the modal since we will provide our own
      .vex-close {
        display:none;
      }
    }

    // Modal is outside of the main Gallery element
    .Gallery-modal {
      width: 100vw;
      height: 100vh;
      position:relative;
    }

    // Extra controls that appear in the modal (Close, Prev, Next, Count, Info)
    .Gallery-modalControls {
        position: absolute;

        // Give a z-index so it sits on top of image
        z-index:1;

        &Close {
          position: fixed;
          right:15px;
          top:10px;
        }
        &Fullscreen {
          display: none;
          position: fixed;
          right:15px;
          top:60px;
        }
        &Prev {
          display:none;
        }
        &Next {
          display:none;
        }
        &Info {
          position: fixed;
          right: 15px;
          bottom: 10px;
        }
        &Count {
          // Hidden for mobile view but displayed when info button is clicked
          display:none;
          color: @gallery-color-fg;
          position: fixed;
          right: 70px;
          bottom: 10px;

          // Hack to fix a bug in Chrome browser with fixed position
          // and force the element to be updated when the content changes
          // See here: http://stackoverflow.com/a/15203880/101157
          -webkit-transform: translateZ(0);
        }
    }

    // Slides within the modal
    .Gallery-slides[data-gallery-view="modal"] {

      // The Gallery-slides are hidden initially, so we need to override that and display them.
      display: block;
      background-color: @gallery-color-bg;

      .GallerySlide {

        // Set up a flex columns so the image and info can expand / contract to fill available space
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;

        &-media {
          display: flex;
          width: 100%;
          height: 100%;
        }

        &-mediaContent {

          // Set up flex display so the image scales to available space
          display: flex;
          width: 100%;
          height: 100%;

          min-height: 40%;

          img {
            // Make the image fill the available space
            display: block;
            min-width: 100%;
            min-height:100%;

            // If the image gets stretched, add space so the image stays at same aspect ratio.
            object-fit: contain;
          }
        }

        &-mediaControlsZoom {
          // Since we're already in the modal, hide the zoom control on the image
          display: none !important;
        }

        &-info {

          // Hide the info by default
          display: none;

          z-index:1;
          background-color: @gallery-color-slide-info-bg;
          color: @gallery-color-slide-info-fg;
          padding: 20px;
          font-size:80%;
        }
      }
    }

    // An attribute is added to indicate when the carousel navigation should be hidden within modal view
    // (if there is only a single slide to show in the carousel)
    .Gallery-modal[data-gallery-hidenav] {
      .Gallery-modalControls {
        &Prev, &Count, &Next {
          display: none !important;
        }
      }
    }

    // Hide the "Fullscreen" button if the modal is already in fullscreen,
    // or if fullscreen mode is not supported
    .Gallery-modal:fullscreen, .Gallery-modal:not([data-gallery-fullscreen-is-supported]) {
      .Gallery-modalControls {
        &Fullscreen {
          display: none !important;
        }
      }
    }

    // An attribute is added to indicate when the info should be displayed within modal view
    .Gallery-modal[data-gallery-showinfo] {

        .GallerySlide {
          &-media {
            // Make the image take up any remaining space not used by the info
            flex-grow: 1;
            flex-shrink: 99;
          }
          &-info {
            display:block;
            overflow: auto;

            // A little extra padding so the text can scroll up past the "Info" button
            // to ensure the text is not obscured.
            padding-bottom: 40px;

            flex-shrink: 1;
          }
        }

        .Gallery-modalControls {

          &Count {
            display:inline-block;
          }

          &Info {
            // Make the "Info" button appear selected
            font-weight: bold;
          }
        }
    }

    // For certain sizes show the alternate short text if it is defined
    @media only screen and (max-width: 567px) {
      .Gallery, .Gallery-modal {
        [data-shorttext] {
          > span { font-size: 0; display:table; }
          &:after {
            font-size: inherit;
            content: attr(data-shortText);
          }
        }
      }
    }

    // Styles for 568px
    @media @mq-sm {

      .Gallery {

        &-intro {

          min-height: 326px;

          .GalleryIntro {
            width: 460px - (40px * 2);
            padding: 30px 40px;
          }

          &-background[data-gallery-intro-background="montage"] {

            img {

              // Different image grid:
              //
              // 1 2 44444
              // 333 44444
              // 333 5 6 7

              &:nth-child(1) {
                .clearpos;
                top: 0;
                left: 0;
                width: 19%;
                height: 32%;
              }
              &:nth-child(2) {
                .clearpos;
                top: 0;
                left: 20%;
                width: 19%;
                height: 32%;
              }
              &:nth-child(3) {
                .clearpos;
                bottom: 0;
                left: 0;
                width: 39%;
                height: 66%;
              }
              &:nth-child(4) {
                .clearpos;
                right: 0;
                top: 0;
                width: 60%;
                height: 66%;
              }
              &:nth-child(5) {
                .clearpos;
                left: 40%;
                bottom: 0;
                width: 19%;
                height: 32%;
              }
              &:nth-child(6) {
                .clearpos;
                left: 60%;
                bottom: 0;
                width: 20%;
                height: 32%;
              }
              &:nth-child(7) {
                .clearpos;
                right: 0;
                bottom: 0;
                width: 19%;
                height: 32%;
              }
            }
          }
        }
      }

      // Modal 568px
      // Move the slide info to the right instead of the bottom
      .Gallery-modal[data-gallery-showinfo] {
        .GallerySlide {
          flex-direction: row;
          &-media {
            width: 65%;
          }
          &-info {
            display:flex;
            flex-direction:column;
            justify-content: center;
            padding-top: 40px;
            width: 35%;
          }
        }
      }
    }

    // Styles for 768px
    @media @mq-md {

      .Gallery {

        &-intro {

          min-height: 432px;

          .GalleryIntro {
            width: 568px - (40px * 2);
            padding: 40px;
          }
        }

        &-controls {

          .clearfix;
          margin-top: 40px;
          margin-bottom: 20px;

          &-count {
            float:left;
          }

          &-buttons {

            // Start displaying control buttons at this breakpoint
            display:block;
            float:right;

            &-list {
                // Replace control buttons with icons if desired
            }

            &-tiles {
              // Replace control buttons with icons if desired
            }

            [data-gallery-button-active] {
              font-weight:bold;
              text-decoration:none;
              pointer-events: none;
            }
          }
        }

        &-slides[data-gallery-view="list"] {

          display: none;

          .GallerySlide {

            border-top: 1px solid @gallery-color-slide-border;
            padding-top: 20px;
            padding-bottom: 20px;

            .clearfix;

            &-media {
              float:right;
              margin-right:20px;
              width:72%;
              img {
                display:block;
                width:100%;
                height: auto;
              }
            }
            &-info {
              float: left;
              width: 20%;
              margin-left: 20px;
              margin-right: 10px;
            }
          }
        }

        &-slides[data-gallery-view="tiles"] {

          display: none;
          border-top: 1px solid @gallery-color-slide-border;
          padding: 20px;

          .GallerySlide {

            width: 45%;
            margin-bottom: 30px;

            &-media {
              width:100%;
            }
            &-mediaContent {
              img {
                width:100%;
                height: auto;
              }
            }
            &-info {
              margin-top:10px;
            }
          }
        }

        &-slides[data-gallery-view-active] {
          display:block;
        }
      }

      // Modal 768px
      // Goes back to putting the info below the image
      // Also puts controls at the bottom and adds next/previous buttons
      // Modal controls appear at the bottom of the screen
      .Gallery-modalControls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        background-color: @gallery-color-modal-controls-bg;

        &Close {
          .clearpos;
          position: fixed;
          left: 15px;
          bottom: 20px;
        }
        &Fullscreen {
          .clearpos;
          position: fixed;
          left: 80px;
          bottom: 20px;

          // For demo purposes we are not displaying the fullscreeen button.
          // Change this to display:inline to use the fullscreen button
          display: none;
        }

        &Count {
          .clearpos;
          position: fixed;
          left: 0;
          bottom: 20px;
          width: 100%;
          text-align: center;
          color: @gallery-color-modal-controls-fg;
          display: inline-block;
          z-index: -1;
        }

        &Info {
          bottom: 20px;
        }

        &Prev {
          display: inline-block;
          position: fixed;
          right: 55%;
          bottom: 20px;
        }
        &Next {
          display: inline-block;
          position: fixed;
          left: 55%;
          bottom: 20px;
        }
      }

      .Gallery-modalCarousel {
        .GallerySlide {
          &-media {
            // Leave space for modal controls
            margin-bottom: 60px;
          }
        }
      }
      .Gallery-modal[data-gallery-showinfo] {
        .GallerySlide {
          flex-direction: column;
          &-media {
            margin-bottom: 0;
            width: 100vw;
          }
          &-info {
            display:block;
            padding-top: 20px;
            padding-bottom: 70px;
            width: 100vw;
          }
        }
      }
    }

    // Styles for 1024px
    @media @mq-lg {

      .Gallery {

        &-intro {
          min-height: 576px;
          .GalleryIntro {
            width: 768px - (84px * 2);
            padding: 40px 84px;
          }
        }

        &-slides[data-gallery-view="list"] {
          .GallerySlide {
            padding-top: 30px;
            padding-bottom: 30px;
          }
        }

        &-slides[data-gallery-view="tiles"] {
          padding: 30px 20px;
          .GallerySlide {
            width: 30%;
          }
        }
      }

      // Modal 1024
      // Goes back to putting the info to the right of the image
      // Also puts controls at the rigth of the image.
      .Gallery-modalControls {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        height: 100vh;

        &Close {
          .clearpos;
          position: fixed;
          top: 20px;
          right: 15px;
        }

        &Fullscreen {
          .clearpos;
          position: fixed;
          top: 60px;
          right: 15px;
        }

        &Count {
          .clearpos;
          position: fixed;
          top: 50%;
          right: 0;
          text-align: center;
          vertical-align: middle;
          color: @gallery-color-modal-controls-fg;
          display: inline-block;
          z-index: auto;
          width: 60px;
        }

        &Info {
          bottom: 20px;
        }

        &Prev {
          .clearpos;
          display: inline-block;
          position: fixed;
          right: 0;
          top: 46%;
        }
        &Next {
          .clearpos;
          display: inline-block;
          position: fixed;
          right: 0;
          top: 54%;
        }
      }

      .Gallery-modalCarousel {
        // Reduce size of media to leave room for modal controls
        width: ~"calc(100vw - 60px)";
        .GallerySlide {
          &-media {
            // Remove space for modal controls at bottom since they are now on right
            margin-bottom: 0;
          }
        }
      }
      .Gallery-modal[data-gallery-showinfo] {
        .Gallery-modalControls {
          background-color: @gallery-color-modal-controls-bg;
        }
        .GallerySlide {
          flex-direction: row;
          &-media {
            width: 75%;
          }
          &-info {
            display:flex;
            padding: 0 80px 0 20px; // leave extra room on right for controls
            width: 25%;
          }
        }
      }
    }

    // Styles for 1440px
    @media @mq-xl {

      .Gallery {

        // Set a fixed width so gallery doesn't get any larger than this
        width: @screen-xl-min;

        &-intro {
          min-height: 810px;
          .GalleryIntro {
            width: 1024px - (212px * 2);
            padding: 50px 212px;
          }
        }

        &-slides[data-gallery-view="list"] {

          .GallerySlide {

            padding-top: 40px;
            padding-bottom: 40px;

            &-media {
              // Since we're not letting gallery expand beyond this size, using px width instead of %
              width: 1024px;
              margin-right:98px;
            }

            &-info {
              // Since we're not letting gallery expand beyond this size, using px width instead of %
              width:200px;
              margin-left: 98px;
              margin-right: 20px;
            }
          }
        }

        &-slides[data-gallery-view="tiles"] {
          padding: 40px 100px;
          .GallerySlide {
            width: 400px;
          }
        }
      }
    }
}

.GallerySample();
