<div class="bsp-site-wrapper">

    {{#with headerView}}
        {{render this}}
    {{/with}}

    <div class="bsp-site">

        {{render mainView}}

    </div>

    {{#with footerView}}
        {{render this}}
    {{/with}}

</div>