<div class="bsp-site-wrapper">

    {{#with headerView}}
        {{render this}}
    {{/with}}

    <div class="bsp-site" style="{{options.inlineStyle}}">

        {{#if mainView}}{{render mainView}}{{/if}}

    </div>

    {{#with footerView}}
        {{render this}}
    {{/with}}

</div>
