<div class="bsp-tophat">
	<ul class="bsp-tophat-links">
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 1</a></li>
		<li><a class="bsp-tophat-register" href="#">Register</a></li>
	</ul>
</div>

<div class="bsp-site-header">
	
	<div class="bsp-site-logo-centering">
		<h1 class="bsp-site-logo">
			<a href="#">
			<img class="" src="/assets/images/brightspot.png" alt="Brightspot"><span class="sr-only">Brightspot</span>
			</a>
		</h1>
	</div>

	<div class="bsp-share-links-centering">
		<ul class="bsp-share-links" data-bsp-share data-bsp-share-options='{"iconClass":"icon", "serviceProps":{"facebook":{"appId":"645138725541385"}}}'>
			<li class="bsp-facebook-share"></li>   
		    <li class="bsp-twitter-share"></li>    
		    <li class="bsp-pinterest-share"></li>  
		    <li class="bsp-linkedin-share"></li> 
		</ul>
	</div>

</div>