{{#if show-errors-above}}
	{{> common/field-error this}}
{{/if}}
{{#if label}}<label {{> common/attributes label.attributes }}>{{label.text}}{{/if}}
	<input {{> common/attributes attributes }} {{> common/constraints constraints }} />
{{#if label}}</label>{{/if}}
{{#if show-errors-below}}
	{{> common/field-error this}}
{{/if}}