{{#if this.title}}
	<title>{{this.title}}</title>
	<meta name="title" content="{{this.title}}">
{{/if}}

{{#if this.canonicalURL}}
	<link rel="canonical" href="{{this.canonicalURL}}">
{{/if}}

{{#each metadata}}
	<meta {{#with this.attributes}}{{> common/attributes this}}{{/with}}>
{{/each}}