{{#if show-errors-above}}
	{{> common/field-error this}}
{{/if}}
{{#if options}}
	{{#if label}}<label {{> common/attributes label.attributes }}>{{label.text}}{{/if}}
		<select {{> common/attributes attributes }}>
			{{#each options}}
				<option {{> common/attributes attributes }}>{{text}}</option>
			{{/each}}
		</select>
	{{#if label}}</label>{{/if}}
{{/if}}
{{#if show-errors-below}}
	{{> common/field-error this}}
{{/if}}