@import '../globals/borders.vars';
@import '../globals/colors.vars';
@import '../globals/spacing.vars';
@import '../globals/typography.vars';

.article-component {
    padding: 0;
}

.article-lead {
    background: @color-white;

    img {
        height: auto;
        max-width: none;
        width: 100%;
    }
}

.article {
    max-width: 800px; // custom designed width for artciel content
    margin: 0 auto;
    padding: @space-double 0 @space;
}

// putting this in a separate wrapper so we can extend this for other pieces of content
.article-head {
    .tags {
        padding-bottom: @space;
    }

    .meta-data {
        padding-bottom: @space-double;
    }

    .article-title {
        &:extend(.page-title all);
        border: none;
        color: @color-brand-accent;
    }

    .article-subtitle {
        &:extend(.section-title all);
        border: none;
        color: @color-text;
        padding-bottom: @space-double;

        .component-inverse-color &, .component-secondary-color & {
            color: @color-white;
        }
    }
}

.article-content {
    &:extend(.clearfix all);

    border-top: @border-style-gray-light;
    margin-top: @space-triple;
    padding-top: @space-triple;

    // custom line height for article content unless it gets overriden
    line-height: 2;

    h2 {
        &:extend(.section-title all);
        border: none;
        margin-top: @space-double;
    }

    p {
        margin: 0 0 @space-and-half 0;
    }
}

.article-enhancement {
    padding: @space-double;
    margin: @space-double 0;

    // when we have a component inside of an article enhancement, we are going to do our
    // own padding/margin instead of letting them decide
    .component {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    // we want to center iframes that are smaller than our width
    iframe {
        margin-left: auto;
        margin-right: auto;
        max-width: 100% !important; // makes sure an iframe doesn't pop itself out of the article
    }

    // on xsmall, there is only center alignment
    &.align-left, &.align-right, &.align-center {
        margin: @space auto;
        text-align: center;
    }

    blockquote.component {
        margin: 0 @space-double;
    }

    .img-with-meta {
        margin: 0 auto;
    }

    .related-link {
        display: block;
        font-size: @ts-1;
        font-weight: @font-weight-bold;
    }

}

@media @mq-sm {
    .article-lead {
        margin-bottom: @space-double;
    }

    .article-enhancement {

        &.align-left {
            border: none;
            float: left;
            margin: 0 @space-double @space 0;
            max-width: 50%;
            padding: 0;
        }

        &.align-right {
            border: none;
            float: right;
            margin: 0 0 @space @space-double;
            max-width: 50%;
            padding: 0;
        }

        &.align-center {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        &.align-full {
            width: 100%;
        }

    }
}
