@import '../globals/spacing.vars';
@import '../globals/typography.vars';

.callout {
    &:extend(.ts-heading-2 all);
    font-weight: @font-weight-light;
    text-align: center;

    .tag {
        font-size: @ts-1;
        margin-top: @space-double;
        padding: @space-double;
    }
}
