@import '../globals/colors.vars';
@import '../globals/spacing.vars';

@import 'gallery-module.vars';

// The gallery module gets a wrapper of "gallery-module" and then a modifier class if it has navigation of
// of either "gallery-module-nav" for text nav or "gallery-module-thumbs" for thumb navigation. If it's a
// horizontal gallery module that has multiple slides visible, it gets the "gallery-module-horizontal" modifier


// creating  gallery module wide display rules for arrows and dots
.gallery-module, .gallery-module-horizontal {
    margin-bottom: 30px;

    .slick-dots {
        height: 30px;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

}
// for these two types of gallery modules, the slide is inside them, as it's the stage slider
.gallery-module-nav, .gallery-module-thumbs {
    margin-bottom: 0;

    .bsp-carousel-stage {
        margin-bottom: 30px;
    }

    // do not display nav carousels for mobile
    .bsp-carousel-nav {
        display: none;

        // and never arrows in the nav
        .slick-prev, .slick-next {
            display: none !important;
        }
    }
}

.gallery-module {

    // set this up to support portrait and landscape images. The portrait ones will center themselves horizontally
    .bsp-carousel-slide {
        img {
            height: auto;
            margin: 0 auto;
            width: auto;
        }
    }

    // all gallery module navs (thumbs, nav, etc) get a pretty border at the top
    .bsp-carousel-nav {

        .bsp-carousel-slide {
            position: relative;

            &.current {

                &:after {
                    content:'';
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    border-top: 5px solid @color-gallery-module-current-slide;
                }
            }
        }

    }
}

// these are styles for the hoziontal layout gallery which has 5 slides across
.gallery-module-horizontal {

	.slick-list {
		margin: 0 -@space;
	}

	.bsp-carousel-slide {
		padding: 0 @space;
		width: 50%;
	}

}

// targeted to only bsp-carousel-slides inside the nav portion of the gallery-nav module
// this lets us reuse the renderer for thumbs for the text nav and just write css overrides
.gallery-module-nav {

	// we have a 40px bottom margin for the slide nav text to fit
	.carousel-stage {
		.slick-track {
			margin-bottom: 40px;
		}
	}

	.bsp-carousel-nav {
		background-color: @color-gallery-module-nav-background;

		.bsp-carousel-slide {
			color: @color-white;
			cursor: pointer;
            border-right: 1px solid @color-gray-light;
            height: 100px;
            padding: @space;
			text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.current {
                background: @color-brand-primary;
            }

            &:after {
                display: none;
            }

            &:last-of-type {
                border: none;
            }
		}
	}

    // this is use for mobile instead of the thumb nav, as xs and sm resolutions, we get rid of the thumb nav
    // as it's too small to make sense
    .bsp-carousel-slide-nav-text {
        background-color: @color-gallery-module-nav-background;
        color: @color-white;
        height: 40px;
        padding: @space;
        position: absolute;
        bottom: -40px;
        width: 100%;
    }
}

@media @mq-md {

    // creating  gallery module wide display rules for arrows and dots
    .gallery-module, .gallery-module-horizontal {
        margin-bottom: 0px;

        .slick-dots {
            display: none !important;
        }

        .slick-prev, .slick-next {
            display: inline-block !important;
        }

    }
    // for these two types of gallery modules, the slide is inside them, as it's the stage slider
    .gallery-module-nav, .gallery-module-thumbs {

        .bsp-carousel-stage {
            margin-bottom: 0px;
        }

        .bsp-carousel-nav {
            &.slick-initialized {
                display: block;
            }
        }
    }

	.gallery-module {

        // for anything past medium, we want the thumbs or text nav, anything before, no thumbs
        .bsp-carousel-nav {
            &.slick-initialized {
                display: block;
            }
        }

	}

}
