.gallery-full-wrapper {
    .interstitial-showing {
        .gallery-full-slide-overlay-wrapper,
        .gallery-full-overlay-trigger,
        .gallery-full-thumbs {
            display: none !important;
        }
    }
}

.gallery-full-header {
    background: @color-black;
    border-bottom: @border-style-7;
    padding: @space;
}

.gallery-full-title {
    &:extend(.ts-heading-3 all);
    height: 45px;
    margin: 0;
    overflow: hidden;
    width: 85%;
}

.gallery-full-desc {
    margin-top: @space;
}

.bsp-carousel-gallery {
    position: relative;

    .bsp-carousel-stage {

        // moves the previous and next underneath the gallery into the bottom bar
        .slick-prev, .slick-next {
            bottom: -56px;
            top: auto;

            &:before {
                font-size: 20px;
            }
        }

        .slick-prev {
            left: auto;
            right: 97px;
        }

        .slick-next {
            right: @space;
        }

        .bsp-carousel-slide {
            display: flex;
            align-content: center;
            position: relative;
            text-align: center;

            // make sure that image fits the slide as much as possible
            img {
                height: auto;
                margin: 0 auto;
                width: auto;
                // arbitrary max height set to make full galleries without full screen experience look ok
                max-height: 250px;
            }

            // seo link that is used for linking to slides for SEO purposes
            .seo-link {
                display: none;
                visibility: hidden;
            }
        }
    }

    // I'm leaving this code in here in case we ever want to add thumbnail support. Right now, it's disabled
    // in the .hbs by not having the nav carousel or the thumb trigger in the DOM
    //
    // gives the overlay look to the thumbnail carousel
    // it's hidden by default on xs and sm screens and comes into play md and up by default
    // it has a max-height to give it a smooth look/feel when coming in
    // .bsp-carousel-nav {
    //     background: rgba(0, 0, 0, 0.7);
    //     bottom: 0;
    //     max-height: 0;
    //     height: auto;
    //     position: absolute;
    //     overflow: hidden;
    //     transition: max-height 0.5s;
    //     width: 100%;

    //     .thumbs-visible & {
    //         max-height: 250px;
    //     }

    //     // TODO: Move these to bsp-carousel or at least to base a regular bsp-carousel-nav thing
    //     // we have smaller arrows for the thumbs than default
    //     .slick-prev,
    //     .slick-next {

    //         height: 20px;
    //         width: 20px;
    //         margin-top: -10px;

    //         &:before {
    //             font-size: 20px;
    //         }
    //     }

    //     // current thumb gets a pretty accent border
    //     .current {
    //         &:after {
    //             border-top: 4px solid @color-brand-accent;
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             bottom: 0;
    //             right: 0;
    //         }
    //     }

    //     .bsp-carousel-slide {
    //         padding: @space-double;
    //         position: relative;

    //         // make sure that thumb fits the container as much as possible
    //         img {
    //             height: auto;
    //             margin: 0 auto;
    //             width: 100%;
    //         }
    //     }
    // }
}

// the overlay wrapper gets a bottom placement on the slide along with the same max-height transition as the nav carousel
.bsp-carousel-gallery-slide-overlay-wrapper {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.25s;
    width: 100%;
    z-index: @z-index-base;

    // arbitrary value in case the JS doesn't work out
    .overlay-visible & {
        max-height: 150px;
    }
}

.bsp-carousel-gallery-slide-overlay-content {
    text-align: left;
    padding: @space-double;

    .share-links-wrapper {
        display: block;
        padding-top: @space-double;
    }
}

.bsp-carousel-gallery-slide-caption {
    &:extend(.ts-0);

    height: auto;
}

.bsp-carousel-gallery-interstitial {
    width: 100%;
}

.bsp-carousel-gallery-interstitial-counter {
    background: @color-brand-primary;
    color: @color-brand-secondary;
    display: none;
    padding: @space;
    position: absolute;
    &.counting {
        display: block;
    }
    &.topMiddle {
        width: 100%;
        text-align: center;
    }
    &.topRight {
        top: 0;
        right: 0;
    }
    &.bottomLeft {
        bottom: 0;
        left: 0;
    }
    &.bottomMiddle {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    &.bottomRight {
        bottom: 0;
        right: 0;
    }
}

.bsp-carousel-gallery-interstitial-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-full-footer {
    &:extend(.clearfix all);
    background: @color-black;
    padding: 0 @space-double;
    font-size: @ts-neg-1;
    text-transform: uppercase;
}


.bsp-carousel-gallery-count-wrapper {
    float: right;
    line-height: 70px;
    padding-right: @space;
    text-align: center;
    width: 95px;
}

// Used to create show and hide text for the caption trigger.
.bsp-carousel-gallery-overlay-trigger {
    float: left;
    line-height: 70px;
    cursor: pointer;

    .overlay-visible, .overlay-hidden {
        .icon();

        // to line up bigger arrow evenly with smaller text
        &:after {
            font-size: @ts-1;
            position: relative;
            top: 1px;
        }
    }

    .overlay-visible {
        &:after {
            content: @fa-var-angle-down;

        }
    }

    .overlay-hidden {
        &:after {
            content: @fa-var-angle-up;
        }
    }

    span.overlay-visible {
        display: none;
    }

    .overlay-visible & {
         span.overlay-visible {
            display: inline-block;
        }
        span.overlay-hidden {
            display: none;
        }
    }
}

// this gives a fake "fullscreen" experience where the gallery moves with the size of the browser
.gallery-fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #333;

    .site-wrapper, .site, .grid-container, .row, .column-full {
        height: 100%;
    }
}

.gallery-fullscreen, .modal-gallery-fullscreen {

    .gallery-full-component {
        height: 100%;
    }

    .gallery-full-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        background: #333;
    }

    .gallery-full-header {
        height: 60px;
        margin: 0;
        overflow: hidden;
    }

    .gallery-full-desc {
        display: none;
    }

    .gallery-full-footer {
        height: 70px;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        width: 100%;
    }

    .bsp-carousel-gallery {
        margin: 0;
        position: absolute;
        top: 60px;
        bottom: 70px;
        width: 100%;
        z-index: @z-index-base;

        .bsp-carousel-stage {
            height: 100%;

            .slick-list, .slick-track, .bsp-carousel-slide {
                height: 100%;
            }

            .bsp-carousel-slide {
                img {
                    max-height: none;
                }
            }

        }
    }
}




@media @mq-sm {

    .gallery-full-header {
        padding: @space-and-half @space-double;
    }

    .gallery-full-title {
        height: 32px;
        width: 95%;
    }

    // commented out just in case we want to add thumbnail support back
    //
    // .bsp-carousel-gallery {
    //     .bsp-carousel-nav {
    //         &.slick-initialized {
    //             display: block;
    //         }

    //         // also in the carousel nav, no arrows
    //         .slick-prev, .slick-next {
    //             // on medium and up, we will show previous and next
    //             display: none !important;
    //         }
    //     }
    // }

}








// arbitrary max height values to make a stand along gallery full not look bad
@media @mq-sm {
    .bsp-carousel-gallery {
        .bsp-carousel-stage {
            .bsp-carousel-slide {
                img {
                    max-height: 400px;
                }
            }
        }
    }
}

@media @mq-lg {
    .bsp-carousel-gallery {
        .bsp-carousel-stage {
            .bsp-carousel-slide {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}
