// The page title component is a wrapper for the page title since the page title can stretch the entire page
.page-title-component {
    background-color: @color-gray-dark;
    border-bottom: 1px solid @color-white;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
