// The page title component is a wrapper for the page title since the page title can stretch the entire page
.page-title-component {
    background-color: @color-gray-dark-1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
