.page-title-wrapper {
    background-color: @color-gray-dark-1;
    border-bottom-width: 0;
    margin: 0;
}
.page-title {
    color: @color-white;
    font-family: @font-family-base;
    font-size: @ts-3;
    font-weight: @font-weight-light;
    margin: 0;
    text-align: center;
    padding: @space-and-half 0;
}
