@import '../globals/borders.vars';
@import '../globals/colors.vars';
@import '../globals/spacing.vars';

.photofall-head {
    &:extend(.article-head all);
}

.photofall-content {
    &:extend(.article-content all);
}

// we need to support portrait items
.photofall-items {
    .promo-image {
        text-align: center;

        img {
            height: 100%;
            width: auto !important;
        }
    }
}
