.promo-super {
    text-align: center;

    .promo-section-text {
        padding: 0 @space;
    }

    .promo-links {
        max-width: @container-lg;
        margin-left: auto;
        margin-right: auto;
    }
}

@media @mq-sm {
    .promo-super {

        .promo-section-text {
            padding: 0 @space-double;
        }

    }
}
