@import '../globals/colors.vars';
@import '../globals/spacing.vars';
@import '../globals/typography.vars';

.promo-component {
    .component-cta {
        padding-top: @space-double;
    }

    // this is to help us with consistent spacing for load more ajax use cases where we double up on content
    .component-content {
        padding-top: @space-double;

        &:first-of-type {
            padding: 0;
        }
    }
}

.promo-list {
    > li {
        padding-bottom: @space-double;
    }
}

.promo-section-image {
    margin-bottom: @space-and-half;
    position: relative;
}

.promo-section-tags {
    padding-bottom: @space-half;
}

.promo-title {
    &:extend(.ts-heading-3);

    font-weight: @font-weight-light;
    margin-bottom: @space-and-half;

    a {
        color: @color-text;

        &:hover {
            color: @color-link;
        }
    }

    .component-inverse-color & {
        a {
            color: @color-white;

            &:hover {
                color: @color-link;
            }
        }
    }
}

.promo-links {
    margin-top: @space-double;

    > li {
        margin-bottom: @space;
    }
}

.promo-section-overlay {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;

    height: 100%;
    left: 0;
    opacity: 0;
    padding: @space-triple;
    position: absolute;
    top: 0;
    width: 100%;

    .promo-link {
        padding-top: @space-double;
    }
}



@media @mq-sm {
    .promo-list {
        .column-half:nth-child(n+3) {
            padding-top: @space-double;
        }
        .column-third:nth-child(n+4) {
            padding-top: @space-double;
        }
        .column-fourth:nth-child(n+5) {
            padding-top: @space-double;
        }
        .column-fifth:nth-child(n+5) {
            padding-top: @space-double;
        }

        > li {
            padding-bottom: 0;
        }
    }

    .promo-section-overlay {
        background: rgba(255, 255, 255, 0.85);

        &:hover {
            opacity: 1;
            transition: opacity 1s;
        }
    }
}
