// For the promo component, we want to put the spacing on the promo list items instead of the component itself
// that way if you have multiple rows, things are even
.promo-component {
    padding-bottom: 0;

    // if you have the cta in a promo component, give it spacing too so everything looks even
    .component-cta {
        padding-bottom: @space-component-bottom;
    }
}
.promo-list {
    > li {
        padding-bottom: @space-component-bottom;
    }
}

.promo-section-image {
    margin-bottom: @space-and-half;
    position: relative;
}

.promo-section-tags {
    padding-bottom: @space-half;
}

.promo-title {
    &:extend(.ts-heading-3);

    font-weight: @font-weight-light;
    margin-bottom: @space-and-half;

    a {
        color: @color-text;

        &:hover {
            color: @color-link;
        }
    }

    .component-inverse-color & {
        a {
            color: @color-white;

            &:hover {
                color: @color-link;
            }
        }
    }
}

.promo-links {
    margin-top: @space-double;

    > li {
        margin-bottom: @space;
    }
}

.promo-link {
    a {
        &:extend(.component-cta a all);
    }
}

.promo-section-overlay {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;

    height: 100%;
    left: 0;
    opacity: 0;
    padding: @space-triple;
    position: absolute;
    top: 0;
    width: 100%;

    .promo-link {
        padding-top: @space-double;
    }
}



@media @mq-sm {
    .promo-list {
        > li {
            margin-bottom: 0;
        }
    }

    .promo-section-overlay {
        background: rgba(255, 255, 255, 0.85);

        &:hover {
            opacity: 1;
            transition: opacity 1s;
        }
    }

    .promo-links {
        display: flex;
        justify-content: space-between;

        > li {
            display: inline-block;
            margin: 0;
        }
    }
}
