// The super promo has a inverse look and feel for color, but a couple of certain elements inside need additional overrides
.promo-super {
    text-align: center;

    .promo-section-text {
        padding: 0 @space;
    }

    .promo-title {
        font-size: @ts-3;
    }

    .promo-links {
        max-width: @container-lg;
        margin-left: auto;
        margin-right: auto;
    }
}

@media @mq-sm {
    .promo-super {

        .promo-section-text {
            padding: 0 @space-double;
        }

    }
}

// adding a few overrides for left-promo here
.promo-left {

    .promo-list {
        &>li {
            margin-bottom: 0;
        }
    }


    .promo-section-image {
        display: none;
    }

    .promo-links {
        margin-top: 0;
    }

    .promo-link {
        margin-bottom: @space-triple;
        a {
            font-weight: @font-weight-bold;
            &:after {
                content: "";
            }
        }
    }



}

@media @mq-sm {
    .promo-left {

        .promo-section-image {
            display: block;
        }

        .promo-links {
            display: block;
            margin-top: 0;
        }
    }
}
