@import '../globals/colors.vars';
@import '../globals/spacing.vars';
@import '../globals/typography.vars';

.search-results-component {
    padding-top: @space-triple;

    .component-title {
        &:extend(.clearfix all);
        font-size: @ts-0;
        text-align: left;

        .component-group {
            float: left;
        }
    }
    .search-term {
        font-weight: @font-weight-base;
    }
}

.search-results-sort {
    color: @color-text;
    float: right;

    select {
        background: none;
        border: none;
        color: @color-link;
        margin-left: @space-quarter;
        padding: @space-quarter;
        text-transform: uppercase;
    }
}
