.search-results-component {
    .component-title {
        &:extend(.clearfix all);
        font-size: @ts-0;
        text-align: left;

        .component-group {
            float: left;
        }
    }
    .search-term {
        font-weight: @font-weight-base;
    }
}

.search-results-sort {
    float: right;
}

.search-results {
    .column-third {
        padding-bottom: @space-triple;
    }
}
