.site-footer-simple {
    background: @color-footer-background;
    padding: @space-quad 0;
    min-height: 25px;
    color: @color-white;
    text-align: center;

	.component-title {
        &:extend(.ts-heading-1);

        color: @color-white;
        padding: 0;
	}

 	.share-links {
        margin: 0 0 @space-double 0;

 		a {
            background: @color-social-icons-monochrome;

            &:before {
                color: @color-brand-secondary;
            }
 		}
 	}

    .nav-menu {
        display: none;
    }

    // even if it's there in the JSON, remove it
    .share-links-title {
        display: none
    }

}

@media @mq-md {
    .site-footer-simple {
        .nav-menu {
            display: block;
            float: none;
            margin: 0 0 @space-double 0;
            width: 100%;
        }
        .nav-menu-item {
            font-size: @ts-0;
        }
    }
}
