.site-footer-simple {
    background: @color-footer-background;
    padding: @space-double;
    min-height: 25px;
    color: @color-white;
    text-align: center;

	.component-title {
        &:extend(.ts-heading-1);

        color: @color-white;
        padding: 0;
	}

 	.share-links {
        margin: 0 0 @space-double 0;

 		a {
            background: @color-social-icons-monochrome;

            &:before {
                color: @color-brand-secondary;
            }
 		}
 	}

    // even if it's there in the JSON, remove it
    .share-links-title {
        display: none
    }

}

