// wrapper allows us to create the fixed position look/feel
.site-header-simple-wrapper {
    background: @header-background;
    height: @header-height;
    left: 0;
    position: @header-positioning;
    top: 0;
    width: 100%;
    z-index: @z-index-header;

    // if we are in the styleguide, we want to be relative so we can see this correctly
    .sg-body & {
        position: relative;
    }
}

// This is our simple header.
// Contains a linked logo and a list of nav/site links
.site-header-simple {
    &:extend(.clearfix all);
    background: @header-background;
    display: table;
    height: @header-height;
    padding: 0 @space 0 @space-double;
    width: 100%;
}

// all the below styles are on the root level right now
// we might move these into site-header-simple as we create more headers so we do not have CSS conflicts

// mobile menu
.site-menu {
    position: absolute;
    top: @header-height;
    left: 0;
    background-color: @header-background;
    height: 0;
    overflow: hidden;
    transition: height .15s linear;
    width: 100%;
    z-index: @z-index-menu;

    &.toggle-in {
        height: @header-menu-height;
    }
}

.site-menu-items {
    > li {
        margin: @space-double;
    }
}

// hide the nav menu by default
// it should only show on non-mobile
.nav-menu {
    display: none;
}

// mobile logo layout
.site-logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        width: 215px;
    }
}

// mobile display trigger
.site-menu-toggle {
    display: table-cell;
    width: 60px;
}

.site-menu-trigger {
    &:extend(.ts-2);

    float: left;
    margin: 0 @space 0 -@space-double;
    padding: 0 @space-double;
    position: relative;

    a {
        height: @header-height;
        line-height: @header-height;

        .icon {
            line-height: @header-height;
        }
    }

    &.toggle-in {
        background: @color-gray-light-2;
    }
}

// additional styles for non mobile view
@media @mq-sm {

    // hide mobile display trigger
    .site-menu-toggle {
        display: none;
    }

    // nav menu: non-mobile only
    .nav-menu {
        display: table-cell;
        padding: 0;
        position: static;
        width: auto;

        a {
            color: @color-white;
        }
    }

    // table display for this so that
    // the nav-items within it are evenly
    // distributed
    .nav-menu-items {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .nav-item {
        display: table-cell;
        height: @header-height;
        text-align: center;
        vertical-align: middle;
    }

    // logo
    .site-logo {
        padding-right: 25px;
        vertical-align: middle;
        text-align: left;
        width: 215px;
    }
}

@media @mq-lg {
    .site-header-simple {
        margin-left: auto;
        margin-right: auto;
        width: @screen-lg-min;
    }
}
