// wrapper allows us to create the fixed position look/feel
.site-header-simple-wrapper {
    background: @color-header-background;
    height: @header-height;
    left: 0;
    position: @header-positioning;
    top: 0;
    width: 100%;
    z-index: @z-index-header;

    // if we are in the styleguide, we want to be relative so we can see this correctly
    .body-embed & {
        position: relative;
    }
}

// This is our simple header.
// Contains a linked logo and a list of nav/site links
.site-header-simple {
    &:extend(.clearfix all);
    background: @color-header-background;
    display: table;
    height: @header-height;
    padding: 0 @space 0 @space-double;
    width: 100%;
}

// all the below styles are on the root level right now
// we might move these into site-header-simple as we create more headers so we do not have CSS conflicts

// mobile menu
.site-menu {
    position: absolute;
    top: @header-height;
    left: 0;
    background-color: @color-header-background;
    height: 0;
    overflow: hidden;
    transition: height .15s linear;
    width: 100%;
    z-index: @z-index-menu;

    &.toggle-in {
        height: @header-site-menu-item-height * @header-site-menu-items;
    }
}

.site-menu-items {
    > li {
        background: @color-gray-light-1;
        border-bottom: 1px solid @color-white;
        font-size: @ts-1;
        line-height: @header-site-menu-item-height;
        text-align: center;
        text-transform: uppercase;

        &:last-of-type {
            border: none;
        }

    }
}

// hide the nav menu by default
// it should only show on non-mobile
.nav-menu {
    display: none;
}

// logo layout
.site-logo {
    float: left;
    line-height: @header-height;
    vertical-align: middle;
    text-align: left;
    width: @header-site-logo-width;
}

// mobile display trigger
.site-menu-toggle {
    display: block;
    float: right;
}

.site-menu-trigger {
    &:extend(.ts-2);
    padding-right: @space;
    text-align: right;
    position: relative;

    a {
        color: @color-white;
        height: @header-height;
        line-height: @header-height;

        .icon {
            line-height: @header-height;
        }
    }

    &.toggle-in {
        .icon {
            &:before {
                content: @fa-var-close;
            }
        }
    }
}

// additional styles for non mobile view
@media @mq-md {

    // hide mobile display trigger
    .site-menu-toggle {
        display: none;
    }

    // nav menu: non-mobile only
    .nav-menu {
        display: block;
        float: right;
        padding: 0;
        width: 80%;

        a {
            color: @color-white;
        }
    }

    .nav-menu-items {
        align-items: center;
        display: flex;
        line-height: @header-height;
        justify-content: center;
    }

    .nav-item {
        display: inline-block; // to make IE work
        font-size: @ts-1;
        text-transform: uppercase;
        padding: 0 @space;
    }

}

@media @mq-lg {
    .site-header-simple {
        margin-left: auto;
        margin-right: auto;
        width: @screen-lg-min;
    }
}
