.social-feed-list {
    &:extend(.promo-list all);
}

.social-feed-item {
    border: @border-style-7;
    padding-top: @space;
}

.social-feed-profile {
    &:extend(.clearfix all);
    padding: 0 @space;

    .profile-photo {
        float: left;
        margin-right: @space;
        width: 50px;
    }

    .profile-info {
        display: flex;
        justify-content: center;
        height: 50px;
        flex-direction: column;
        font-size: @ts-neg-1;

        a {
            color: @color-text;
        }
    }

    .profile-name {
        font-weight: @font-weight-bold;
    }
}

.social-feed-body {
    &:extend(.clearfix all);
    height: 120px;
    overflow: hidden;
    padding: @space;
    font-size: @ts-neg-1;

    img {
       float: left;
       margin: 0 @space @space-half 0;
    }
}

.social-feed-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: @border-style-7;
    height: 35px;
    padding: @space-half;

    .publish-info {
        color: @color-gray;
        float: left; // for old skool browsers
        font-size: @ts-neg-2;
        text-transform: uppercase;

        .icon {
            background: none;
            font-size: @ts-0;
            line-height: 2; // helps align it centered
            margin-right: @space-half;
        }
    }

    .publish-links {
        &:extend(.list-inline all);

        float: right; // for old skool browsers
        font-size: @ts-neg-1;
        text-transform: uppercase;

        a {
            color: @color-gray-light-2;
            margin-left: @space-double;
            .icon();
        }
    }
}
