@import '../globals/spacing.vars';

.video-player-component.content-aligned {
    // when we have aligned content, we do not want the standard bottom component padding
    padding: 0;
}

.video-player {
    &:extend(.clearfix all);

    // only in the video player do we start the single column at small vs xsmall
    .column-three-fourths {
        .make-xs-column(12);
        .make-md-column(9);
    }

    .column-fourth{
        .make-xs-column(12);
        .make-md-column(3);
    }
}

.video-player-primary-tag {
    margin-top: @space-double;
}

.video-player-title {
    &:extend(.ts-heading-4);
    margin: @space 0;
}

.video-player-description {
    margin: @space-double 0;
}

.video-player-sharing {
    margin-top: @space-double;
}

.video-player-iframe-wrapper, .video-player-object-wrapper, .video-player-native-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    &.aspect-4x3 {
        padding-bottom: 75.01%; /* 4:3 */
    }
}

.video-player-iframe-wrapper iframe, .video-player-object-wrapper object, .video-player-native {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media @mq-md {
    .video-player {
        // the video player pulled needs to leave more room than the standard grid for the text
        .column-three-fourths {
            &.pull-left {
                padding-right: @space-double;
            }
            &.pull-right {
                padding-left: @space-double;
            }
        }
    }
    .video-player-primary-tag {
        margin: 0;
    }
}
