.Author {

    &-image {
        &:extend(.Author-image all);
    }

    &-name {
        &:extend(.Author-name all);
    }

    &-affiliation {
        &:extend(.Author-affiliation all);
    }

    & when (@_demo) {
        display: flex;
        align-items: center;

        &-image,
        &-name,
        &-affiliation {
            color: #787878;
            margin-right: 10px;
        }
    }
}
