// We are borrowing the bootstrap code here for buttons for our default button. We can extend or modify this
// If we have a heavy button intensive project, we should expand the button library and code/mixins
.btn {

    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid @color-brand-accent;
    color: @color-brand-accent;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: @space-double;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.focus {
        background: @color-brand-accent;
        border: 1px solid @color-brand-accent;
        color: @color-white;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none;
    }

    a& {
        &.disabled,
        fieldset[disabled] & {
            pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
        }
    }
}
