// Image styles, we start with a base definition to make sure images do not go outside of their container

img {
	max-width: 100%;
}

// the css below is a hack that doesn't allow the caption and credit to extend past the image dimensions
.img-with-meta {
    display: table;
    width: 100%;

    img {
        display: table-row;
    }

    figcaption {
        background: @white;
        color: @gray;
        display: table-row;
        font-size: @ts-neg-1;

        // if we have two within each other, display the 2nd inline
        figcaption {
            display: inline;
        }

        span {
            display: block;
        }
    }

    .img-credit {
        color: @gray-light-2;
        font-size: @ts-neg-2;
        margin: @space-quarter 0 0 0;
        text-align: right;
    }

    .img-caption {
        margin-top: @space-half;

        // since the credit goes inside the caption if it exists, it gets inline treatment
        .img-credit {
            display: inline;
            margin: 0;
        }
    }
}
