// List styles are lifted/pasted from Bootstrap and not pulled in via Bower as they are in the middle of a bunch of other code

// Unordered and Ordered lists
// We flip the default style of lists as most lists we have do not have a list style
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;

    ul, ol {
        margin-bottom: 0;
    }
}

// List options

.list-heading {
    color: @color-brand-primary;
    margin: 0 0 @space 0;
    padding: 0;
}

// Basic list has the list-style
.list {
    margin-left: @space-double;
    padding-left: @space;
}
ul.list {
    list-style: disc;

    &[type='circle'] {
        list-style: circle;
    }

    &[type='square'] {
        list-style: square;
    }
}
ol.list {
    list-style: decimal;

    &[type='A'] {
        list-style: upper-alpha;
    }

    &[type='a'] {
        list-style: lower-alpha;
    }

    &[type='I'] {
        list-style: upper-roman;
    }

    &[type='i'] {
        list-style: lower-roman;
    }
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.unstyled-list {
    margin-left: 0;
    padding-left: 0;
}

// Inline turns list items into inline-block
.list-inline {
    > li {
        display: inline-block;
        margin-left: -5px; // removes extra spacing between inline block items
    }
}
