/* This file will house individual elements which don't really need their own files */
.loading-icon {

    &:after {
        background: url('../images/ajax-loader.gif') 50% 15% no-repeat;
        content: '';
        display: block;
        height: 40px;
        position: absolute;
        text-align: center;
        top: ~"calc(50% - 40px)";
        width: 100%;
    }

}
