// page title that can live outside of grid in it's parent component, or inside of grid when we need full page titles
.page-title {
    &:extend(.ts-heading-2 all);

    margin: @space 0;
    padding: 0;
}

// smaller section title that can be used or extended
.section-title {
	&:extend(.ts-heading-3 all);

    border-bottom: @border-style-gray-light;
    color: @color-brand-accent;
    margin: 0 0 @space-double;
    padding: 0 0 @space;

    a {
        color: @color-brand-accent;
    }
}
