// page title that can live outside of grid in it's parent component, or inside of grid when we need full page titles
.page-title {
    &:extend(.ts-heading-2);

    margin: @space 0;
    padding: 0;
}

// smaller section title that can be used or extended
.section-title {
	&:extend(.ts-heading-3);

    border-bottom: @border-style-9;
    color: @color-brand-accent;
    margin: 0 0 @space-double;
    padding: 0 0 @space;
}
