// page title that can live outside of grid in the wrapper, or inside of grid when we need full page titles
.page-title {
    &:extend(.ts-heading-1);

    border-bottom: @border-style-7;
    font-weight: @font-weight-light;
    margin: 0 0 @space-double;
    padding: 0 0 @space;
}

// smaller section title that can be used or extended
.section-title {
	&:extend(.ts-heading-3);

    border-bottom: @border-style-7;
    font-weight: @font-weight-light;
    margin: 0 0 @space-double;
    padding: 0 0 @space;
}
