<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-image-promo</title>
		<script src="/_head.js"></script>
	</head>
	<body class="styleguide-page">

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header-simple/styleguide-header.json" }'></div>

			<div class="bsp-site">

				<div class="bsp-container">

					<div class="bsp-row">

						<div class="bsp-column-half">

							<!-- 1 image with 1 link-->

							<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-image-promo/1-image-1-link.json" }'></div>

						</div>

						<div class="bsp-column-half">

							<!-- 1 image with 3 links -->

							<div data-bsp-template data-bsp-template-options='{"dataUrl": "/components/bsp-image-promo/1-image-3-links.json" }'></div>

						</div>

					</div>

					<div class="bsp-row">

						<div class="bsp-column-full">

							<!-- 2 images -->

							<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-image-promo/2-images-1-link.json" }'></div>

						</div>

					</div>

					<div class="bsp-row">

						<div class="bsp-column-full">

							<!-- 3 images -->

							<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-image-promo/3-images-1-link.json" }'></div>

						</div>

					</div>

					<div class="bsp-row">

						<div class="bsp-column-full">

							<!-- 4 images -->

							<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-image-promo/4-images-1-link.json" }'></div>

						</div>

					</div>

				</div>

			</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer-simple/styleguide-footer.json" }'></div>

	</div>
</body>
</html>
