.commenting-component {

    .component-title {
        border-top: @border-style-gray-light;
        border-bottom: none;
        color: @color-text;
        margin-top: @space-quad;
        padding-top: @space-quad;
    }

}

.sign-in {
    background: @color-off-white;
    padding: @space*3 0;
    display: flex;
    justify-content: center;
    text-align: center;

    p {
        display: inline-block;
        margin: 0;
    }
}

.sign-in-choices {
    &:extend(.share-links all);
    margin-left: @space*1.25;

    > li {
        a {
            &:extend(.share-link);
        }
    }
}
