@border-style-1: 1px solid @brand-primary;
@border-style-2: 1px solid @brand-dark;

@border-style-3: 2px solid @brand-primary;
@border-style-4: 2px solid @brand-dark;

@border-style-5: 1px solid @gray-light-2;
@border-style-6: 2px solid @gray-light-2;
