// Here we have our styles of borders that we will use throughout our site. We should try to use these as much as possible vs
// creating individual border styles through CSS ("border-bottom: @border-style-2" is much better than "border-bottom: 1px solid black")

@border-style-1: 1px solid @brand-primary;
@border-style-2: 1px solid @brand-secondary;

@border-style-3: 2px solid @brand-primary;
@border-style-4: 2px solid @brand-secondary;

@border-style-5: 1px solid @gray-light-1;
@border-style-6: 2px solid @gray-light-1;

@border-style-7: 1px solid @gray;
@border-style-8: 2px solid @gray;