// These are options for the header. 
@header-background: @brand-secondary;

// Since the header design has vertically centered elements, we need to hardcode a static height, 
// which is defined here and can be overriden for custom look/feel
@header-height: 60px;
@header-height-before-scroll: 120px;

// variables that are used to create the fancy looking scroll menu animation
// logo has to have the height hardcoded in the CSS in order to center it and allow for a smooth transition left
@header-logo-width: 320px; 
@header-logo-height: 44px;

// the header logo has to be placed absolutely since we are animating it
@header-logo-left-placement: 69px;
// the header logo gets smaller as you scroll. This is the percentage of the original
@header-logo-size-multiplier: 0.5;
// 50% along with the negative margins centers the logo. Otherwise, you can do whatever you want with it in px
@header-logo-left-placement-before-scroll: 50%;
@header-logo-margin-left-before-scroll: -@header-logo-width / 2;
@header-logo-top-placement-before-scroll: 15px;

// the extra menu has to be dynamically centered with absolute positioning in order to animate it
@header-extra-menu-width: 500px;
@header-extra-menu-right-placement: 250px;

// header menu height has to be hardcoded to allow for a smooth animation down, no auto height possible with that
@header-menu-height: 200px;

// The tophat has to be set to 0 when it's hidden as it's used in the calculation for body offset
@header-tophat-height: 0px;

// this lets us make the header sticky or not
@header-positioning: fixed;

// this is the space at the top and bottom of the content
@site-top-and-bottom-space: @space-double;