// variables here style the component wrappers

@bsp-component-title-bg: @brand-secondary;
@bsp-component-title-color: @brand-primary;

@bsp-component-cta-bg: @brand-primary;
@bsp-component-cta-color: @brand-secondary;

@bsp-component-bottom-padding: 2rem;