// background color for the simple header
@header-simple-background: @brand-secondary;
@header-simple-mobile-menu-background: @gray-light-1;

// overall height of the header
@header-simple-height: 75px;

@header-simple-positioning: fixed;

// menu items that displays on mobile
@header-simple-menu-height: 260px;
@header-simple-mobile-search-height: 90px;
@header-simple-burger-menu-color: @brand-primary;

// search box settings
@header-simple-area-height: 43px;
@header-simple-box-background: @gray-light-1;
@header-simple-box-icon-color: @brand-primary;

@header-simple-max-with: 1650px;

@header-simple-logo-width: 20%;
@header-simple-menu-width: 60%;
@header-simple-search-width: 20%;

@header-simple-link-color: @white;

