// background color for the simple header
@header-simple-search-background: @brand-secondary;
@header-simple-search-mobile-menu-background: @gray-light-1;

// overall height of the header
@header-simple-search-height: 75px;

@header-simple-search-positioning: fixed;

// menu items that displays on mobile
@header-simple-search-menu-height: 260px;
@header-simple-search-mobile-search-height: 90px;
@header-simple-search-burger-menu-color: @brand-primary;

// search box settings
@header-simple-search-area-height: 43px;
@header-simple-search-box-background: @gray-light-1;
@header-simple-search-box-icon-color: @brand-primary;

@header-simple-search-logo-width: 20%;
@header-simple-search-menu-width: 60%;
@header-simple-search-search-width: 20%;

@header-simple-search-link-color: @white;

