@footer-simple-background: @brand-secondary;
@footer-simple-padding-top: @space-quad;
@footer-simple-padding-bottom: 180px;
@footer-simple-padding-sides: @space;
@footer-simple-text-color: @white;
@footer-simple-copy-size: @ts-neg-2;
