@bsp-video-player-background-color: @brand-primary;
@bsp-video-player-text-color: @text-color;
@bsp-video-player-tag-background: @black;
@bsp-video-player-tag-text-color: @white;
@bsp-video-player-share-background: @brand-secondary;

