@bsp-carousel-gallery-fullscreen-background: @brand-primary;
@bsp-carousel-gallery-fullscreen-body: @white;
@bsp-carousel-gallery-fullscreen-border-color: @brand-accent;
@bsp-carousel-gallery-fullscreen-color: @brand-dark;
@bsp-carousel-gallery-fullscreen-overlays-z-index: 1;
@bsp-carousel-gallery-fullscreen-nav-button-size: 40px;

// these are variables because of our undesirable/unavoidable use 
// of !important, which is necessary because there are inline styles
// assigned by the slick javascript
@bsp-carousel-gallery-fullscreen-nav-button-display-xs: none !important;
@bsp-carousel-gallery-fullscreen-nav-button-display-sm: inline-block !important;
@bsp-carousel-gallery-fullscreen-nav-button-display-md: inline-block !important;
@bsp-carousel-gallery-fullscreen-nav-button-display-lg: inline-block !important;