// Here we will redefine some brand colors for our site
@brand-primary:     #259acd;
@brand-dark:        #20343f;
@brand-accent:      #fc0029;

// Our grayscale
@black: 			#000;
@gray-dark-1:		#333;
@gray-dark-2:		#333;
@gray-dark-3:		#333;
@gray:				#666;
@grey:				@gray;
@grey-light-3:		#999;
@grey-light-2:		#999;
@grey-light-1:		#999;
@white:				#fff;

// Specific colors for some components 
@header-background: @brand-dark;