// Here we will redefine some brand colors for our site
@brand-primary:     #259acd;
@brand-secondary:   #20343f;
@brand-accent:      #fc0029;

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Our grayscale
@black: 			#000;
@gray-dark-1:		#191919;
@gray-dark-2:		#252525;
@gray-dark-3:		#333;
@gray:				#666;
@gray-light-3:		#999;
@gray-light-2:		#b7b7b7;
@gray-light-1:		#eee;
@white:				#fff;

// other colors
@red: #ff0000;
@light-blue: #c9dff0;

// Main site text color
@text-color: @gray-dark-2;

// social icon colors
@twitter-color: #00aced;
@facebook-color: #3b5998;
@linkedin-color: #007bb5;
@pinterest-color: #cb2027;
@instagram-color: #5b2e07;
@tumblr-color: #3a4a61;

@social-icons-monochrome-background: @brand-primary;
@social-icons-monochrome-color: @white;
