// These are options for the header. 

// Since the header design has vertically centered elements, we need to hardcode a static height, 
// which is defined here and can be overriden for custom look/feel
@header-height: 60px;
@header-search-height: 30px;

// The tophat has to be set to 0 when it's hidden as it's used in the calculation for body offset
@header-tophat-height: 0px;

// this lets us make the header sticky or not
@header-positioning: fixed;

// this is the space at the top of the content
@header-below-padding: @space-double;