/**
 * Spacing
 *
 * These spacing variables can be used throughout for padding, margins, spacing etc. We should avoid using individual pixel
 * values and work with the design team to develop spacing relationship/standards as much as possible
 */
@space-quarter: .25rem;
@space-half: .5rem;
@space-three-quarter: .75rem;
@space: 1rem;
@space-and-quarter: 1.25rem;
@space-and-half: 1.5rem;
@space-double: 2rem;
@space-double-and-half: 2.5rem;
@space-triple: 3rem;
@space-quad: 4rem;
@space-quint: 5rem;
