<a {{> common/attributes link.attributes}} class="bsp-overlay">
    <div class="overlay-content">
        <div class="overlay-desc">
            {{link.description}}
        </div>
        <div class="overlay-cta-text">
            {{link.ctaText}}
            <i class="icon icon-angle-right"></i>
        </div>
    </div>
</a>

