<div class="bsp-component bsp-caption" style="{{#if options.width}}width: {{options.width}}px; {{/if}}">
    {{#with content}}<div class="bsp-caption-content">{{render this}}</div>{{/with}}
    {{#with text}}<div class="bsp-caption-text">{{render this}}</div>{{/with}}
    {{#with credit}}<div class="bsp-caption-credit">{{render this}}</div>{{/with}}
</div>
