{{#defineBlock "UserLogout" extend="community/commenting/CommentReply"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            {{#with button}}
                <div class="{{blockName}}-button">{{this}}</div>
            {{/with}}
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}
