// 320
@media @mq-xs {
    body:before {
        content: "mq-xs" !important;
        display: none !important;
    }

    .PageHeader {
        ._PageHeader--small;
    }

    .GalleryIntro {
        ._GalleryIntro--small;
    }

    .Gallery-modalControls {
        .ModalControls--Small;
        .ModalControls--Vertical;
    }
}

// 568
@media @mq-sm {
    body:before {
        content: "mq-sm" !important;
    }

    .GalleryIntro {
        ._GalleryIntro--medium;
    }

    .Gallery-slides[data-gallery-view="list"] {
        ._GallerySlide--SideBySide;
    }

    .Gallery-modalControls {
        .ModalControls--Large;
        .ModalControls--Horizontal;
    }

    .modal-gallery-fullscreen {
        .vex-content {
            width: 100%;
        }
    }
}

// 768
@media @mq-md {
    body:before {
        content: "mq-md" !important;
    }

    .GalleryIntro {
        ._GalleryIntro--large;
    }
}

// 1024
@media @mq-lg {
    body:before {
        content: "mq-lg" !important;
    }

    .PageHeader {
        ._PageHeader--large;
    }

    .Gallery-modalControls {
        .ModalControls--Vertical;
    }
}

// 1440
@media @mq-xl {
    body:before {
        content: "mq-xl" !important;
    }
}
