@import '../globals/colors.vars';
@import '../globals/z-index.vars';

.Gallery-grid {
    &:extend(.Module all);

    &-grid {
        &:extend(.clearfix all);
        display: none;
        overflow: hidden;
    }

    &-column {
        align-content: center;
        border: 1px solid @color-white;
        display: flex;
        height: 385px; // allows for proper height of two 4:3 images in a small screen size
        flex-direction: column;
        float: left;
        overflow: hidden;
        width: 100/3%;
    }

    &-row {
        align-items: center;
        border-top: 1px solid @color-white;
        border-bottom: 1px solid @color-white;
        display: flex;
        justify-content: center;
        overflow: hidden;

        // this rule allows for some stretching depending on what kind of images are provided
        // the display flex above centers everything nicely
        img {
            max-width: 120%;
        }
    }
}

@media @mq-sm {
    .Gallery-grid {
        position: relative;

        &-grid {
            cursor: pointer;
            display: block;
            position: absolute;
            transition: opacity .5s linear;
            z-index: @z-index-base+1;

            &.toggle-in {
                display: none;
            }
        }

        &-gallery {
            height: 385px;
            opacity: 0;
            position: relative;
            transition: opacity .15s linear;
            z-index: @z-index-base;

            // the height auto allows the gallery itself to stretch to what it needs to be
            // we can put it back to a static height if need be, depending on what design wants
            &.toggle-in {
                height: auto;
                opacity: 1;
            }
        }
    }
}
