<div class="bsp-article-wrapper bsp-infinite-load-wrapper">

<div class="bsp-article bsp-infinite-load-item" data-bsp-infinite-load-item-url="/components/bsp-article/infinite-3.html">

  <ul class="bsp-share-links">
      <li class="bsp-facebook-share"><a class="bsp-share-link icon icon-facebook" data-shareheight="400" data-sharewidth="1000" data-service="facebook" href="https://www.facebook.com/dialog/feed?app_id=645138725541385&amp;link=infinite.html&amp;caption=&amp;description=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;redirect_uri=infinite.html&amp;picture=%2Fassets%2Fimages%2F800x450.png" target="_blank" title="Share on facebook"></a></li>
      <li class="bsp-twitter-share"><a class="bsp-share-link icon icon-twitter" data-shareheight="300" data-sharewidth="1000" data-service="twitter" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3001%2Fcomponents%2Fbsp-article%2Finfinite.html&amp;text=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;url=infinite.html" target="_blank" title="Share on twitter"></a></li>
      <li class="bsp-pinterest-share"><a class="bsp-share-link icon icon-pinterest" data-shareheight="400" data-sharewidth="1000" data-service="pinterest" href="http://pinterest.com/pin/create/bookmarklet/?url=infinite.html&amp;title=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;description=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;media=%2Fassets%2Fimages%2F800x450.png" target="_blank" title="Share on pinterest"></a></li>
      <li class="bsp-linkedin-share"><a class="bsp-share-link icon icon-linkedin" data-shareheight="600" data-sharewidth="1000" data-service="linkedin" href="https://www.linkedin.com/shareArticle?summary=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;ro=false&amp;title=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;mini=true&amp;url=infinite.html" target="_blank" title="Share on linkedin"></a></li>
  </ul>

  <h1 class="bsp-article-title">3333 This is a Static HTML Article Example for Infinite Loading Only. Do not QA this for Design/Content</h1>


  <div class="bsp-meta-data">
        <div class="bsp-meta-author">By <a href="#" title="Robert Simonson">Robert Simonson</a>, <a href="#" title="Robert Simonson 2">Robert Simonson 2</a></div>
      <div class="bsp-meta-date">05 Apr 2015</div>
  </div>

  <div class="bsp-article-lead-img">
    <img alt="Bacon meatball" src="/assets/images/800x450.png">   </div>

  <div class="bsp-article-content">
      <p>Bacon ipsum dolor amet t-bone chicken cupim, capicola shankle brisket andouille ball tip filet mignon pastrami meatball kevin turducken flank. Tri-tip jowl sausage capicola turkey pork beef doner sirloin pork loin meatloaf. Biltong sausage andouille cow ham hock doner sirloin landjaeger pig. Boudin shoulder fatback t-bone andouille pork chop meatloaf beef. Strip steak sirloin pork loin, jowl meatloaf tenderloin bresaola.</p><p>Pancetta pork belly spare ribs, doner shankle strip steak pastrami flank salami. Jowl shoulder hamburger pork ball tip, pig meatball tail ribeye. Venison pork belly sausage, kevin ham filet mignon leberkas pork brisket t-bone landjaeger. Ham hock fatback shoulder meatball ribeye tail. Kevin sirloin drumstick, venison tenderloin landjaeger doner andouille sausage flank pastrami ham. Hamburger pork loin sirloin, beef ribs shankle bresaola drumstick spare ribs.</p>

      <p>Short loin andouille turkey kielbasa meatloaf, short ribs pork beef ribs alcatra. Meatball shoulder leberkas, ham pastrami jerky kielbasa jowl strip steak alcatra venison beef tri-tip ground round. Fatback meatball t-bone venison. Tri-tip boudin prosciutto venison short ribs pork loin capicola meatloaf. Tenderloin cow pastrami shank.</p>
      <div class="bsp-component">
  <div class="bsp-component-title">1 Image with 1 Link</div>

<div class="bsp-component-content">

  <div class="bsp-image-promo">



      <div class="bsp-column-">

        <div class="bsp-image-promo-image">

            <a href="imageLink" title="Link Title"><img alt="Image" src="/assets/images/1200x400.png"></a>
          <ul class="bsp-image-promo-links">
              <li><a href="promoLink" title="Link">Promo Link Text</a></li>
          </ul>
        </div>

      </div>



  </div>

</div>

  <div class="bsp-component-cta">
    <a href="#">Test CTA</a>
  </div>
</div>
      <p>Short loin andouille turkey kielbasa meatloaf, short ribs pork beef ribs alcatra. Meatball shoulder leberkas, ham pastrami jerky kielbasa jowl strip steak alcatra venison beef tri-tip ground round. Fatback meatball t-bone venison. Tri-tip boudin prosciutto venison short ribs pork loin capicola meatloaf. Tenderloin cow pastrami shank.</p>
  </div>

  <div class="bsp-tags">
    <ul class="bsp-tag-list">
        <li><a href="#">MTB</a></li>
        <li><a href="#">Cycling</a></li>
        <li><a href="#">Downhill</a></li>
        <li><a href="#">Enduro</a></li>
        <li><a href="#">Dirt Jumping</a></li>
    </ul>
  </div>

</div>

</div>
