<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base Infinite Article 2</title>
		<script src="/_head.js"></script>
	</head>
	<body>

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

		<div class="bsp-site">

			<div class="bsp-site">

		      <div data-bsp-template="" data-bsp-template-options="{ 'dataUrl': '/components/bsp-article/infinite.json' }" class="bsp-onDomInsert-inserted-0 bsp-template-item"><div class="bsp-container">

		  
		  <div class="bsp-row">

		    <div class="bsp-column-scrolling">
		          <div class="bsp-article-wrapper bsp-infinite-load-wrapper" data-bsp-infinite-content>
		          
		            <div class="bsp-article bsp-infinite-load-item" data-bsp-infinite-load-item-url="/components/bsp-article/infinite-2.html">
		          
		              <ul class="bsp-share-links bsp-onDomInsert-inserted-12 bsp-share-item" data-bsp-share="" data-bsp-share-options="
		              {
		                'description':'Bacon meatball leberkas jerky strip steak beef ham ground round hamburger short loin, Bacon meatball leberkas jerky strip steak beef ham ground round hamburger short loin',
		                'image':'/assets/images/800x450.png',
		                'title':'Bacon meatball leberkas jerky strip steak beef ham ground round hamburger short loin',
		                'url':'/components/bsp-article/infinite-2.html',
		                'redirectUrl':'/components/bsp-article/infinite-2.html',
		                'iconClass':'icon', 
		                'serviceProps':{
		                  'facebook':{'appId':'645138725541385'}
		                }
		              }">
		                  <li class="bsp-facebook-share"><a class="bsp-share-link icon icon-facebook" data-shareheight="400" data-sharewidth="1000" data-service="facebook" href="https://www.facebook.com/dialog/feed?app_id=645138725541385&amp;link=infinite.html&amp;caption=&amp;description=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;redirect_uri=infinite.html&amp;picture=%2Fassets%2Fimages%2F800x450.png" target="_blank" title="Share on facebook"></a></li>
		                  <li class="bsp-twitter-share"><a class="bsp-share-link icon icon-twitter" data-shareheight="300" data-sharewidth="1000" data-service="twitter" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3001%2Fcomponents%2Fbsp-article%2Finfinite.html&amp;text=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;url=infinite.html" target="_blank" title="Share on twitter"></a></li>
		                  <li class="bsp-pinterest-share"><a class="bsp-share-link icon icon-pinterest" data-shareheight="400" data-sharewidth="1000" data-service="pinterest" href="http://pinterest.com/pin/create/bookmarklet/?url=infinite.html&amp;title=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;description=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;media=%2Fassets%2Fimages%2F800x450.png" target="_blank" title="Share on pinterest"></a></li>
		                  <li class="bsp-linkedin-share"><a class="bsp-share-link icon icon-linkedin" data-shareheight="600" data-sharewidth="1000" data-service="linkedin" href="https://www.linkedin.com/shareArticle?summary=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin%2C%20Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;ro=false&amp;title=Bacon%20meatball%20leberkas%20jerky%20strip%20steak%20beef%20ham%20ground%20round%20hamburger%20short%20loin&amp;mini=true&amp;url=infinite.html" target="_blank" title="Share on linkedin"></a></li>
		              </ul>
		          
		              <h1 class="bsp-article-title">2222 This is a Static HTML Article Example for Infinite Loading Only. Do not QA this for Design/Content</h1>
		          
		          
		              <div class="bsp-meta-data">
		                    <div class="bsp-meta-author">By <a href="#" title="Robert Simonson">Robert Simonson</a>, <a href="#" title="Robert Simonson 2">Robert Simonson 2</a></div>
		                  <div class="bsp-meta-date">05 Apr 2015</div>
		              </div>
		          
		              <div class="bsp-article-lead-img">
		                <img alt="Bacon meatball" src="/assets/images/800x450.png">   </div>
		          
		              <div class="bsp-article-content">
		                  <p>Bacon ipsum dolor amet t-bone chicken cupim, capicola shankle brisket andouille ball tip filet mignon pastrami meatball kevin turducken flank. Tri-tip jowl sausage capicola turkey pork beef doner sirloin pork loin meatloaf. Biltong sausage andouille cow ham hock doner sirloin landjaeger pig. Boudin shoulder fatback t-bone andouille pork chop meatloaf beef. Strip steak sirloin pork loin, jowl meatloaf tenderloin bresaola.</p><p>Pancetta pork belly spare ribs, doner shankle strip steak pastrami flank salami. Jowl shoulder hamburger pork ball tip, pig meatball tail ribeye. Venison pork belly sausage, kevin ham filet mignon leberkas pork brisket t-bone landjaeger. Ham hock fatback shoulder meatball ribeye tail. Kevin sirloin drumstick, venison tenderloin landjaeger doner andouille sausage flank pastrami ham. Hamburger pork loin sirloin, beef ribs shankle bresaola drumstick spare ribs.</p>
		                  <div class="bsp-component">
		              <h3 class="bsp-component-title">5 slides, no dots, no thumbs</h3>
		          
		            <div class="bsp-component-content">
		          
		              <div class="gallery-module gallery-module- bsp-onDomInsert-inserted-3 bsp-carousel-item bsp-carousel slick-initialized slick-slider" data-bsp-carousel="" data-bsp-carousel-options="{ 'theme' : '' }">
		                  <div aria-live="polite" class="slick-list draggable" tabindex="0"><div class="slick-track" style="opacity: 1; width: 5922px; transform: translate3d(-846px, 0px, 0px);"><div class="bsp-carousel-slide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide slick-active" data-slick-index="0" aria-hidden="false" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide" data-slick-index="4" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div><div class="bsp-carousel-slide slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 846px;">
		          
		                    <img src="/assets/images/1200x400.png">
		                  </div></div></div>
		                  
		                  
		                  
		                  
		              <button type="button" data-role="none" class="slick-prev" aria-label="previous" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" aria-label="next" style="display: block;">Next</button></div>
		          
		            </div>
		          
		          </div>
		                  <p>Short loin andouille turkey kielbasa meatloaf, short ribs pork beef ribs alcatra. Meatball shoulder leberkas, ham pastrami jerky kielbasa jowl strip steak alcatra venison beef tri-tip ground round. Fatback meatball t-bone venison. Tri-tip boudin prosciutto venison short ribs pork loin capicola meatloaf. Tenderloin cow pastrami shank.</p>
		                  <div class="bsp-component">
		              <div class="bsp-component-title">1 Image with 1 Link</div>
		          
		            <div class="bsp-component-content">
		          
		              <div class="bsp-image-promo">
		          
		          
		          
		                  <div class="bsp-column-">
		          
		                    <div class="bsp-image-promo-image">
		          
		                        <a href="imageLink" title="Link Title"><img alt="Image" src="/assets/images/1200x400.png"></a>
		                      <ul class="bsp-image-promo-links">
		                          <li><a href="promoLink" title="Link">Promo Link Text</a></li>
		                      </ul>
		                    </div>
		          
		                  </div>
		          
		          
		          
		              </div>
		          
		            </div>
		          
		              <div class="bsp-component-cta">
		                <a href="#">Test CTA</a>
		              </div>  
		          </div>
		                  <p>Short loin andouille turkey kielbasa meatloaf, short ribs pork beef ribs alcatra. Meatball shoulder leberkas, ham pastrami jerky kielbasa jowl strip steak alcatra venison beef tri-tip ground round. Fatback meatball t-bone venison. Tri-tip boudin prosciutto venison short ribs pork loin capicola meatloaf. Tenderloin cow pastrami shank.</p>
		              </div>
		          
		              <div class="bsp-tags">
		                <ul class="bsp-tag-list">
		                    <li><a href="#">MTB</a></li>
		                    <li><a href="#">Cycling</a></li>
		                    <li><a href="#">Downhill</a></li>
		                    <li><a href="#">Enduro</a></li>
		                    <li><a href="#">Dirt Jumping</a></li>
		                </ul>
		              </div>
		          
		            </div>
		          
		          </div>
		          
		            <div class="bsp-article-load-more">
		              <a class="bsp-infinite-load-trigger" href="/components/bsp-article/infinite-3.html">Load Next Article</a>
		            </div>
		    </div>

		    <div class="bsp-column-fixed-wrap" data-bsp-toggle-item>
		      <div class="bsp-column-fixed toggle-item">

		        <div class="bsp-trigger-fixed-column toggle-trigger">
		          <a class="toggle-trigger-link-out" href="#">Open</a>
		          <a class="toggle-trigger-link-in" href="#">Close</a>
		        </div>

		            <div class="bsp-component bsp-infinite-load-status">
		                <div class="bsp-component-title">Top Articles</div>
		            
		              <div class="bsp-component-content">
		            
		                <div class="bsp-list-promo">
		                  <ul class="bsp-list-promo-list ">
		                      <li class=" ">
		            
		            
		                        <div class="bsp-list-promo-text">
		                          
		            
		                            <div class="bsp-list-promo-link"><a href="/components/bsp-article/infinite.html" title="Link Title">1111 ipsum dolor amet turducken jowl shankle, cupim</a></div>
		                        </div>
		                      </li>
		                      <li class=" ">
		            
		            
		                        <div class="bsp-list-promo-text">
		                          
		            
		                            <div class="bsp-list-promo-link"><a href="/components/bsp-article/infinite-2.html" title="Link Title">2222 ipsum dolor amet turducken jowl shankle, cupim</a></div>
		                        </div>
		                      </li>
		                      <li class=" ">
		            
		            
		                        <div class="bsp-list-promo-text">
		                          
		            
		                            <div class="bsp-list-promo-link"><a href="/components/bsp-article/infinite-3.html" title="Link Title">3333 ipsum dolor amet turducken jowl shankle, cupim</a></div>
		                        </div>
		                      </li>
		                  </ul>
		                </div>
		            
		              </div>
		            
		                <div class="bsp-component-cta">
		                  <a href="#">Moar Articles</a>
		                </div>  
		            </div>      </div>
		    </div>
		    
		  </div>
		</div></div>

		    </div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>

	</div>

	</body>
</html>