// copied from variables in bsp-carousel/less/variables.less
@bsp-carousel-gallery-background: @brand-primary;
@bsp-carousel-gallery-border-color: @brand-accent;
@bsp-carousel-gallery-color: @brand-dark;

@import 'bower/bsp-carousel-gallery/bsp-carousel-gallery';