// I think we should move these vars to /variables/gallery.less instead of being in components here
// And the import should be moved to main.less. Need to discuss/further work on the gallery before we do that

// copied from variables in bsp-carousel/less/variables.less
@bsp-carousel-gallery-background: @brand-primary;
@bsp-carousel-gallery-border-color: @brand-accent;
@bsp-carousel-gallery-color: @brand-dark;

@import '../bower/bsp-carousel-gallery/bsp-carousel-gallery';