/* top hat styles */
.bsp-tophat {
    &:extend(.clearfix all);

    background: @gray-dark-3;
    width: 100%;
}

.bsp-tophat-links {
    &:extend(.bsp-list-inline all);
    &:extend(.ts-neg-1);

    float: right;
    padding: @space-half 0;

    a {
        color: @white;
    }
}

.bsp-tophat-register {
    margin-left: @space-double;
}




/* regular header styles */
.bsp-site-header {
    &:extend(.clearfix all);

    background: @header-background;
    height: @header-height;
    padding: 0 @space-double;
    width: 100%;

    .bsp-share-links {
        a {
            color: @white;
        }
    }
}

.bsp-site-logo-centering {
    &:extend(.vertical-center-wrapper all);

    float: left;
    height: 100%;
}

.bsp-site-logo {
    &:extend(.vertical-center);
    
    line-height: 0; // for perfect vertical centering of logo
    margin: 0;
}

.bsp-header-extra-links {
    &:extend(.bsp-list-inline all);
    &:extend(.ts-1);

    float: right;
    height: 100%;
}

.bsp-header-extra-link {
    background: @brand-dark;
    height: @header-height;
    line-height: @header-height;
}



