// The standard list promo contains an optional title, a list of links and a bottom call to action. 
// It scales up to the size of it's container and accepts any number of items. 
// If there is a certain height restriction that is part of the design, we should enforce that with character counts and 
// number of items in the list vs hardcoded CSS rules as much as possible

.bsp-list-promo {
	text-transform: uppercase;
}

.bsp-list-promo-title {
	background: @brand-dark;
	color: @brand-primary;
	padding: @space-quarter @space;
}

.bsp-list-promo-list {

	li {
		border-top: @border-style-5;
		padding: @space; 

		// better IE support than first-of-type or last-child
		&:first-child {
			border-top: none;
		}
	}

	// when we hardcode items heights, we will hardcode the height here and vertically center the links
	&.hard-item-heights {

		li {
			height: 60px;
			padding: 0;

			&:extend(.vertical-center-wrapper all);

			a {
				&:extend(.vertical-center all);
			}
		}

	}
	
}

.bsp-list-promo-cta {

	a {
		background: @brand-primary;
		display: block;
		color: @brand-dark;
		padding: @space-quarter 0;
		text-align: center;
	}
	
}