// The standard list promo contains an optional title, a list of links and a bottom call to action. 
// It scales up to the size of it's container and accepts any number of items. 
// If there is a certain height restriction that is part of the design, we should enforce that with character counts and 
// number of items in the list vs hardcoded CSS rules as much as possible

.bsp-list-promo {
	text-transform: uppercase;
}

.bsp-list-promo-heading {
	background: @brand-dark;
	color: @brand-primary;
	padding: @space-quarter @space;
	margin-bottom: @space;
}

.bsp-list-promo-list {

	li {
		border-top: @border-style-5;
		padding: 0 @space; 

		// better IE support than first-of-type or last-child
		&:first-child {
			border-top: none;
		}
	}
	
}

// if we have a heading and hardcoded heights, cancel out the bottom margin of the heading
.bsp-list-promo-heading + .bsp-list-promo-list.hard-item-heights {
	margin-top: -@space;
}

// images have no margin on either side
.bsp-list-promo-image {
	margin: 0 -@space; 

	img {
		width: 100%;
	}
}

.bsp-list-promo-heading + .bsp-list-promo-list .bsp-list-promo-image {
	margin-top: @space;
}

.bsp-list-promo-title {
	&:extend(.ts-1);

	margin: @space 0;

	a {
		color: @text-color;
	}
}

.bsp-list-promo-link {
	margin: @space 0;
}

.bsp-list-promo-desc {
	margin: @space 0;
}

.bsp-list-promo-cta {

	a {
		background: @brand-primary;
		display: block;
		color: @brand-dark;
		padding: @space-quarter 0;
		text-align: center;
	}
	
}

// when we hardcode items heights, we will hardcode the height here and vertically center the links
// this is at the end of the less file so we can provide cascading overrides without important tags
.bsp-list-promo-list.hard-item-heights {

	li {
		padding: 0 @space;
	}

	.bsp-list-promo-text {
		height: 60px;

		&:extend(.vertical-center-wrapper all);

		.bsp-list-promo-link {
			&:extend(.vertical-center all);

			margin: 0;
		}
	}

}