// Tags are elemental as they can be used in any bigger

.bsp-tags {
	padding: 0 0 @space-double;
}

.bsp-tag-list {
	&:extend(.bsp-list-inline all);

	li {
		text-transform: uppercase;
	}

	a {
		background: @brand-dark;
		display: block;
		padding: @space-quarter @space-half;
		margin-right: @space;
	}
}