.callout {
    &:extend(.module all);

    font-size: @ts-3;
    font-weight: @font-weight-light;
    text-align: center;

    .tag {
        font-size: @ts-1;
        margin-top: @space-double;
        padding: @space-double;
    }
}
