// Split this out into a separate file as there are a bunch of these now
@import '../globals/borders.vars';
@import '../globals/colors.vars';
@import '../globals/grid.vars';
@import '../globals/spacing.vars';

// The super promo has a couple of custom overides, including a custom width
.promo-super {
    padding-top: 0;
    text-align: center;

    .promo-list {
        > li {
            padding: 0;
        }
    }

    .promo-section-text {
        padding: 0 @space;
    }

    .promo-title {
        &:extend(.ts-heading-2 all);
        text-align: center;
    }

    .promo-links {
        max-width: @container-lg;
        margin-left: auto;
        margin-right: auto;
    }

    .promo-link {
        a {
            &:extend(.component-cta a all);
        }
    }

    &.links-stacked {
        .promo-links {
            display: block;
        }
        .promo-link {
            display: block;
        }
    }
}

// adding a few overrides for left-promo here
.promo-call-to-action {

    .column-half:first-of-type {
        display: none;
    }

    // for this modifier, we make a custom grid as we want to show this as a single
    // column all the way up to md instead of sm like default
    .column-half {
        width: 100%;
    }

    .promo-links {
        margin-top: 0;
    }

    .promo-link {
        a {
            display: block;
            font-weight: @font-weight-bold;
            padding: @space-quarter 0;
            text-transform: uppercase;

            &:extend(.icon);

            &:after {
                &:extend(.icon-angle-right:before);
            }
        }
    }

}

.promo-75-25 {
    .promo-list {
        > li {
            border-top: 1px solid @color-gray-light;
            padding-top: @space-double;
            &:extend(.clearfix all);

            .component-inverse-color &, .component-secondary-color & {
                border-top: 1px solid @color-white;
            }
        }
    }

    .promo-section-text {
        font-size: @ts-neg-1;
    }
}

@media @mq-sm {

    .promo-super {

        .promo-links {
            display: flex;
            justify-content: space-between;

            > li {
                display: inline-block;
                margin: 0;
            }
        }

        .promo-section-text {
            padding: 0 @space-double;
        }

    }

    .promo-75-25 {

        .promo-list {
            > li {
                border: none !important;
                padding: 0 0 @space-double;
            }
        }

        .promo-section-image {
            float: left;
            margin: 0;
            padding-right: @space-double;
            width: 75%;

            img {
                width: 100%;
            }
        }

        .promo-section-text {
            border-top: 1px solid @color-gray-light;
            padding-top: @space;
            float: right;
            width: 25%;

            .component-inverse-color &, .component-secondary-color & {
                border-top: 1px solid @color-white;
            }
        }
    }

}

@media @mq-md {

    .promo-call-to-action {

        .column-half:first-of-type {
            display: block;
        }

        .column-half {
            width: 50%;
        }

    }
}
