{{#defineBlock "Embed"}}
    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{#with alignment}} data-alignment="{{this}}"{{/with}}>
            {{#defineBlockBody}}
                {{content}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
