@import 'globals/colors.vars';
@import 'globals/spacing.vars';
@import 'globals/typography.vars';

.article-component {
    padding: 0;
}

.article-lead {
    img {
        height: auto;
        max-width: none;
        width: 100%;
    }

    margin-bottom: @space-double;
}

.article {
    max-width: 800px; // custom designed width for artciel content
    margin: 0 auto;
    padding: @space-double 0 @space;
}

// putting this in a separate wrapper so we can extend this for other pieces of content
.article-head {
    .tags {
        padding-bottom: @space;
    }

    .meta-data {
        padding-bottom: @space-double;
    }

    .article-title {
        font-size: @ts-3;
        font-weight: @font-weight-light;
        margin: 0;
        line-height: @line-height-headings;
        padding: @space-double 0;
        color: @color-brand-accent;
    }

    .article-subtitle {
        font-size: @ts-2;
        font-weight: @font-weight-light;
        line-height: @line-height-headings;
        margin: 0;
        padding: 0 0 @space-double;

        .component-inverse-color &, .component-secondary-color & {
            color: @color-white;
        }
    }
}

.article-content {
    &:extend(.clearfix all);

    border-top: 1px solid @color-gray-light;
    margin-top: @space-triple;
    padding-top: @space-triple;

    // custom line height for article content unless it gets overriden
    line-height: 2;

    p {
        margin: 0 0 @space-and-half 0;
    }
}

.ArticleEnhancement {
    padding: @space-double;
    margin: @space-double 0;

    // on xsmall, there is only center alignment
    &--left,
    &--right,
    &--center {
        margin: @space auto;
        text-align: center;
    }

    blockquote.module {
        margin: 0 @space-double;
    }

    .img-with-meta {
        margin: 0 auto;
    }

    .related-link {
        display: block;
        font-size: @ts-1;
        font-weight: @font-weight-bold;
    }

    // center any iframe components if you are in an article enhancement
    .iframe-module {
        iframe {
            margin: 0 auto;
        }
    }

}

@media @mq-sm {
    .ArticleEnhancement {

        &--left {
            border: none;
            float: left;
            margin: 0 @space-double @space 0;
            max-width: 50%;
            padding: 0;
        }

        &--right {
            border: none;
            float: right;
            margin: 0 0 @space @space-double;
            max-width: 50%;
            padding: 0;
        }

        &--center {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        &--full {
            width: 100%;
        }

    }
}
