.Article {
    display: flex;
    flex-direction: column;

    > :not(.Article-byline) {
        margin-bottom: 1.5em;
    }

    &-image {
        display: none;
    }

    &-breadcrumbs {
        display: none;
    }

    &-slug {
        order: 1;
        font-size: 10px;
        font-weight: bold;
    }

    &-tags {
        order: 6;
    }

    &-headline {
        order: 2;
        font-size: 28px;
        font-weight: bold;
    }

    &-subHeadline {
        order: 3;
    }

    &-byline {
        order: 4;
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-bottom: 1.5em;
        border-bottom: solid 1px #e1e1e1;

        .Author > * {
            display: inline-block;
            margin-right: 10px;
        }

        .Author-image {
            order: 1;
        }

        .Author-text {
            order: 2;
        }

        .Author-image {
            border-radius: 100%;
            overflow: hidden;
        }

        .Author-affiliation {
            display: none;
        }
    }

    &-datePublished {}

    &-content {
        order: 5;
        padding-top: 1.5em;
    }

    &-content-section {
        &--left,
        &--right,
        &--center {
            margin: @space auto;
            text-align: center;
        }
    }
}

@media @mq-sm {
    .Article {
        &-content {
            margin-right: 350px;
        }

        &-content-section {
            &--left {
                border: none;
                float: left;
                margin: 0 @space-double @space 0;
                max-width: 50%;
                padding: 0;
            }

            &--right {
                border: none;
                float: right;
                margin: 0 0 @space @space-double;
                max-width: 50%;
                padding: 0;
            }

            &--center {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            &--full {
                width: 100%;
            }
        }
    }
}
