// Article
.Article {
    @space-rightRail-width: 340px;
    @space-body-copy-offset: 120px;

    position: relative;
    display: flex;
    flex-flow: column;
    line-height: 1.5;

    &-slug {
        order: 1;
        font-size: .5rem;
        font-weight: bold;
    }

    &-headline {
        order: 2;
        &:extend(.Headline all);
    }

    &-subHeadline {
        order: 3;
        &:extend(.SubHeadline all);
        margin-right: @space-rightRail-width;
    }

    &-byline {
        order: 4;
        margin: 1rem 0;
        &:extend(.Byline all);
        padding-bottom: 1rem;
        border-bottom: solid 1px #DDD;
    }

    &-lead {
        order: 5;
        max-width: calc(~"100% - 340px");
        width: 100%;

        img {
            width: 100%;
        }
    }

    &-body {
        order: 8;
        font-size: 16px;
        margin-right: @space-rightRail-width + @space-body-copy-offset;
    }

    &-body-section {
        margin: 2rem 0;

        .Enhancement {
            &[data-alignment = "right"]{
                margin-right: -@space-body-copy-offset;
            }
        }
    }

    &-tags {
        order: 9;
    }

    &-socialSharing {
        order: 10;
    }

    &-relatedContent {
        order: 11;
        margin: 1rem 0;
        padding-top: 1rem;
        border-top: solid 1px #DDD;
        display: flex;
        flex-direction: row;

        .PromoList {
            width: 25%;

            &:first-child {
                width: 75%;
                &-headline {
                    width: 100%;
                }
                .PromoList-items-item {
                    width: 50%;
                    float: left;
                }
            }
        }
    }
}
