.Article {

    display: flex;
    flex-direction: column;

    &-image {
        display: none;
    }

    &-breadcrumbs {
        display: none;
    }

    &-slug {
        order: 1;
        font-size: 10px;
    }

    &-tags {
        order: 5;
    }

    &-headline {
        order: 2;
        font-size: 28px;
        font-weight: bold;
    }

    &-subHeadline {
        order: 3;
    }

    &-byline {
        order: 4;
        &:extend(.Module all);
    }

    &-datePublished {}

    &-content {
        order: 6;
    }

    &-content-section {
        background: dodgerblue;
    }

}
