<div class="Author">

    {{#with image}}
        <div class="Author-image">
            <img src="{{this}}" />
        </div>
    {{/with}}

    {{#with name}}
        <div class="Author-name">
            {{this}}
        </div>
    {{/with}}

    {{#with publishDate}}
        <div class="Author-publishDate">
            {{this}}
        </div>
    {{/with}}

</div>
