<div class="Author" itemprop="author" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>

    {{#with image}}
        <div class="Author-image" itemprop="image">
            {{this}}
        </div>
    {{/with}}

    {{#with name}}
        <div class="Author-name" itemprop="name">
            {{this}}
        </div>
    {{/with}}

    {{#with affiliation}}
        <div class="Author-affiliation" itemprop="affiliation">
            {{this}}
        </div>
    {{/with}}

</div>
