<div class="Author" itemscope="" itemprop="author" itemtype="http://schema.org/Person">

    {{#with text}}
        <div class="Author-text">{{this}}</div>
    {{/with}}

    {{#with image}}
        <div class="Author-image">
            <img src="{{this}}" itemprop="image" />
        </div>
    {{/with}}

    {{#with name}}
        <div class="Author-name" itemprop="name">
            {{this}}
        </div>
    {{/with}}

    {{#with affiliation}}
        <div class="Author-affiliation" itemprop="affiliation">
            {{this}}
        </div>
    {{/with}}

</div>
