.Author {
    &:extend(.Module all);
    display: flex;
    align-items: center;

    &-text {
        order: 1;
    }

    &-image {
        order: 2;
    }

    &-name {
        order: 3;
    }

    &-affiliation {
        order: 4;
        &:before {
            content: "|";
            margin-right: 10px;
        }
    }
}
