<div class="Callout{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="Callout-title">{{render this}}</div>
    {{/with}}

    <div class="Callout-content">
        {{render calloutContent}}
    </div>

    {{#if cta}}
        <div class="Callout-cta">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}
</div>
