.Callout {
    &:extend(.Module all);

    &-title, &-content {
        font-size: @ts-3;
        font-weight: @font-weight-light;
        text-align: center;
    }

    &-cta {
        a {
            // it's a tag in terms of colors and hovers, but has moar space and size
            &:extend(.tag all);
            font-size: 20px;
            font-weight: normal;
            padding: 2rem;

            // the standard module cta has a caret, we remove it here
            &:after {
                content: '';
            }
        }
    }
}
