.Enhancement {
    position: relative;
    padding: 10px 0 10px;
    
    &[data-alignment = "left"]{
        float: left;
        margin-right: 30px;
    }

    &[data-alignment = "right"]{
        float: right;
        margin-left: 30px;
    }
}
