<div class="modal-data-wrapper" data-bsp-modal{{#if this.id}} data-bsp-modal-options='{"id" : "{{this.id}}"}'{{/if}}>
    <div class="modal-data hidden">
        {{render this.content}}
    </div>
</div>
