<nav class="ReadingList">
  {{#with headline}}
    <div class="ReadingList-headline">{{this}}</div>
  {{/with}}
  <ol class="ReadingList-items">
    {{#each items}}
        <li class="ReadingList-items-item">
            {{this}}
        </li>
    {{/each}}
  </ol>
</nav>
