.SocialFeed {
    &:extend(.Module all);

    &-content {
        &:extend(.row all);
        list-style: none;

        &-item {
            &:extend(.column-one-third all);
            padding-bottom: 20px;
        }
    }

    &-cta {
        padding-top: 0;
    }
}
