<div class="Tags Module">
    <ol class="Tags-list" itemscope itemtype="http://schema.org/ItemList">
        {{#each tags as |tag|}}
            <li class="Tags-list-item" itemprop="itemListElement">
                {{tag.name}}
            </li>
        {{/each}}
    </ol>
</div>
