<div class="tags">
    {{#if this.title}}<div class="tag-list-title">{{render this.title}}</div>{{/if}}
    <ul class="tag-list">
        {{#each this.tagList}}
            <li>{{render this cssClass="tag"}}</li>
        {{/each}}
    </ul>
</div>
