// Tags are elemental as they can be used in any bigger component
.Tags {
    font-size: @ts-neg-1;

    &-title {
        float: left;
        line-height: 1;
        margin: 0;
        // spacing to line it up even with the tags themselves
        padding: @space-half @space-half 0 0;
    }

    &-list {
        &:extend(.list-inline all);
        display: inline;
    }

    &-list-item {

        a, span {
            border: 1px solid @color-brand-accent;
            color: @color-brand-accent;
            display: inline-block;
            line-height: 1;
            padding: @space-half @space-double;
            margin: 0 @space-half @space-half;
            text-transform: uppercase;

            &:hover {
                background: @color-brand-accent;
                border: 1px solid @color-brand-accent;
                color: @color-white;
            }

            .color-inverse & {
                background: @color-brand-accent;
                border-color: 1px solid @color-brand-accent;
                color: @color-white;

                 &:hover {
                    border-color: @color-brand-accent;
                    color: @color-text;
                }
            }
        }

    }
}
