<div class="Tags">
    {{#if this.title}}<div class="Tags-title">{{render this.title}}</div>{{/if}}
    <ol class="Tags-list" itemscope itemtype="http://schema.org/ItemList">
        {{#each tagList as |tag|}}
            <li class="Tags-list-item" itemprop="itemListElement">
                {{tag}}
            </li>
        {{/each}}
    </ol>
</div>
