@import "../../base/All.less";

@import "font/museo_sans.less";
@import "font/icon.less";

html {
    font-size: 10px;
}

body {
    background: white;
    color: #333;
    font-family: museo_sans;
    font-size: 18px;
    line-height: 1.42857143;
}

@import "main/ArticleMain.less";
