<div class="FacebookShareButton fb-share-button"

    {{~#with href}}
        data-href="{{this}}"
    {{~/with~}}

    {{~#with layout}}
        data-layout="{{this}}"
    {{~/with~}}

    {{~#with mobileIframe}}
        data-mobile_iframe="{{this}}"
    {{~/with~}}

    {{~#with size}}
        data-size="{{this}}"
    {{~/with~}}
>
</div>
