// padding vs margin allows for cleaner separation between components, especially if things inside of them use margins

.component {
    padding-bottom: @component-bottom-padding;
    position: relative;
}

.component-title {
    &:extend(.section-title);
    text-align: center;

    a {
        color: @color-text;
    }
}

.component-subtitle {
    display: block;
    font-size: @ts-0;
    line-height: @line-height-base;
    margin-top: @space;
}

.component-content {
    overflow: hidden; // making sure things do not go outside of components
}

.component-cta {
    border-top: @border-style-7;
    margin-top: @space-double;
    padding-top: @space;
    text-align: center;

    a {
        display: block;
        font-weight: @font-weight-bold;
        padding: @space-quarter 0;
        text-transform: uppercase;

        .icon();

        &:after {
            content: @fa-var-angle-right;
        }
    }

    &.component-cta-top-right {
        position: absolute;
        top: 0;
        right: 0;

        a {
            padding-right: @space;
        }
    }

    &.component-cta-bottom-right {
        display: inline-block;
        float: right;

        a {
            padding-right: @space;
        }
    }

    &.component-cta-bottom-left {
        display: inline-block;
        float: left;

        a {
            padding-right: @space;
        }
    }
}

// if the content has hard item heights, there is no margin on the cta, it will screw up the hardcoded item heights
.component-content.hard-item-heights + .component-cta {
    margin-top: 0;
}


@media @mq-sm {
    .component-cta {
        border-top: none;
    }
}
