.modal-data {
    display: none;
}

// this our base on the default vex theme
.vex.modal-theme-default .vex-content {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: @color-gray-light-1;
    padding: @space-double;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;

    .component {
        padding: 0;
    }
 }

@media @mq-sm {
    .vex.modal-theme-default .vex-content {
        width: 80%;
    }
}

@media @mq-lg {
    .vex.modal-theme-default .vex-content {
        width: 70%;
    }
}
