<div class="grid-container{{#if modifierClass}} {{modifierClass}}{{/if}}">
	<div class="row">

		<div class="column-full">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>

	</div>
</div>
