<div class="grid-container{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">

    {{#each aboveColumns}}
        {{render this}}
    {{/each}}

	<div class="row">

		<div class="column-main">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>

		<div class="column-aside">
            {{#each aside}}
                {{render this}}
            {{/each}}
		</div>

	</div>
</div>
