<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet/less" type="text/css" href="/assets/styles/main.less">
        <script src="/assets/scripts/less.js"></script>
        <script>
            if (localStorage.getItem('useSystemJS')) {
                document.write('<script src="/assets/scripts/system.js"></scr'+'ipt>');
                document.write('<script src="/assets/scripts/config.js"></scr'+'ipt>');

                document.addEventListener('DOMContentLoaded', function (event) {
                    System.config({ baseURL: '/assets/scripts' });
                    System.import('main');
                });

            } else {
                document.write('<script src="/assets/scripts/main.min.js"></scr'+'ipt>');
            }
        </script>
    </head>
    <body style="margin: 0; padding: 0;">
        {{#each files}}
            <h1>{{name}}</h1>
            {{data}}
        {{/each}}
    </body>
</html>
