<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styleguide.css">
    </head>
    <body>
        <div class="sg-menu">
            <ul>
                {{#each groups}}
                    <li class="sg-group">
                        <span class="sg-group-name">{{name}}</span>
                        <ul>
                            {{#each examples}}
                                <li><a href="{{path}}">{{name}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="sg-content">
            <iframe src="?iframe=true"></iframe>
        </div>
    </body>
</html>
