.Author {
    align-items: center;
    display: flex;

    &-image {
        margin-right: .5em;
        order: 50100;
    }

    &-name {
        order: 50200;
    }

    &-affiliation {
        order: 50300;

        &:before {
            content: ', ';
        }
    }
}
