.Commenting {
    &:extend(.Commenting all);

    &-header {
        &:extend(.Commenting-header all);
        border: dashed 1px dodgerblue;
    }

    &-body {
        &:extend(.Commenting-body all);
        border: dashed 1px green;
    }

    &-footer {
        &:extend(.Commenting-footer all);
        border: dashed 1px hotpink;
    }
}
