.Enhancement {
    margin: 2rem 0;

    &[data-alignment='left'] {
        float: left;
        margin-right: 2rem;
    }

    &[data-alignment='right'] {
        float: right;
        margin-left: 2rem;
    }
}
