// Sample styles for Gallery

// Mixin to clear floats
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Mixin to clear absolute position
.clearpos() {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}

// Mobile first styles
// Starting with @mq-xs (320px)

.Gallery {
  
  background-color: black;
  color: white;
  
  &-intro {
    // Gallery-background images to be positioned absolutely
    position: relative;
    
    // Set a minimum height but allow it to expand if the GalleryIntro content goes long
    min-height: 540px;
    
    // Center the GalleryIntro block
    display: flex;
    align-items: center;
    justify-content: center;
    
    // The intro box that sits above the background images
    .GalleryIntro {
      z-index: 1; // Needs a z-index so it will sit on top of Gallery-background
      width: 240px - (20px * 2);
      padding: 30px 20px;
      margin: 1em 0; // in case the intro gets larger than the 
      background-color: white;
      color: black;
    }
    
    &-background {
      
      &[data-gallery-intro-background="single"] {
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          object-fit: cover;
        }
      }
      
      &[data-gallery-intro-background="montage"] {
        
        img {
          position: absolute;
          object-fit: cover;
          
          // Image grid:
          // 
          // 111 2
          // 111 3
          // 4 777
          // 5 777
          // 6 777
          
          &:nth-child(1) {
            top: 0;
            left: 0;
            width:65%; // let width expand
            height:40%;
          }
          &:nth-child(2) {
            top: 0;
            right: 0;
            width: 32%;
            height: 19%;
          }
          &:nth-child(3) {
            top: 21%;
            right:0;
            width: 32%;
            height: 19%;
          }
          &:nth-child(4) {
            width: 32%;
            height: 18%;
            left: 0;
            top: 42%;
          }
          &:nth-child(5) {
            width: 32%;
            height: 18%;
            left: 0;
            top: 62%;
          }
          &:nth-child(6) {
            width: 32%;
            height: 18%;
            left: 0;
            bottom: 0;
          }
          &:nth-child(7) {
            width: 65%;
            height: 58%;
            right: 0;
            bottom: 0;
          }
          
          // Hide anything past seven images
          &:nth-child(n+8) {
            display:none;
          }
        }
      }
    }
  }
  
  &-controls {
    
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
    
    &-count {
    }
    
    &-buttons {
      // Hide control buttons for small screens
      display:none;
    }
  }

  // Slides are cloned into List and Tiles views, so hide the original slides
  &-slides {
    display: none;
  }

  .GallerySlide {
    
    &-media {
      position:relative;
      cursor: pointer;
      
      &:hover {
        .GallerySlide-mediaControlsZoom {
          display: block;
        }
      }
    }
    
    &-mediaControlsZoom {
      // Hide by default, show on :hover
      display: none;
      position: absolute;
      right: 26px;
      top: 26px;
    }
  }
  
  /* List View */
  &-slides[data-gallery-view="list"] {
    
    display:block;
    
    .GallerySlide {
      
      border-top: 1px solid white;
      padding-top: 10px;
      padding-bottom: 10px;
      
      .clearfix;
      
      &-media {
        width:100%;
      }
      &-mediaContent {
        img {
          display:block;
          width:100%;
          height: auto;
        }
      }
      &-info {
        margin: 10px 20px;
      }
    }
  }
  
  /* Tile view */
  &-slides[data-gallery-view="tiles"] {
    // No tiles until window is wide enough
    display: none;
  }
}

// Gallery modal used for zoomed view
.modal-theme-gallery {
  .vex-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  // Hide the default close button for the modal since we will provide our own
  .vex-close {
    display:none;
  }
}

// Modal is outside of the main Gallery element
.Gallery-modal {
  width: 100vw;
  height: 100vh;
  position:relative;
}

// Extra controls that appear in the modal (Close, Prev, Next, Count, Info)
.Gallery-modalControls {
    position: absolute;
    
    // Give a z-index so it sits on top of image
    z-index:1;
    
    &-close {
      position: fixed;
      right:15px;
      top:10px;
    }
    &-prev {
      display:none;
    }
    &-next {
      display:none;
    }
    &-info {
      position: fixed;
      right: 15px;
      bottom: 10px;
    }
    &-count {
      // Hidden for mobile view but displayed when info button is clicked
      display:none;
      color: white;
      position: fixed;
      right: 70px;
      bottom: 10px;
    }
}

// Slides within the modal
.Gallery-slides[data-gallery-view="modal"] {

  // The Gallery-slides are hidden initially, so we need to override that and display them.
  display: block;
  background-color:black;

  .GallerySlide {

    // Set up a flex columns so the image and info can expand / contract to fill available space
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    
    &-media {
      
      display: flex;
      // flex-direction:column;
      // justify-content:center;
      
      width: 100%;
      height: 100%;
    }
    
    &-mediaContent {

      // Set up flex display so the image scales to available space
      display: flex;
      // flex-direction:column;
      // justify-content:center;

      width: 100%;
      height: 100%;
      
      min-height: 40%;
      
      img {
        // Make the image fill the available space
        display: block;
        min-width: 100%;
        min-height:100%;
        
        // If the image gets stretched, add space so the image stays at same aspect ratio.
        object-fit: contain;
      }
    }
    
    &-mediaControlsZoom {
      // Since we're already in the modal, hide the zoom control on the image
      display: none !important;
    }
    
    &-info {
      
      // Hide the info by default
      display: none;
      
      z-index:1;
      background-color: #1b1b1b;
      color: white;
      padding: 20px;
      font-size:80%;
    }
  }
}

// An attribute is added to indicate when the info should be displayed within modal view
.Gallery-modal[data-gallery-showinfo] {
  
    .GallerySlide {
      &-media {
        // Make the image take up any remaining space not used by the info
        flex-grow: 1;
        flex-shrink: 99;
      }
      &-info {
        display:block;
        overflow: auto;
        
        // A little extra padding so the text can scroll up past the "Info" button
        // to ensure the text is not obscured.
        padding-bottom: 40px;

        flex-shrink: 1;
      }
    }
    
    .Gallery-modalControls {
      
      &-count {
        display:inline-block;
      }
      
      &-info {
        // Make the "Info" button appear selected
        font-weight: bold;
      }
    }
}

// For certain sizes show the alternate short text if it is defined
@media only screen and (max-width: 767px) { 
  .Gallery, .Gallery-modal {
    [data-shorttext] {
      > span { font-size: 0; }
      &:after {
        font-size: inherit;
        content: attr(data-shortText);
      }
    }
  }
}

// Styles for 568px
@media @mq-sm {
  
  .Gallery {
    
    &-intro {
      
      min-height: 326px;

      .GalleryIntro {
        width: 460px - (40px * 2);
        padding: 30px 40px;
      }
      
      &-background[data-gallery-intro-background="montage"] {
        
        img {
          
          // Different image grid:
          // 
          // 1 2 44444
          // 333 44444
          // 333 5 6 7
          
          &:nth-child(1) {
            .clearpos;
            top: 0;
            left: 0;
            width: 19%;
            height: 32%;
          }
          &:nth-child(2) {
            .clearpos;
            top: 0;
            left: 20%;
            width: 19%;
            height: 32%;
          }
          &:nth-child(3) {
            .clearpos;
            bottom: 0;
            left: 0;
            width: 39%;
            height: 66%;
          }
          &:nth-child(4) {
            .clearpos;
            right: 0;
            top: 0;
            width: 60%;
            height: 66%;
          }
          &:nth-child(5) {
            .clearpos;
            left: 40%;
            bottom: 0;
            width: 19%;
            height: 32%;
          }
          &:nth-child(6) {
            .clearpos;
            left: 60%;
            bottom: 0;
            width: 20%;
            height: 32%;
          }
          &:nth-child(7) {
            .clearpos;
            right: 0;
            bottom: 0;
            width: 19%;
            height: 32%;
          }
        }
      }    
    }
  }
}

// Styles for 768px
@media @mq-md {

  .Gallery {
    
    &-intro {
      
      min-height: 432px;

      .GalleryIntro {
        width: 568px - (40px * 2);
        padding: 40px;
      }
    }
    
    &-controls {
      
      .clearfix;
      margin-top: 40px;
      margin-bottom: 20px;
      
      &-count {
        float:left;
      }
      
      &-buttons {

        // Start displaying control buttons at this breakpoint
        display:block;
        float:right;
        
        &-list {
            // Replace control buttons with icons if desired
        }
        
        &-tiles {
          // Replace control buttons with icons if desired
        }
        
        [data-gallery-button-active] {
          font-weight:bold;
          text-decoration:none;
          pointer-events: none;
          color:inherit;
        }
      }
    }
    
    &-slides[data-gallery-view="list"] {
      
      display: none;
      
      .GallerySlide {
        
        border-top: 1px solid white;
        padding-top: 20px;
        padding-bottom: 20px;
        
        .clearfix;
        
        &-media {
          float:right;
          margin-right:20px;
          width:72%;
          img {
            display:block;
            width:100%;
            height: auto;
          }
        }
        &-info {
          float: left;
          width: 20%;
          margin-left: 20px;
          margin-right: 10px;
        }
      }
    }
    
    &-slides[data-gallery-view="tiles"] {
      
      display: none;
      border-top: 1px solid white;
      padding: 20px;
      
      .GallerySlide {
        
        width: 45%;
        margin-bottom: 30px;
        
        &-media {
          width:100%;
        }
        &-mediaContent {
          img {
            width:100%;
            height: auto;
          }
        }
        &-info {
          margin-top:10px;
        }
      }
    }
    
    &-slides[data-gallery-view-active] {
      display:block;
    }
  }
}

// Styles for 1024px
@media @mq-lg {
  
  .Gallery {
    
    &-intro {
      min-height: 576px;
      .GalleryIntro {
        width: 768px - (84px * 2);
        padding: 40px 84px;
      }
    }
        
    &-slides[data-gallery-view="list"] {
      .GallerySlide {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
    
    &-slides[data-gallery-view="tiles"] {
      padding: 30px 20px;
      .GallerySlide {
        width: 30%;
      }
    }
  }
}

// Styles for 1440px
@media @mq-xl {
  
  .Gallery {
    
    // Set a fixed width so gallery doesn't get any larger than this
    width: @screen-xl-min;
    
    &-intro {
      min-height: 810px;
      .GalleryIntro {
        width: 1024px - (212px * 2);
        padding: 50px 212px;
      }
    }
        
    &-slides[data-gallery-view="list"] {
      
      .GallerySlide {
        
        padding-top: 40px;
        padding-bottom: 40px;
        
        &-media {
          // Since we're not letting gallery expand beyond this size, using px width instead of %
          width: 1024px;
          margin-right:98px;
        }
        
        &-info {
          // Since we're not letting gallery expand beyond this size, using px width instead of %
          width:200px;
          margin-left: 98px;
          margin-right: 20px;
        }
      }
    }
    
    &-slides[data-gallery-view="tiles"] {
      padding: 40px 100px;
      .GallerySlide {
        width: 400px;
      }
    }
  }
}
