// Only onthe video page do we have top padding. All other pages are flush top
.video-page {
    .component-group:first-of-type {
        padding: @space-double 0;
    }
}

@media @mq-sm {
    .video-page {
        .component-group:first-of-type {
            padding: @space-quad 0;
        }
    }
}

@media @mq-lg {
    .video-page {
        .component-group:first-of-type {
            padding: 8rem 0; // custom value just for this
        }
    }
}
