<div class="Promo">
    {{#with imageUrl}}
        <img class="Promo-image" src="{{this}}" />
    {{/with}}
    {{#with headline}}
        <div class="Promo-headline">{{this}}</div>
    {{/with}}
</div>
