.PromoList {
    position: relative;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 0;

    &-items {
        padding: 0;
        margin: 0;
    }

    &-items-item {
        margin-top: 1rem;
        list-style-type: none;
    }

    &-headline {
        font-size: 20px;
    }
}
