<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-table</title>
		<script src="/_head.js"></script>
	</head>
	<body>

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

		<div class="bsp-site">

			<div class="bsp-container">

				<div class="bsp-row">

					<div class="bsp-column-full">

						<!-- theme 1 -->
						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-table/table-theme-1.json" }'></div>

						<!-- theme 2 -->
						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-table/table-theme-2.json" }'></div>

						<!-- grid theme -->
						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-table/table-grid-theme.json" }'></div>

						<!-- checkerboard theme -->
						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "t/components/bsp-table/able-checkerboard.json" }'></div>

					</div>

				</div>

				<div class="bsp-row">


				</div>

			</div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>

	</div>

</body>
</html>
