.ListPromo {
    &:extend(.Promo all);

    &-items {
        &:extend(.ListPromo-items all);

        list-style: none;
        padding: 0;

        &-item {
            &:extend(.ListPromo-items-item all);

            &:not(:first-child) {
                margin-top: .5em;
            }
        }
    }
}
