{{#defineElement "image"}}
    <div class="ListPromoItem-image">{{this}}</div>
{{/defineElement}}

{{#defineElement "content"}}
    <div class="ListPromoItem-content">{{this}}</div>
{{/defineElement}}

<div class="ListPromoItem">
    {{#overridable}}
        {{element "image"}}
        {{element "content"}}
    {{/overridable}}
</div>
