@import '../CreativeWorkMain';

.Listicle {
    &:extend(.CreativeWorkMain all);

    &-items {
        &:extend(.Listicle-items all);
    }

    & when (@_demo) {
        &-items {
            ._Block;
            padding: 0;
            list-style: none;
        }

        &-items-item {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
