{{#block "RichTextBody" override="Body.hbs"}}
    {{#blockBody}}
        {{#element "content"}}
            <div class="{{elementName}}">
                {{this}}
            </div>
        {{/element}}
    {{/blockBody}}
{{/block}}