<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-component-combo</title>
		<script src="/_head.js"></script>
	</head>
	<body>

	<div class="bsp-site-wrapper">


				<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

				<div class="bsp-site">

					<form action="" data-bsp-form>

						<div class="bsp-container">
							<div class="bsp-row">
								<div class="bsp-column-full">

										<p>The bsp-form-input component is used inside a form element which must have the "data-bsp-form" attribute set. This enables the fields to interact with <a href="https://github.com/perfectsense/brightspot-js-form">the bsp-form library</a>.</p>

										<h2>Example Form</h2>
								</div>
							</div>
						</div>

						<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-form-input/index.json" }'></div>

						<div class="bsp-container">
							<div class="bsp-row">
								<div class="bsp-column-full bsp-form-input-button-container">
									<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-form-input/input-submit.json" }'></div>
								</div>
							</div>
						</div>

					</form>

				</div>

			</div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>


	</body>
</html>