<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-component-combo</title>
		<script src="/_head.js"></script>
	</head>
	<body>

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

		<div class="bsp-site">

			<div class="bsp-container">
				
				<p>The bsp-form-input component is used inside a form element which must have the "data-bsp-form" attribute set. This enables the fields to interact with <a href="https://github.com/perfectsense/brightspot-js-form">the bsp-form library</a>.</p>

				<form action="" data-bsp-form>

					<h2>An example form</h2>

					<!-- type: checkbox -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-checkbox.json" }'></div>

					<!-- type: color -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-color.json" }'></div>
					<p><small>(needs some work in bsp-form)</small></p>

					<!-- type: date -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-date.json" }'></div>

					<!-- type: email -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-email.json" }'></div>

					<!-- type: text -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-text.json" }'></div>

					<!-- type: submit -->
					<div data-bsp-template data-bsp-template-options='{ "dataUrl": "input-submit.json" }'></div>

				</form>

				<p>Unsupported types: datetime (use date or datetime-local)</p>

			</div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>

	</div>

	</body>
</html>