@import 'share-links.vars';

// Here we provide styles for the share bar
// We also allow for some extending of icon fonts vs using the icon-xxxxx designation in the HTML

.share-links-wrapper {

}

.share-links-title {
    padding-right: @space-half;
    text-transform: uppercase;
}

.share-links {
	&:extend(.list-inline all);
    display: inline-block;
    font-size: @ts-1;
    margin: 0;

	li {
		padding: 0 @space-half;
	}
}

.share-link {
	&:extend(.icon);

	background: @color-brand-secondary;
	color: @color-white;
	border-radius: 28px;
	height: 28px;
    font-size: @ts-neg-1;
	line-height: 28px;
	text-align: center;
	width: 28px;

	.icons-monochrome & {
		background-color: @color-social-icons-monochrome-bg;
        color: @color-social-icons-monochrome;
	}

    .facebook-share {
        &:extend(.icon-facebook all);
    }

    .twitter-share {
        &:extend(.icon-twitter all);
    }

    .pinterest-share {
        &:extend(.icon-pinterest all);
    }

    .linkedin-share {
        &:extend(.icon-linkedin all);
    }

    .tumblr-share {
        &:extend(.icon-tumblr all);
    }

	&:hover {
		color: @color-social-icons-monochrome;
	}

}


@media @mq-sm {

	.share-links-centering {
		display: block;
	}

}
