.MPXVideoPlayer {
    &-screen {
        &:extend(.MPXVideoPlayer-screen all);
    }

    & when (@_demo) {
        width: 100%;
        height: auto;
        position: relative;

        &-screen {
            position: relative;
            height: auto;
            width: 100%;

            &[data-aspect-ratio='16x9'] {
                position: relative;
                padding-bottom: 56.25%;
            }

            &[data-aspect-ratio='4x3'] {
                padding-bottom: 75.01%;
            }

            iframe, object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
