<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-site-footer</title>
		<script src="/_head.js"></script>
	</head>
	<body class="styleguide-page">

	<div class="bsp-site-wrapper">

		<h3>Colorful (default)</h3>
		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-social-share/share.json" }'></div>

		<h3>Monochrome</h3>
		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-social-share/share-monochrome.json" }'></div>

	</div>

</body>
</html>
