<!DOCTYPE html>
<html>
	<head>
		<title>Brightspot Base bsp-gallery-module</title>
		<script src="/_head.js"></script>
	</head>
	<body>

	<div class="bsp-site-wrapper">

		<div class="bsp-styleguide-header" data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-header/styleguide-header.json" }'></div>

		<div class="bsp-site">

			<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-gallery-module/index.json" }'></div>

		</div>

		<div data-bsp-template data-bsp-template-options='{ "dataUrl": "/components/bsp-site-footer/standard.json" }'></div>

	</div>

	</body>
</html>