{{#if displayOptions.modifierClass}}<div class="{{displayOptions.modifierClass}}">{{/if}}
    {{#each main}}
        <div class="FullPage-item">
            {{render this}}
        </div>
    {{/each}}
{{#if displayOptions.modifierClass}}</div>{{/if}}
