<div class="OneColumn-container{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
	<div class="OneColumn-row">

		<div class="OneColumn-column">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>

	</div>
</div>
