<div class="OneColumn-container{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
	<div class="OneColumn-row">

		<div class="OneColumn-column">
            {{#each main}}
                <div class="OneColumn-item">
                    {{render this}}
                </div>
            {{/each}}
		</div>

	</div>
</div>
