<div class="TwoColumn-container{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">

    <div class="TwoColumn-aboveColumns">
        {{#each aboveColumns}}
            {{render this}}
        {{/each}}
    </div>

	<div class="TwoColumn-row">

		<div class="TwoColumn-column-half">
            {{#each first}}
                {{render this}}
            {{/each}}
		</div>

		<div class="TwoColumn-column-half">
            {{#each second}}
                {{render this}}
            {{/each}}
		</div>

	</div>
</div>
