<div class="bsp-carousel-slide{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{render this.image}}

    {{#if this.seoLink}}
        {{render this.seoLink cssClass="seo-link"}}
    {{/if}}

    {{#if this.caption}}
    <div class="bsp-carousel-gallery-slide-caption-wrapper">
        <div class="bsp-carousel-gallery-slide-caption">
            {{#each this.caption}}
                {{render this}}
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
