<div class="page-title-wrapper"{{#if style}} style="{{style}}"{{/if}}>
    <div class="container">
        <div class="row">
            <div class="column-full">
                {{#with pageTitle}}
                    <h1 class="page-title"{{#if style}} style="{{style}}"{{/if}}>{{render this}}</h1>
                {{/with}}
            </div>
        </div>
    </div>
</div>