<div class="component page-title-component{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}"{{#if style}} style="{{style}}"{{/if}}>
    <div class="component-content grid-container">
        <div class="row">
            <div class="column-full">
                {{#with pageTitle}}
                    <h1 class="page-title"{{#if style}} style="{{style}}"{{/if}}>{{render this}}</h1>
                {{/with}}
            </div>
        </div>
    </div>
</div>