<footer class="site-footer-simple">

	{{#if socialLinks}}
		<ul class="share-links">
			{{#each socialLinks}}
				<li>{{render this}}</li>
			{{/each}}
		</ul>
	{{/if}}

    {{#with navLinks}}
        <nav class="nav-menu">
            <ul class="nav-menu-items">
                {{#each this}}
                    <li class="nav-menu-item">{{render this }}</li>
                {{/each}}
            </ul>
        </nav>
    {{/with}}

	<div class="site-copyright">
		{{disclaimer}}
	</div>

</footer>
