<header class="site-header-simple-wrapper">

	<div class="site-header-simple">
		<div class="site-logo">
			{{#with siteLogo}}
				{{this}}
			{{/with}}
		</div>

        <div class="site-menu-toggle-wrapper" data-bsp-toggle-item>
            <div class="site-menu-trigger toggle-trigger">
                <a href="#"><i class="icon icon-bars"><span class="sr-only">Toggle Menu</span></i></a>
            </div>

            <div class="site-menu-toggle toggle-item">
                {{#with navLinks}}
                    <nav class="nav-menu">
                        <ul class="nav-menu-items">
                            {{#each this}}
                                <li class="nav-menu-item">{{render this }}</li>
                            {{/each}}
                        </ul>
                    </nav>
                {{/with}}

                {{#with searchForm}}
                <div class="site-header-simple-search-wrapper" data-bsp-toggle-item data-bsp-toggle-item-options='{"toggleItem":".site-header-simple-search","toggleTrigger":".site-search-toggle-trigger"}'>
                    <div class="site-search-toggle-trigger">
                        <a href="#"><i class="icon icon-search"><span class="sr-only">Toggle Menu</span></i></a>
                    </div>
                    {{this}}
                </div>
                {{/with}}
            </div>
        </div>
	</div>

</header>
