<footer class="site-footer-simple">

	{{#if socialLinks}}
		<ul class="share-links">
			{{#each socialLinks}}
				<li>{{render this}}</li>
			{{/each}}
		</ul>
	{{/if}}

    {{#with navLinks}}
        <nav class="site-footer-simple-nav-menu">
            <ul>
                {{#each this}}
                    <li>{{render this }}</li>
                {{/each}}
            </ul>
        </nav>
    {{/with}}

	<div class="site-footer-simple-copyright">
		{{disclaimer}}
	</div>

</footer>
