<footer class="site-footer-simple">

	{{#if socialLinks}}
	<div class="component">

		{{#if socialTitle}}<h5 class="component-title">{{socialTitle}}</h5>{{/if}}

		<div class="component-content">

			<ul class="share-links">
				{{#each socialLinks}}
					<li class="{{icon}}-share">{{render this cssClass="share-link"}}</li>
				{{/each}}
			</ul>

		</div>

	</div>
	{{/if}}

	<div class="site-copyright">
		{{disclaimer}}
	</div>

</footer>
